[2016-10-13 19:48] jenyoung opened #4 "media files not being removed from alps after batch ingest"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no
### Descriptive summary

After a successful batch ingest, media files are not being automatically removed from the folder on alps.
### Expected behavior

Media files removed from folder upon successful batch ingest.
### Actual behavior

Media files remain in alps folde

[2016-10-24 14:56] csyversen opened #5 "Chris, Brendan, and Karen needs ssh access (avr)"
We need ssh (and root) access to avalonweb2p, thanks!

[2016-10-24 16:08] Toputnal commented on #5
Will need to work with NUIT to allow access.

[2016-10-25 14:47] davidschober commented on #5
Thanks let us us know when you get an ETA @Toputnal

[2016-10-25 15:00] davidschober commented on #4
@jenyoung is this occurring on staging anywhere?

[2016-10-26 13:49] Toputnal commented on #5
Everyone should have access to: avalonweb1s, avalonweb2p, libwowza1p, libwowza1s, and alps.  I will verify access to andes, libsolr1s, libsolr1p, libfedora1p, libfedora(123)s, libdb1s, libdb1p.  Note that, with the exception of avalonweb2p and libwowza1p the remaining prod servers for AVR are not "puppetized," and use a hybrid authentication technique that allows NUIT to login to service our produ

[2016-10-26 13:51] davidschober commented on #5
Thanks jim. Team, can you review and close?

[2016-10-26 15:18] csyversen commented on #5
I just tried this out and wasn't able to ssh into any machine except for alps. I can reach the servers via the network, but kept getting a permission denied error

[2016-10-26 15:20] Toputnal commented on #5
Thanks for trying, Chris.  I'll check the logs and see what is going on.

[2016-10-27 17:00] Toputnal commented on #5
I am wondering if putting into place the changes David made on alps might make some of these machines start accepting passwords the way they ought to.  Investigating....

[2016-10-27 17:06] csyversen commented on #5
hey @Toputnal , talk to @mbklein about some of the puppet issues too. I think you guys might be able to bring the avalon servers more in line with the rest of our environment now

[2016-11-03 20:42] Toputnal commented on #5
A little update, here.  This is linked nulib/devops 8.

[2016-11-14 17:14] davidschober commented on #5
Team, can you verify this and close... I made this handy checklist.

- [ ] @bmquinn
- [ ] @kdid
- [ ] @csyversen

[2016-11-16 19:48] kdid commented on #5
@davidschober

NO for me on these as ksd927:
avalonweb1s
avalonweb2p
libwowza1p
libsolr1s
libsolr1p
libfedora1s
libfedora2s
libdb1s
libdb1p

OK for me on these as ksd927:
libwowza1s
alps
andes
libfedora1p
libfedora3s

*Also wasn't sure there were other users I need access to on these specific servers? For example like 'deploy' or similar.

[2016-11-17 21:17] jenyoung opened #6 "Access to ALPS Dropbox for Erin needed"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

 Erin cannot access alps.library.northwestern.edu/dropbox

[2016-11-21 15:02] Toputnal commented on #6
What is Erin's NetID?  Access to the Dropbox is done via Active Directory.  This ticket can be sent to standard Library IT, no need for DevOps.

[2016-11-21 19:12] davidschober commented on #5
@Toputnal Did you see ^^^^^ from @kdid ?

[2016-11-21 23:32] jenyoung commented on #6
help desk ticket submitted 11/21/2016 am.

[2016-11-22 14:53] ccaizzi opened #7 "Have to log in twice"
When a user goes to log in, the user is returned to the home screen not logged in, and has to log in once more in order to be logged in.

[2016-11-22 14:54] ccaizzi commented on #7
@davidschober i added MBK to this, but feel free to have someone else look into it.  i verified this on different computers, using different browsers.  and i have heard nicole say that this happens to her as well.  please verify.

[2016-11-22 20:37] csyversen commented on #5
NO for me on these as cas408:
avalonweb1s
avalonweb2p (is this a server?)
libwowza1p
andes

OK for me on these as cas408:
libwowza1s
alps
libfedora1p
libfedora3s
libsolr1s
libsolr1p
libfedora1s
libfedora2s
libdb1s
libdb1p

[2016-11-22 20:37] csyversen commented on #5
(also i checked off brendan because he's going to be out for a while, but he needs the same access as us)

[2016-11-28 16:19] Toputnal commented on #5
I'm working on these both one at a time and all-at-once as I try to identify any pattern as to why some devs don't have access, even when all the puppet-controlled auth stuff says it's working.

[2016-12-05 17:30] davidschober commented on #6
Per @Toputnal he added code necessary so that AD groups can be used to add permissions. The help desk should be able to handle this. Note, we need to make sure the help desk folks know that SSL VPN needs to be used.

[2016-12-05 17:31] davidschober commented on #6
Jen, we're going to close and let the help desk ticket handle it. @rtrautve1  can you make followup as necessary?

[2016-12-05 17:31] #6 closed

[2016-12-05 17:57] rtrautve1 commented on #6
Yes. I will follow up as needed if she is still having issues with access

Bob

From: davidschober [mailto:notifications@github.com]
Sent: Monday, December 5, 2016 11:31 AM
To: nulib/avalon <avalon@noreply.github.com>
Cc: Robert Stephen Trautvetter <r-trautvetter@northwestern.edu>; Mention <mention@noreply.github.com>
Subject: Re: [nulib/avalon] Access to ALPS Dropbox for Erin needed (#6)

Jen, we

[2016-12-08 20:34] davidschober commented on #7
can @mbklein or @csyversen take a peek at this?

[2016-12-08 22:02] csyversen commented on #7
@davidschober i think NU's avalon is due for an upgrade anyway, so once 6.x is released we can upgrade NU's version as well. That might take care of the issue

[2016-12-08 22:37] davidschober commented on #7
Good call. Closing. Will handle with upgrade.

[2016-12-12 15:30] Toputnal commented on #5
@kdid and @csyversen can you please retest?  I've cleared the check boxes so that you can check off every server into which you were previously unable to login.  Please leave unchecked any that still don't work.  Also note, ideally, we should be logging in using ssh keys instead of passwords, so please try logging in from a system that has your private ssh keys available.

[2016-12-12 17:21] csyversen commented on #5
@Toputnal done! avalonweb1s works with my ssh keys now!

[2016-12-12 19:29] kdid commented on #5
@Toputnal avalonweb1s is the only one of those on the list I can log into with SSH keys.

[2016-12-12 21:23] Toputnal commented on #5
@kdid were you able to login to the rest of the servers with your
password, or were you not able to log into them at all?

On Mon, Dec 12, 2016 at 11:29:14AM -0800, kdid wrote:

--
James Bottino
Senior DevOps SysAdmin
Northwestern University Libraries
Northwestern University
www.library.northwestern.edu
james.bottino@northwestern.edu
847.491.8389

[2016-12-13 16:58] jenyoung opened #8 "list of files still remaining on Alps after script working again"
I went thru my initial assessment again comparing what had been removed after the script was made to work again on Alps. There are still files that should be removed on Alps. I do not know if they are in the farchive.

[alps_list_2016.xlsx](https://github.com/nulib/avalon/files/649521/alps_list_2016.xlsx)

[2016-12-13 20:15] kdid commented on #5
@Toputnal

avalonweb2p - prompted for password but permission denied
 libwowza1p - ssh: connect to host libwowza1p.library.northwestern.edu port 22: Operation timed out
 libsolr1s - prompted for password but permission denied
 libsolr1p - prompted for password but permission denied
 libfedora1s - prompted for password but permission denied
 libfedora2s - prompted for password but permission denied

[2016-12-16 17:11] davidschober commented on #8
@mbklein and @Toputnal can you look at this list and confirm that these files are moved and can be removed?

[2016-12-16 21:01] davidschober commented on #4
@mbklein and @Toputnal reopening this for investigation. It looks like the problem is still occurring @jyo ran into the problem again today.

[2016-12-16 21:31] davidschober opened #9 "Adding new public collections to Avalon HP"
## DONE
New collection added to the HP of media.library.northwestern.edu

## Email from Laura

As I mentioned yesterday to Michael and Chris, I have been working on an audio collection of interviews with African authors from the Herskovitz Library. It’s nearly ready to be imported to AVR, and I was wondering if it would be possible to have a link to it on the homepage like the Marcellus and Footba

[2016-12-16 21:31] davidschober commented on #9
@Nic4Images can you update this issue when you have the collection ready to go?

[2016-12-16 21:35] ccaizzi commented on #4
can we look into this early next week please?

[2016-12-16 21:56] davidschober commented on #8
We might want to add more space by using an isilon share @david.schober no, we cannot add any space to Alps.  But we can request a new isilon share be created and mounted to Alps and then move all data the the lsilon the be sorted out later, thus clearing the locally attached storage on Alps.

[3:54]
To the isilon, rather

[2016-12-16 22:15] Nic4Images commented on #9
@davidschober yes!

[2016-12-19 16:25] mbklein commented on #4
I'm looking.

[2016-12-19 17:53] davidschober commented on #4
mbklein [11:32 AM]
@d-venckus The space issue on alps isn’t entirely masterfile content. There’s only 0.5TB in the masterfiles directory.

[11:33]
Matterhorn’s working directory (which is on the same partition) is at 2.4TB.

[11:33]
Almost all of which can be purged.

mbklein [11:39 AM]
There’s even a script to do it. https://wiki.dlib.indiana.edu/display/VarVideo/Maintaining+Matterhorn+Disk+Space

[2016-12-19 17:59] davidschober opened #10 "run matterhorn cleanup script to free up alps space"
2.4 tb is currently being eaten up by matterhorn files which can be cleaned up per conversation in #4 .

Please run investigate and run

https://wiki.dlib.indiana.edu/display/VarVideo/Maintaining+Matterhorn+Disk+Space

per MBK.

[2016-12-19 20:32] jenyoung commented on #4
my test: i tested batch ingesting one audio file. the ingest was successful but the audio file is still sitting in the Alps folder (jen_test).

[2016-12-19 20:35] Toputnal commented on #10
Has been run.  We now have 50% free on the Dropbox share.  We are still discussing the remaining 1.8 TB of data that the script did not delete and which dates as far back as 2014.

[2016-12-19 20:35] davidschober commented on #10
Great news. Thanks team. Keep us posted.

[2016-12-20 15:04] ccaizzi commented on #4
@mbklein apart from the cleanup script, it appears master files are still remaining.  will you continue to look into this today please.

[2016-12-20 16:53] mbklein commented on #4
@d-venckus @Toputnal User `avalon` still does not have write access to `/farchive/farchive20`.

[code]

Also, when I try to `ls -la /farchive/farchive20` as `avalon`, I get a bunch of `Permission denied` errors followed by a partial directory listing with borked permission masks:

[code]

The permissions look normal when I `ls` as `root`, but I've never seen a situation where a user could list fil

[2016-12-20 20:10] Toputnal commented on #4
fixed @mbklein .  T'was ye olde sticky bit which bit us!

[2016-12-21 14:59] ccaizzi commented on #4
@mbklein should we test once more?  @Nic4Images and @jenyoung want to try running another test?

[2016-12-21 15:29] mbklein commented on #4
I'll do a manual move using the avalon account, and then we can try an automated one.

[2016-12-21 15:30] mbklein commented on #4
OK, that's done. 😄 @Nic4Images @jenyoung feel free to try another.

[2016-12-21 15:36] Nic4Images commented on #4
Jen and I are on it. Update to come after 11AM!

[2016-12-21 21:05] jenyoung commented on #9
the metadata is good to go. just waiting on dropbox issue to be sorted

[2016-12-21 21:31] jenyoung commented on #4
@mbklein tested a video and audio file batch. went in and were removed from the dropbox as expected.

[2017-01-06 20:55] Nic4Images opened #11 "adding 2 files as sections to an existing “Course Media” item in Avalon – for a Monday 1/9/17 Course Reserves request"

[2017-01-06 20:56] #11 closed

[2017-01-09 17:41] #10 closed

[2017-01-09 17:42] #4 closed

[2017-01-13 20:05] Toputnal commented on #5
Checked with @kdid and we think that most of these are now fixed.  avalonweb2p and libwowza1p have firewall and or puppet issuses, so those may take a bit of hacking.  Will update when those two are also set.

[2017-01-13 20:18] Toputnal commented on #5
Ok.  I *think* we should be set now.  on everything.

[2017-01-19 22:25] davidschober opened #12 "Investigate farchive/ Files moved. Isilon report seems low"
## DONE

Give a report to CC about files moved, data in .

It seems for the last quarter we only increased our storage by ~2tb. Which seems considerably lower than it should be. @mbklein to investigate.

@d-venckus can you do a report on our isilon storage and attach to this ticket?

[2017-01-19 22:25] davidschober commented on #12
Thanks, MBK.

Kurt said: 1306 request for items of which 745 were closes so very likely already in AVR​.

A request is per title for video and he said they do not do full albums for audio requests.

So that is 561 new videos and audio.  Without knowing the split, this may be tough to assess, but I am worried about the AVR copies to Farchive during this time.

Besides over 2TB added from one collec

[2017-01-23 16:52] davidschober commented on #12
@mbklein will run an audit of files to ensure that master files exist in Farchive.

We will report a csv of Failures.

[2017-01-23 17:32] rtrautve1 commented on #8
MBK will do an audit - run through everything that is on Avalon.  After that - we can delete these files off of Alps

[2017-02-01 15:21] davidschober opened #13 "Qatar -- Professor reports unresponsive browser after pause"
Prof. Kaveh Askari is currently teaching 2 classes in Qatar (2017SP_MIT_351-0_SEC70 and 2017SP_MIT_398-0_SEC71) and has encountered the following issue with the playback of Avalon video titles for his classes…

If a video has been paused for about 10 to 15 minutes, he is unable to resume playback and the browser becomes unresponsive. This happens with both Chrome and Safari.

Kaveh reports that th

[2017-02-01 15:22] davidschober commented on #13
@Nic4Images tried to recreate and could not. Can you try one or two more times?

David

[2017-02-01 19:39] davidschober commented on #13
Still testing. I can recreate this by letting the video sit paused (idle) for >35 minutes. This seems like intended functionality. The system needs to verify the user is authenticated.

[2017-02-01 20:23] csyversen commented on #5
@Toputnal the only server i'm still having issues with is avalonweb2p

[2017-02-02 17:02] laura-alagna commented on #9
@davidschober @csyversen @mbklein The collection is ingested and ready in Avalon. See [Herskovits Library of African Studies Audio Collection](https://media.northwestern.edu/catalog?f%5Bcollection_ssim%5D%5B%5D=Herskovits+Library+of+African+Studies+Audio+Collection)

[2017-02-02 17:02] davidschober commented on #9
cool. Moving to ready.

[2017-02-02 22:41] davidschober commented on #8
@mbklein can you update after you're back next week?

[2017-02-09 22:57] davidschober commented on #9
@mbklein or @csyversen can you show @carrickr how to do this next week?

[2017-02-10 15:53] #13 closed

[2017-02-14 18:42] csyversen commented on #5
it looks like this issue is being held up by: https://github.com/nulib/devops/issues/4

hopefully once that's resolved we can close this issue too

[2017-02-22 14:38] ccaizzi commented on #12
@mbklein have you had a chance to work through this?

[2017-03-06 15:41] carrickr commented on #5
This is stale and problematic to the lack of a puppet fix.  We should revisit developer permissions once the devops issue has been resolved and developers (including the new hires) can be added via puppet or we decom the machine in favor of an Avalon 6 machine.  In the mean time we can get manual permissions in an emergency.

Clearing this off the board.

[2017-03-06 15:41] #5 closed

[2017-03-06 17:34] ccaizzi commented on #8
closing because @mbklein said

"
I’ve taken several passes throught the MasterFiles in Avalon and the files that remain in Avalon’s ingest/dropbox directories. As far as I can tell, all video files that should have been moved to farchived were moved either by Avalon or by my script the last time we had an Isilon quota issue.

The files that remain in the dropbox fall into the following categories:

[2017-03-06 17:34] #8 closed

[2017-03-13 16:10] ccaizzi commented on #12
below from @mbklein.  For the 1800+ files, he will generate a report for RDC DCM team to analyze.

Hi Carolyn,

Avalon automatically moves MasterFiles to /farchive after successful ingest and transcoding.

I’ve taken several passes throught the MasterFiles in Avalon and the files that remain in Avalon’s ingest/dropbox directories. As far as I can tell, all video files that should have been moved t

[2017-03-13 16:11] ccaizzi opened #14 "Generate report for DCM to analyze for the 1800+ audio files"
Michael found 1800+ audio files that did not get moved to farchive during his audit.  He will generate a report with file name and collection for DCM team to determine if there are records in AVR (spot checking makes sense) or if they were part of a failed batch and re-ingested, or if they were test/old files and not supposed to be moved.  related to issue #12 now closed

[2017-03-13 16:13] #12 closed

[2017-03-14 21:27] davidschober opened #15 "Decide on migration path for avalon 4-6 (data + metadata"
@carrickr can you add a link or drop in the thoughts you wrote up directly here?

[2017-03-14 21:29] carrickr commented on #15
@davidschober [White Paper is here](https://northwestern.box.com/s/z3oh0y251x2wbpeu4h4ryw2vwjwc4ghi)

[2017-03-15 14:41] carrickr opened #16 "Identify MVP Needs for NetGen"
So my thoughts are we need three main components:  Player, ActiveEncode (for derivatives), and ActiveStreaming.  We'd also have enriched metadata as a need, but it's not minimum out the door.  We can add that in as we go given our current Avalon instance doesn't have particularly rich metadata.

This would look something like:

**ActiveEncode**
- Ties into HydraDerivatives (integrated into Hyrax)

[2017-03-21 14:29] davidschober commented on #16
Carrick, I'm going to close this and add it to a wiki in the next gen repository.

[2017-03-21 14:30] #16 closed

[2017-04-03 20:20] jenyoung commented on #14
Michael created a spreadsheet for DCM to go through.
[leftover_dropbox_media_files.xlsx](https://github.com/nulib/avalon/files/891292/leftover_dropbox_media_files.xlsx)

Having said that, an initial pass shows that the majority of files are from Course Reserves and MMLC. We will need to confer with them about these files as well.

[2017-04-05 18:56] carrickr opened #17 "Grant Carrick Access To the Wowza Server(s) Please"
Hi,
Can I have access to `libwowza1p.library.northwestern.edu`?  I'd also like to know what you actually it when you SSH into it as I can't even get a response from it when on the SSL VPN.  I don't need any special power perks but I do need to be able to cat logs, etc.

Thanks!

[2017-04-12 16:04] Toputnal commented on #17
Hi @carrickr I've setup the requisite accounts for you, so this should be working now.

[2017-04-13 22:16] jenyoung commented on #14
Parsed out version of the file.
[leftover_dropbox_media_files.xlsx](https://github.com/nulib/avalon/files/921012/leftover_dropbox_media_files.xlsx)

[2017-04-17 14:33] carrickr commented on #17
I'm getting timeouts when trying to connect to `libwowza1p.library.northwestern.edu` via the NU SSL VPN.

[2017-04-19 14:48] Toputnal commented on #17
Hi @carrickr.  I have been able to duplicate the problem.  In regard to the SSLVPN subnets, there appear to be some firewall rules missing on the hardware firewall behind which libwowza1p resides.  I will open a ticket with NUIT to add the requisite rules.  The server IS up and accessible from the internal NU network, in case that is useful to know for a temporary workaround while we wait for NUIT

[2017-04-19 14:59] Toputnal commented on #17
Opened support request #523542 with NUIT for this.

[2017-04-21 13:35] Toputnal commented on #17
@d-venckus found that NUIT has, in lieu of learning firewalld or using iptables, has configured new RHEL 7 boxes using the good, old, trusty, even-if-limited tcp_wrappers for security on NUIT-managed systems and has included both SSLVPN networks into the allowed list, so @carrickr, you  should be good to go.

[2017-04-24 16:08] MarekBabala commented on #17
@carrickr can you test again , Please.  Thanks

[2017-04-24 16:12] #17 closed

[2017-04-27 21:54] davidschober opened #18 "Metadata problem preventing me from linking item to a class"
Hi Nicole,

I need to add Sharaku <https://avalonweb2p.library.northwestern.edu/media_objects/numedia:47291> to Avalon for a class, and I’m getting the below errors when I Import the metadata (ALMA # 21678441120002441).  Could this be fixed as soon as possible?  I can’t seem to add Access Control for the class until these Resourse Description errors disappear.  Please let me know.

Thanks!

Molly

[2017-04-27 22:09] jenyoung commented on #18
Hi – Molly is using the holding record ID. She should be using the ALMA bib ID. For this item it is 9980502858302441. I think this is the issue.

From: davidschober [mailto:notifications@github.com]
Sent: Thursday, April 27, 2017 4:54 PM
To: nulib/avalon <avalon@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nulib/avalon] Metadata problem preventing me from linking it

[2017-04-28 19:51] Nic4Images commented on #18
Fixed. Thanks MBK!

[2017-04-28 19:51] #18 closed

[2017-04-28 21:12] davidschober commented on #9
@mbklein this has been hanging around for a while, can you grab it?

[2017-04-28 21:17] davidschober opened #19 "Avalon on AWS Checklist"
## Overview of timeline

## < May 11 (prep work, systems ready)

During this cycle, the rdc team was largely heads down investing, drafting the AWS pilot proposal (https://github.com/nulib/repodev_planning_and_docs/wiki/Avalon-AWS-Pilot-%28Summer-2017%29), and ensuring we could pull this off.

- [x] Set up another meeting how/why/theory and maps #20
- [x] Dig into AWS Cloud watch / discuss strateg

[2017-04-28 21:21] davidschober opened #20 "Meet with devops/ Deep dive into AWS setup"
## Done looks like

@mbklein sets up a meeting with RDC/Devops to go over infrastructure, published cloud formation scripts, and next steps needed (represented in other tickets)

The goal of the meeting is for RDC/Devops to finalize the plan for the pilot and create any new issues/ carve out time for training if necessary.

Topics to be covered:

* Infrastructure
* Cloudformation
* Needs from moni

[2017-04-28 21:23] davidschober opened #21 "Develop plan for Cloudwatch/ Monitoring"
## Description

As we move forward with the Avalon on AWS pilot, we need a plan for monitoring. If systems fail, people will need to be notified and a call tree will need to be set up to bring the system back up. OPSgenie should get notifications.

Opsgenie integration with AWS Cloudwatch.

https://www.opsgenie.com/docs/integrations/aws-cloudwatch-integration

## Done looks like

- [x] Team feels

[2017-04-28 21:26] davidschober opened #22 "Deep dive/discussion of Avalon Cloudformation script"
## Description

Provisioning the Avalon in AWS environment is handled via cloud formation scripts. It is critical the Devops team have time to understand how the scripts work and what they do. MBK will give an overview, and point to any training.

## Done looks like

- [ ] the teams feel comfortable with cloud formation

[2017-04-28 21:29] davidschober opened #23 "Decide on Auth for Avalon on AWS/ Finalize setup"
## Description

We may switch from LDAP to NUIT's OATH for our sign in on Avalon. Per @mbklein  "I'd rather be dealing with tokens than firewalls"... The end goal is that authentication into Avalon works as expected for an end users : I can log in to Avalon using my netID and pass.

## Done looks like

* [x] NUIT is called for help, if necessary.
* [x] Documentation is written about authentication

[2017-04-28 21:31] davidschober opened #24 "Write system down plan / Call Tree for outages"
## Description

When things fail we need to know who to call when. This is somewhat related to #21.

## Done looks like

- [ ] documents written describing outage/ system down plans

[2017-04-28 21:34] davidschober opened #25 "Master files should sync to local storage"
## Description

Master files in Avalon should sync to local storage during the pilot phase. We have not made a decision about long term storage of files, and it is out of scope for this project. For now we want to have a copy of renamed master files (not derivatives) synced to local storage.

## Done looks like

- [x] master files are stored locally
- [ ] Decision is made whether to keep files on

[2017-04-28 21:36] davidschober opened #26 "Create a full cost analysis after 1 month of pilot"
## Description

Based on data from the pilot, come up with a cost breakdown. In addition, we should verify that there are no more cost-saving measures we should be taking (reserved instances/ glacier or reduced redundancy storage for certain files / smaller instances based on load_

## Done looks like

- [x] analysis document is written and published
- [x] action items written for cost savings mea

[2017-04-28 21:38] davidschober opened #27 "load test Avalon on AWS"
## Description

Before go-live we should load-test avalon on AWS.

## Done looks like

- [x] a realistic load is discussed
- [ ] scripts are written for load testing (do we have a tool for this?)
- [ ] crank is turned

[2017-04-28 21:40] davidschober opened #28 "Improvements suggested after monitoring of pilot"
## Description

This is our first crack at this. We will have lots of room for improvement. The goal is to develop a list of action items to take after/ during the pilot to:

* improve performance
* Reduce cost
* increase redundancy (if necessary)

[2017-04-28 21:44] davidschober opened #29 "Train Course reserves staff on new system"
## Description

Train Cecile and Molly on  features of the new system. Of note, playlists and markers, fast uploads and batch ingestion.

[2017-04-28 21:45] davidschober opened #30 "Migrate derivative data to AWS"

[2017-05-02 20:23] adamjarling opened #31 "Adam: Install Avalon 6 locally"
Set up a local instance for development.

[2017-05-02 20:41] adamjarling opened #32 "NU Avalon - UI Northwestern Branding"
### Description
Apply Northwestern branding styles to NU's Avalon 6 application

### Done Looks Like
- [x] #34 Apply NU Branding Sass/CSS to Rails app
- [x] #35 Header & footer
- [x] #36 Search
- [x] #37 Favicon
- [x] #38 Page layout
- [x] #39 Side navigation styling
- [x] #40 Homepage (re-create current Browse functionality)

[2017-05-02 20:52] davidschober opened #33 "Create Avalon 6.x fork/GH to customize"
## Description

We need to either create a new GH repo or update the current 4.x gh repo/fork (this one here!). This should be done ASAP so Adam can start to work on customizing avalon.

[2017-05-02 20:52] adamjarling opened #34 "Apply NU Branding Sass/CSS to Rails app"
### Description
Create a Northwestern look & feel to NU's Avalon application by using NU template Sass files.

### Done Looks Like
- [x] NU's Sass files included in the application
- [x] NU base level styling applied
- [x] NU styles and Bootstrap styles are imported in the correct order
- [x] Declare Sass variables representing NU colors, sizes, etc used in Bootstrap's compilation

[2017-05-02 20:58] adamjarling opened #35 "Create new header & footer"
### Description
Customize application header and footer to use NU's branding header and footer templates.

### Done Looks Like
- [x] Include NU template header and footer markup
- [x] Apply header and footer styling
- [x] Update text and links

[2017-05-02 21:09] adamjarling opened #36 "Update Search Styling and Functionality"
### Description
Update Avalon's default search styling to NU branding.  Verify default search functionality works.

### Done Looks Like
- [x] NU's search styles applied
- [x] Default search functionality works as expected

[2017-05-02 21:19] adamjarling opened #37 "Use NU Favicon"
### Description
Use Northwestern favicon instead of Avalon favicon

### Done Looks Like
- [x] Northwestern favicon appears in browsers

[2017-05-02 21:22] adamjarling opened #38 "Use NU Template Page Layouts"
### Description
Use NU template page layout types to display content.

### Done Looks Like
- [ ] Update markup in app to use NU template markup
- [x] Adjust CSS / styling to ensure display is consistent with NU branding

[2017-05-02 21:24] adamjarling opened #39 "Apply NU Styling to Sidebar"
### Description
Update Avalon sidebar to reflect NU sidebar branding.

### Done Looks Like
- [ ] Avalon sidebar visually looks like NU template sidebar

[2017-05-02 21:28] adamjarling opened #40 "Update Homepage"
### Description
Update NU Avalon homepage to reflect NU branding, and to incorporate 'Browse' functionality.

### Done Looks Like
- [x] Come up with idea to incorporate Avalon's default 'Browse' functionality

[2017-05-02 21:33] davidschober commented on #32
This looks awesome! Thanks Adam...

[2017-05-02 21:36] davidschober commented on #15
@csyversen and @carrickr I'll have you two help @mbklein out with this. The go live date is critical.

[2017-05-02 21:38] mbklein commented on #15
I believe we should identify a subset of items for a targeted test migration. Maybe 25-30 items covering 2-3 collections.

[2017-05-02 21:41] davidschober opened #41 "Migrate test set of items"
This is pre work for #15 and #30

25-100 items should be migrated for testing purposes.

- [ ] ID test set of items
- [ ] move derivatives
- [ ] create HLS streams
- [ ] move metadata/reindex in whatever way we deem so.

[2017-05-02 21:42] davidschober commented on #15
@mbklein done. I just kicked off #41

[2017-05-02 21:43] mbklein commented on #15
It is my hope that Avalon itself will be stable enough to start doing iterative test migrations within a few days, whether using the generic or NU skin.

[2017-05-02 21:44] davidschober commented on #15
Right, I think we can test migrations without the skin. In fact having data will help Adam in his quest...

[2017-05-02 22:34] jenyoung commented on #14
I reviewed what I could of the NUL portion. There's a few that I am unsure about. @Nic4Images can you investigate those please?  Also, @laura-alagna, the Herskovits files that are left seems to have conversion errors. I'm not sure if you're aware.

I didn't look at the course reserves/mmlc tabs. They should review that part.

[leftover_dropbox_media_files.xlsx]
(https://github.com/nulib/avalon/fil

[2017-05-03 14:41] Nic4Images commented on #14
Shall I ask Cecile and Molly to review the reserves/mmlc tabs or has someone already done that?

[2017-05-03 15:17] Nic4Images commented on #14
@jenyoung I reviewed the NUL portion and everything that is left unmarked appears to be @laura-alagna so I have nothing more to add. In the meantime I sent the spreadsheet to Molly and Cecile and asked them to tag their content move or delete.

[2017-05-03 16:35] carrickr commented on #15
@mbklein Do we want to try some course reserve items?  They have full movies in there which seems to the biggest and also comes with a boatload of permissions regarding classes.

[2017-05-03 21:14] #31 closed

[2017-05-04 20:31] mbklein commented on #22
CloudFormation templates and build scripts: https://github.com/mbklein/aws/tree/infrastructure

[2017-05-04 20:36] davidschober commented on #27
NUIT has licenses for load runner. We could ask them to do a single pass/ help train us up

[2017-05-05 19:31] mbklein opened #42 "Add OpenAM/SSO Support"
- [ ] Contact Ruby Rebolledo and find out how to configure OAuth
- [ ] Configure OAuth

[2017-05-05 21:11] davidschober commented on #23
@mbklein Does this belong to you or Devops?

[2017-05-05 21:14] davidschober commented on #20
### Notes from Avalon Meeting

One big VPC / 10. subnets, inaccessible

we are using redis for caching
each major compoennt (zookeeper(solr configuration manager), solr, avalon, fedora)

- Overview of diagram
    + beanstalks == loadbalancer and ec2 instances

**inside vpc**

- zookeeper
    + With solr, you have to load configs, create core, back up, etc
    + Avalon connects to zookeeper, hands

[2017-05-05 21:15] davidschober commented on #20
@carrickr @mbklein @d-venckus @Toputnal Can you edit the minutes/ add to them? And write out any tasks not represented

FYI:
@ccaizzi @rtrautve1

[2017-05-05 21:20] davidschober commented on #25
Note, we decided this might be able to be handled manually during the pilot.

[2017-05-08 16:07] #20 closed

[2017-05-08 16:35] davidschober opened #43 "Verify necessary users are in AWS Avalon groups"
- [x] David dsc712
- [x] jim jre700
- [x] David V. drv460
- [ ] Carrick Rogers
- [ ] Chris Syverson
- [ ] karen d
- [ ] brendan q.

[2017-05-08 16:46] davidschober opened #44 "Publish AWS network diagram"
Publish out the network diagram for Avalon in AWS. Just attach to this issue. I'll put it in the wiki.

[2017-05-08 22:12] #42 closed

[2017-05-09 21:23] davidschober opened #45 "Create local repository to customize / push to Amazon"
@mbklein @adamjarling  has started to work on customizing Avalon 6.x for NU. We need a repo for him to push to (and you to pull from ) for http://avalon.repo.rdc.library.northwestern.edu.

Can you take this and run with it?

[2017-05-10 17:49] rtrautve1 commented on #43
I will send this list to matt stork to add remaining users into the appropriate ADS group giving permissions to the NexGen AWS account

[2017-05-10 18:15] davidschober commented on #44
https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-Technical-Documentation

@Toputnal @carrickr @mbklein

I filled out the technical work, roughly. It needs refinement of course. Marking as done. We will continue to refine.

https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-Technical-Documentation

[2017-05-10 18:15] #44 closed

[2017-05-10 19:11] rtrautve1 commented on #43
@bmquinn @carrickr @csyversen @kdid
please go to  aws.northwestern.edu/  and confirm you can log into  NexGen  AWS workspace - remember to select  N. Virginia as the region - and you should be able to get in and see MBK work

[2017-05-10 19:12] rtrautve1 commented on #43
@davidschober   - FYi - moving this to review - Matt S has added all into ADS group and they should test to confirm access

[2017-05-11 20:19] davidschober opened #46 "Migration Timeline for Avalon 6.x AWS pilot"
## TIMELINE

- skinning @adamjarling May 11-May 21.
- System Stable @mbklein May 15
- Migration path/ test 2-3 collections @carrickr  May 15
- Migration Frist run @carrickr @mbklein  May 30
- Metadata testing ( @jenyoung ) June 1 -7
- Testing (Everyone) June 5-12 (June 8 Cecile and Molly will be testing)
- Tell Molly/ etc that new material should be loaded in new system **only** June 5?
- Producti

[2017-05-11 21:31] davidschober commented on #46
@mbklein, @adamjarling  and @carrickr can you review and approve this timeline (this is our golive shortlist)

[2017-05-11 21:33] adamjarling commented on #46
From front-end / skinning angle, looks good.  Skinning work should be pretty far along by next week.

[2017-05-11 21:49] ccaizzi commented on #14
any updates  @laura-alagna and @Nic4Images  from Molly and Cecile.
We need this done before the upgrade ( @davidschober )

[2017-05-15 15:09] davidschober commented on #23
This is done, right?

[2017-05-15 15:09] #23 closed

[2017-05-15 15:57] carrickr opened #47 "Determine How To Connect Images-P and the Amazon Stack"
My understanding (correct me if I'm wrong @mbklein) is that right now you need a VPN to connect into AWS machines.  To load the data into the Fedora up on AWS, I assume we don't want to install a VPN on avalon-prod, rather we want to either set up some kind of keypair or else temporarily expose our Amazon Fedora to avalon-prod while we push data.

[2017-05-15 16:27] #43 closed

[2017-05-15 16:42] davidschober opened #48 "How do we handle security patches AWS"
## Description

Currently we're unclear on how security patches will work in an AWS cloud environment (burn instance and bring it back up, patch hot, etc). In particular do we have a plan for SOLR ( @mbklein ), etc. If we can burn things down and bring it back up, it should be OK.

## Notes

[2017-05-15 16:44] Toputnal commented on #21
I'll dig in to Cloudwatch and integration for OpsGenie.

[2017-05-15 16:57] davidschober commented on #27
Can we get time from NUIT? Maybe use bees with machine-guns?

[2017-05-15 16:58] davidschober commented on #24
This should be informed by #21

[2017-05-15 19:11] davidschober commented on #27
Note, We're using cloud front so traditional load testing gets a bit fuzzy <http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/load-testing.html>

[2017-05-15 21:44] laura-alagna commented on #14
according to @davidschober the Herskovits files would be a good test case for after the upgrade. Waiting for the green light post-upgrade and I will reingest them then

[2017-05-16 16:20] Toputnal commented on #21
It looks like there is a method to setup SNS Topics in Cloudwatch such that Cloudwatch will send alerts to OpsGenie via OpsGenie's API.  In my test environment I don't have anything to monitor, yet, but I will setup something simple and test the Cloudwatch integration.  If all goes well, then we'll need to configure our production Avalon instance's Cloudwatch with SNS alerts to OpsGenie's web API.

[2017-05-16 16:23] Toputnal commented on #21
Oh, and I should mention that if an alert clears itself in CloudWatch, that will automatically update and close the alert in OpsGenie, assuming we get the integration setup as I mentioned above.

[2017-05-16 16:32] d-venckus commented on #21
Unlike with Solarwinds, lately, where I’ve been clearing alerts, only to have OpsGenie persist in endless badgering.  Sigh.

--D

________________________________________
David Venckus,    DevOps Systems Administrator
Library IT Infrastructure
Northwestern University Library
d-venckus@northwestern.edu<mailto:d-venckus@northwestern.edu>

From: James R Bottino [mailto:notifications@github.com]
Sent:

[2017-05-16 17:37] Toputnal commented on #21
I have created an Topic in our AWS instance so that any messages that go to @mbklein's email also alert OpsGenie, theoretically.  We could use some kind of artificial alert to ensure things are working, but I'll leave what that test might be to @mbklein.  @davidschober

[2017-05-16 18:36] jenyoung opened #49 "Alter test template for new AVR"
We need a new testing script for Avalon 6.0 - below is the one used for the Avalon project. We need to alter for local testing.

## **DONE LOOKS LIKE**
- script below is altered for NUL testing

## **SCRIPT**

## Testing

Using the spreadsheet below, please complete assigned sections and kick off bugs.
### [create copy of the testing template](https://docs.google.com/spreadsheets/d/1v-K4NWEPyERabH

[2017-05-16 19:28] davidschober commented on #21
@Toputnal Not sure what you mean with the last comment. I think we need to ensure the main systems are up and respond

- Fedora
- Avalon Web
- Avalon Workers
- SOLR

Is that what you're looking for?

[2017-05-16 20:37] adamjarling opened #50 "NU Avalon: Responsive UI"
### Description

Make the NU Avalon responsive initially without major structural updates to the Avalon templating.

Note: There is only so much which is possible give Avalon's default markup. The scope of this ticket is to fix/update any UI issues which are major after applying NU brand assets.

[2017-05-17 16:04] Toputnal commented on #21
Oh, sorry.  When I was poking around in our AWS stuff I saw an alert rule already that was set to email MBK, which I copied to create a rule that has the same triggers as the existing alert rule.  So, whatever MBK was getting emailed about will now also go to OpsGenie.  That’s the theory, anyway.

Creating some test/false-alert/etc. that will cause MBK to receive an email alerts from AWS, should l

[2017-05-17 16:11] Toputnal commented on #21
@davidschober ^

[2017-05-17 16:16] d-venckus commented on #21
Will OpsGenie also alert MBK a second time, Jim?  Is that the idea?  To test OpsGenie connectivity fully?

[2017-05-17 16:23] Toputnal commented on #21
Eventually, yes, @d-venckus, but for now I just wanna see some Blinkin' lights!  :-)

[2017-05-17 17:50] davidschober commented on #21
Got it. Can someone document what we're monitoring?

[2017-05-17 17:51] davidschober commented on #48
@mbklein can you jot down some notes about this? It sounds like most of the systems were handled but the devops folks wanted to make sure they understood how to patch/bring up our SOLR instances.

[2017-05-17 17:52] davidschober commented on #33
@mbklein by the chatter it sounds like this is in progress.

[2017-05-17 17:56] davidschober opened #51 "Set derivatives bucket to reduced redundancy"
## Description

In order to hold down costs, we should set the derivatives storage to reduced redundancy. These are easily regrettable files, and even at this level are fairly durable.

## Done looks like
- [ ] derivatives bucket set to RR

[2017-05-17 18:00] davidschober opened #52 "Move Avalon Derivatives, create HLS as necessary"
## Description

Move production Avalon Derivates to AWS bucket in preparation for cut over. We will need to mark time that this occurs as well, so we can grab any diffs production or course reserves works on in the meantime.

## Done looks like

- [x] Derivates are moved
- [x] Date is noted for final diff move

[2017-05-17 18:01] davidschober opened #53 "Evaluate and retranscode very large derivatives"
## Description

It seems like we have several very large derivatives (derivatives that are larger than masters). We should evaluate and retranscode as necessary. This ideally should take place before cutover.

[2017-05-17 18:09] davidschober commented on #22
@Toputnal and @d-venckus you two started digging into this correct?

[2017-05-17 19:11] Toputnal commented on #21
I'm not certain what the existing monitoring that is setup in AWS is actually monitoring.  (That is, what alarms are currently setup to email @mbklein).  I'll dig in and see what I can find (without changing anything, at first, obviously).  If I accidentally break anything, our SOP is to blame  @egspoony ;-) (Back me up on this @d-venckus)!

[2017-05-17 20:07] Toputnal commented on #22
I have read through the Avalon Cloudformation script and have been reading about AWS, watching videos about AWS, creating EC2 instances and deleting them (by hand, not programmatically), etc.  So, I have approximately half a clue now.  ;-)

--
James Bottino -- DevOps Systems Administrator
Northwestern University Library -- Library Technology Division
1970 Campus Drive, Evanston, IL 60208
james.bot

[2017-05-18 17:32] Toputnal commented on #21
I have setup alerts for all the services listed above, minus RDS which is provided as a service to us rather than being a service that we run on top of some EC2 instance.  Does what I've added look good to @d-venckus , @davidschober @mbklein

[2017-05-18 17:54] Toputnal commented on #21
I have setup a Dashboard in CloudWatch called "JRBDashboard" which shows what things we are now setup to alert OpsGenie, so that's probably a good place to look at our current AWS/OpsGenie integration.  @d-venckus @mbklein @davidschober

[2017-05-18 18:40] davidschober commented on #21
@mbklein I'll let you take a peak and OK it. @Toputnal and @d-venckus can you write up some brief docs on what we are monitoring, how to set it up, etc? You can put it <https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-Technical-Documentation#monitoring-via-cloudwatch> or you can send me a doc and I can c&p.

[2017-05-18 21:39] Nic4Images commented on #46
Copying from email to GitHub ..

From: Nicole Finzer <n-finzer@northwestern.edu>
Date: Thursday, May 18, 2017 at 11:41 AM
To: Carolyn Caizzi <carolyn.caizzi@northwestern.edu>
Cc: David Schober <david.schober@northwestern.edu>, Cecile-Anne Sison <c-sison2@northwestern.edu>, Molly Zolnay <m-zolnay@northwestern.edu>
Subject: AVR 6.0 Testing

Hi Carolyn,

David and I met with Molly and Cecile this mor

[2017-05-19 18:34] jenyoung commented on #46
we need to develop a plan for DCM's involvement in the migration.

[2017-05-19 19:17] adamjarling commented on #40
Opted here to default display Avalon's stock homepage, with some updates to the default images to make look a little more clean.

[2017-05-19 19:20] adamjarling opened #54 "NU-Avalon - Fix search results with no facets"
### Description
When searching for an item with no facets apparently, the sidebar still displays with no content.  This makes the search results have unnecessary indentation.

### Done Looks Like
- When a searched item has no facets, hide the sidebar (because it will have no sidebar content).

![nu-avalon-search-results-no-facets](https://cloud.githubusercontent.com/assets/3020266/26263519/c9db3d1

[2017-05-19 19:23] adamjarling opened #55 "NU Avalon - Share tabs update to NU branding"
### Description
Replace default tab styles in 'Share' dropdown with NU Branding tab style.

### Done Looks Like
- Share tabs resemble NU branded tabs

![nu-avalon-tabs](https://cloud.githubusercontent.com/assets/3020266/26263618/22db4de0-3c9f-11e7-9bc8-31747be816e6.png)

[2017-05-19 20:28] davidschober opened #56 "Fix "add to playlist" styles"
## Description

When clicking "add to playlist" the styles should match NU's general branding et.c

![screen shot 2017-05-19 at 3 25 59 pm](https://cloud.githubusercontent.com/assets/4803230/26265676/b1a95dfc-3ca7-11e7-9b77-a31ef4d3f1e6.png)

[2017-05-19 20:35] adamjarling commented on #56
@davidschober Good catch.  There's some other Mediaelement styles which need to be updated as well.  I'll add to the ticket.

[2017-05-19 21:35] davidschober opened #57 "Update Spreadsheet with costs/ models"
## Description

This [spreadsheet](https://docs.google.com/spreadsheets/d/1A6H34NjstDWO5S76t-GXUqnZDLSsFmLUtmajHuKVw-k/edit#gid=184437513) is all of our services. Need a cost model analysis on each of these items and how whether we can tighten up.

This is related to #26

[2017-05-22 14:26] Toputnal commented on #21
I will update the doc you listed above @davidschober as soon as we stabilize the thresholds of the things we are monitoring.  Currently, we have quite a bit of "noise" which we are still ironing out.

[2017-05-22 15:48] davidschober commented on #33
This is done.

[2017-05-22 15:48] #33 closed

[2017-05-22 15:49] carrickr commented on #33
https://github.com/avalonmediasystem/avalon/tree/6.x-aws-s3

[2017-05-22 16:19] davidschober commented on #21
Thanks @Toputnal

[2017-05-22 16:20] davidschober commented on #22
@d-venckus did you get a chance to review these? I'll move to in-progress.

[2017-05-22 16:21] davidschober commented on #51
@mbklein I think you said you worked on this.. Right? if so, can you close?

[2017-05-22 16:22] davidschober commented on #15
@carrickr it looks like we have a plan. Can you write up an extra technical issues and through them in the current sprint?

[2017-05-22 16:22] #15 closed

[2017-05-22 16:32] davidschober commented on #45
closed. @adamjarling can you drop the URL in here?

[2017-05-22 16:32] #45 closed

[2017-05-22 16:34] Toputnal commented on #27
I'll ask around at NUIT to see who to contact?

[2017-05-22 16:34] adamjarling commented on #45
@davidschober For now, here is where we're pushing the skinning code, but this will likely change by end of week:  https://github.com/nulib/avalon/tree/nu-avalon-skin

[2017-05-22 18:15] davidschober opened #58 "Test ffv1 format in Avalon AWS"
## Description

the production team has proposed using the [ffv1](https://en.wikipedia.org/wiki/FFV1)  standard as a digitization standard for ?analog? videos. We need to test whether or not Avalon in AWS can ingest these without issue

## Done looks like

- [x] an ffv1 video is created and a link is attached to the comments below
- [x]  A video is uploaded to [avalon in AWS](http://avalon.repo.rd

[2017-05-22 18:32] davidschober commented on #27
Sounds good. I’m trying to see if IU can help out as well.

[2017-05-22 18:48] jyocumNU commented on #58
Uploaded ffv1 file.  Looks like it worked.
http://avalon.repo.rdc.library.northwestern.edu/media_objects/x920fw84d

[2017-05-22 18:51] davidschober commented on #58
Awesome thank @jyocumNU @mbklein It looks like AWS transcoder handles ffv1 out of the box. They are pretty large though (1 minute was ~700megs) uncompressed. So we will definitely not want to store files like this longterm on s3.

[2017-05-22 18:51] #58 closed

[2017-05-22 19:55] davidschober opened #59 "Ensure we have access to cost allocation tags"
Bob,

We don't seem to have cost-allocation tags. Can we make sure that @mbklein @ccaizzi and I have access to this:

https://console.aws.amazon.com/billing/home?region=us-east-1#/preferences/tags

[2017-05-22 20:02] davidschober opened #60 "Verify metadata migration"
Spot check metadata on Avalon Prod <http://avalon.repo.rdc.library.northwestern.edu/>

- [x] Verify metadata (not media file)
- [x] Go over errors on live system [Report here](http://avalon.repo.rdc.library.northwestern.edu/admin/migration_report/MediaObject?status=failed)
- [x] Give team thumbs up here

[2017-05-22 20:03] Nic4Images commented on #46
Enter this info in here or Box:

1. Link to user guide in AVR wiki (like Arch)
2. Whats currently in the AVR footer (find course reserves process and put straight to link)

[2017-05-22 20:04] davidschober opened #61 "Migrate all production data to Avalon AWS"
## Description

- use work from #60 and make it real.

[2017-05-22 20:05] davidschober opened #62 "Add "about" and "Help" mimicking Arch HomePage"
## Description

 Avalon 6 skinned looks a bit odd missing "Help" and "about" . Can we add two static pages that have content.

## Done looks like

Uses text from issue #63

[2017-05-22 20:05] Nic4Images opened #63 "Create About and Help text for AVR 6.0"
Enter this info in here or Box:

Link to user guide in AVR wiki (like Arch)
Whats currently in the AVR footer (find course reserves process and put straight to link)

See #62
https://northwestern.app.box.com/notes/174914712850

[2017-05-22 20:06] davidschober commented on #62
![screen shot 2017-05-22 at 3 02 45 pm](https://cloud.githubusercontent.com/assets/4803230/26326311/3b30ac88-3f00-11e7-84a6-79dbe850b9e0.png)

[2017-05-22 20:09] davidschober commented on #47
@carrickr is this supposed to be an avalon one or is this a more general issue?

[2017-05-22 20:14] davidschober opened #64 "Change DNS for Avalon AWS"
- On golive, move DNS
- you know make it so

[2017-05-22 20:22] rtrautve1 commented on #59
Ok. I thought MBK could see it.  I never got a response from the DLT folks (who are our vendor for AWS) concerning the cost-allocation tags that MBK was using. So I'll get Carolyn access and then follow up again with DLT on the cost allocation tags - these really are important as you know if we have multiple projects in the same space - we need to be able to distinguish the costs between different

[2017-05-22 20:39] Toputnal commented on #27
I have emailed Christine Lang who Tom Halloran at NUIT indicated was the person to contact for LoadRunner testing.

[2017-05-22 21:37] davidschober opened #65 "Wire up Canvas/ Canvas test environment"
## Description

We need to ensure that canvas works with our Avalon on AWS instance.

## Done looks like
- [ ] dev/test environment wired up to canvas test
- [ ] live wired up to canvas prod.

[2017-05-22 21:38] davidschober commented on #65
We do - the address is:
https://northwestern.test.instructure.com

You should be able to log in with your admin account.  Is there a particular set up you need for testing purposes?  If so, perhaps we should meet to discuss.  Please note that the test server refreshes every three weeks (here is the schedule) so it's best to start at the beginning of the period so your work doesn't get wiped.

[2017-05-23 13:56] davidschober opened #66 "Develop internal document to discuss how we can do SAAS"
## Description

Other school have shown interest in using Avalon. In the past, we have worried about mixing too many repositories together. Now that we are piloting Avalon on AWS, we would like to develop a white paper describing how an "internal SAAS" might work.

* This pilot program would be hosted by the library via AWS,
*  it may or may not share a single Fedora repo/backend with multiple hea

[2017-05-23 15:12] #55 closed

[2017-05-23 15:12] #54 closed

[2017-05-23 15:12] #40 closed

[2017-05-23 15:12] #36 closed

[2017-05-23 15:12] #37 closed

[2017-05-23 15:12] #34 closed

[2017-05-23 15:12] #35 closed

[2017-05-23 15:12] #38 closed

[2017-05-23 15:12] #39 closed

[2017-05-23 15:13] #50 closed

[2017-05-23 15:18] mbklein commented on #51
Done.

[2017-05-23 15:18] #51 closed

[2017-05-23 15:21] mbklein commented on #48
It depends on the part of the stack and the thing being patched. OS patches should come from AWS via their platform updates. Application updates should be applied as app bundles. Other things (like installed packages) can be updated hot. Fedora and Rails should be able to be burnt, updated, and brought back up without losing anything.

[2017-05-23 15:22] adamjarling commented on #62
@davidschober

- Do you want "Help" and "About" to be links next to where "Browse" is currently located?
- And displayed initially when the user is NOT logged in?
- And what happens when user is logged in, keep links in the main navigation area?

[2017-05-23 15:33] davidschober opened #67 "Streams not working on Chrome"
## Description

Technical support
Comment
most of the master classes do not load at all for me, in general I press the play button and nothing happens, I used to be able to listen to the master classes before but recently the application is not working for me. Thanks for your help.
Received
2017-05-22T21:04:58-05:00

[2017-05-23 15:35] davidschober commented on #67
![settings - content settings 2017-05-23 10-30-40](https://cloud.githubusercontent.com/assets/4803230/26362436/8c4ece12-3fa3-11e7-98c7-f08277f68975.png)

Possible work around

[2017-05-23 15:47] davidschober commented on #67
@Nic4Images It looks like chrome is blocking flash and has a bug that isn't giving a user a warning. To fix this a user should go to preferences:

![screen shot 2017-05-23 at 10 44 18 am](https://cloud.githubusercontent.com/assets/4803230/26362825/d0f12a14-3fa4-11e7-844d-5b6d3a8a42d5.png)

Click "show advanced settings"

Click "Privacy --> Content Settings"
![screen shot 2017-05-23 at 10 45 55 am]

[2017-05-23 15:48] davidschober commented on #67
@Nic4Images do you want to try that out? @carrickr that looks like the workaround for now, correct?

[2017-05-23 15:53] Nic4Images commented on #67
I did all of this and now it is playing in Chrome.

[2017-05-23 15:54] Nic4Images commented on #67
Note from Juan : I am on windows 10 on my PC, your suggestion made me try on my phone which can use safari, this indeed works just fine.

[2017-05-23 16:03] adamjarling commented on #62
@carrickr @mbklein There looks like a route collision in trying to set up a new About page in NU Avalon.  Chris suggested I ask you guys how to handle?   Currently there's an About route which gives server info?

[2017-05-23 16:43] adamjarling commented on #62
@davidschober Is there content for the About and Help pages, or does this still need to be created?

[2017-05-23 17:37] davidschober commented on #62
That still needs to be created. Go ahead and lorem ipsum for now. I'll see if I can get it for us.

[2017-05-23 17:37] adamjarling commented on #62
Got it

[2017-05-23 17:38] davidschober commented on #63
@Nic4Images can you grab the content you wanted for help and about? I can act as editor if you need it.

[2017-05-23 18:08] davidschober commented on #67
@Nic4Images per our discussion. Let's put this on the page. Ideally it should go on the item page as users come at this from all around.

"Having trouble streaming with Chrome? [Find out how to unblock Flash Player.](link to doc)"

@Nic4Images can you verify that ^^^ is good with you?

[2017-05-23 18:17] Nic4Images commented on #63
https://northwestern.app.box.com/notes/174914712850

[2017-05-23 18:18] davidschober commented on #63
Awesome!

[2017-05-24 00:27] mbklein opened #68 "Write script to Sleep/Wake dev environment"
Suspend EC2 and RDS instances when not in use to save money

Depends on:
- [ ] ~#69~
- [x] #70
- [x] #71
- [x] #72

[2017-05-24 00:49] mbklein opened #69 "Sleep/Wake RDS instance"
- Pause:
  - [ ] Create snapshot
  - [ ] Terminate Instance
- Restore:
  - [ ] Create instance from snapshot
  - [ ] Rewrite Route 53 alias to point to new instance

[2017-05-24 00:50] mbklein opened #70 "Sleep/Wake webapp/workers"
Procedure:
- [ ] Scale down to `min: 0, max: 0` to sleep
- [ ] Scale back up to wake

[2017-05-24 00:52] mbklein opened #71 "Sleep/Wake fcrepo"
- [ ] Scale down to `min: 0, max: 0` to sleep
- [ ] Scale back up to wake

Note: This _should_ work, because object data lives in S3 and RDS. But there's some ephemeral JMX data on the local EBS volume that hopefully won't matter.

[2017-05-24 00:55] mbklein opened #72 "Sleep/Wake solr & zookeeper"
This is tricky, and might require a lot of trial and error.

- Sleep:
  - [ ] [Back up](https://cwiki.apache.org/confluence/display/solr/Making+and+Restoring+Backups) collections and shards
  - [ ] Scale down to `min: 0, max: 0`
- Wake:
  - [ ] Scale up to 3 nodes
  - [ ] [Restore](https://cwiki.apache.org/confluence/display/solr/Making+and+Restoring+Backups) collections and shards

Zookeeper's co

[2017-05-24 19:54] jenyoung commented on #49
@davidschober this version is for R5. is there an R6 version?

[2017-05-24 21:43] davidschober opened #73 "Full Regression Testing Avalon 6.0 (NU)"
Using the spreadsheet below, please complete assigned sections and kick off bugs.
### [create copy of the testing template](https://docs.google.com/spreadsheets/d/1v-K4NWEPyERabHHCMPADI79P-d1FAu2_fqy_dgfngdI/copy)

And save it to [Repository and Digital Curation Shared Docs/TestScripts/completed_scripts](https://docs.google.com/spreadsheets/d/13cWzYMIMRZJ877_5Lbpf8VQNl2628jbq8kWnlsRJM3w/edit?usp=s

[2017-05-24 21:55] jenyoung commented on #49
closing. use #73

[2017-05-24 21:56] #49 closed

[2017-05-30 16:18] davidschober commented on #62
@adamjarling check https://northwestern.app.box.com/notes/174914712850 for text

[2017-05-30 16:19] davidschober commented on #62
Also, we made a decision this morning that the current 'about' page would be routed to "/health" @mbklein or @carrickr

[2017-05-30 16:36] #63 closed

[2017-05-30 16:37] davidschober commented on #22
I think we're calling this done. Feel free to reopen.

[2017-05-30 16:37] #22 closed

[2017-05-30 17:07] davidschober commented on #52
is this a dupe of #30 @carrickr

[2017-05-30 17:10] davidschober commented on #47
@carrickr this is abandoned, correct? closing.

[2017-05-30 17:10] #47 closed

[2017-05-30 17:11] #41 closed

[2017-05-30 19:05] carrickr opened #74 "Tweak Main Template Parameters for Zookeeper and Solr"
New solr container is requiring upstream changes to the main template, with regard to the params passed to solr and zookeeper.  In progress.

[2017-05-30 19:41] davidschober opened #75 "Test Metadata from initial load"
## Description

Run through migration collection and give the team the thumbs up/write up any issues.

## Done looks like

- [x] test collections from #60 are tested / reviewed
- [x] issues written

[2017-05-30 19:43] davidschober opened #76 "Train Cecile on new features"
## Description

Ensure Cecile understands new workflows and new features and can train Molly on the new system.

## Blockers,

Ensure that Molly and Cecile are admins.
-  need s3 bucket
- need a working instance

[2017-05-30 19:53] davidschober opened #77 "GO LIVE!!!"
In which we turn the crank.

 BEFORE JUNE 15

@Toputnal and @d-venckus can you verify anything you need to to make sure we're good to go?

[2017-05-30 19:59] davidschober commented on #46
Closing this. It has become redundant with #19

[2017-05-30 19:59] #46 closed

[2017-05-31 13:34] davidschober commented on #76
@mbklein and @carrickr this training is taking place June 1. I will need:

- [ ] admin privileges
- [ ] an s3 bucket URL to upload a batch to
- [ ] Any instructions on how to upload

I want to make sure we're still on target now that we're reworking the way we handle SOLR.

[2017-05-31 14:19] Toputnal commented on #21
I need to see if any of the checks I wrote need to be fixed after MBK did the latest burndown/build, and, if so, fix them.  I will close, or move to Review, this once I’ve verified this.  I don’t want us to *think* we’ve got monitoring covered when it *may* be broken.  I’ll look today.

Best Regards,

--Jim

--
James R.  Bottino
Senior DevOps SysAdmin
Northwestern University Libraries
Northwestern

[2017-05-31 14:20] davidschober commented on #21
Sounds good!

[2017-05-31 14:51] Toputnal commented on #21
All the alerts I created are still in place after the burn down, and rebuild.  Yay!  Moving to Review.

[2017-05-31 16:48] Toputnal commented on #27
@davidschober Do we want to table this for now?  Based upon what @d-venckus said in our last meeting, it doesn't sound like running LoadRunner is really going to tell us anything useful.

[2017-05-31 17:09] adamjarling commented on #56
@mbklein @carrickr How do I add content (video/audio) to http://avalon.repo.rdc.library.northwestern.edu/ ?   Or is this just display only for now?

[2017-05-31 18:52] jenyoung opened #78 "ensure that ALMA bib import IDs using Primo IDs are mapped correctly"
For Course Reserves, they are importing into AVR using the Permalink ID from Primo instead of the Bib ALMA number. It works, that's fine. But that identifier is being mapped to type="other" - it should be mapped to "local" and display as Catalog Key instead.

## **Example:**

**What it looks like now:**
AVR: https://media.northwestern.edu/media_objects/numedia:29441

Primo Permalink: http://search

[2017-05-31 19:50] davidschober opened #79 "Train Carrick and Devops/ Write procedures for outages"
## Description

With MBK in Australia during the first week of our live Avalon in AWS cloud environment, it's critical that we have procedures in place for how to bring the system back up in case of emergency. We need to have a handle on what to kick, when, etc.

## Done looks like

- [x] Documentation is written and published in the [repodev wiki](https://github.com/nulib/repodev_planning_and_doc

[2017-06-01 16:21] Toputnal commented on #27
I received this response in regard to load testing Avalon:

James,

The QA team within the PMO of NIT Administrative Systems offers performance and load testing services using LoadRunner from HPE to test enterprise level applications at Northwestern, depending on resource availability.

From what I know of Avalon, it qualifies as an enterprise level application.

I have attached a slide show that

[2017-06-01 16:24] Toputnal commented on #27
Also ping @davidschober  :-)

[2017-06-01 19:25] davidschober commented on #27
@Toputnal I added answers above

[2017-06-01 19:25] davidschober commented on #27
![avalon_aws](https://cloud.githubusercontent.com/assets/4803230/26696978/32e73276-46d6-11e7-807a-2d40bb5d8971.png)

[2017-06-01 19:25] davidschober commented on #27
^^^ infrastructure

[2017-06-01 20:55] davidschober opened #80 "create s3 credentials on production"
## Description

Create S3 credentials on production uploading to the dropbox.

THIS IS A PUBLIC repo, don't put Creds here.

## Done looks like

Creds are created and shared with @jenyoung and @Nic4Images for locking into our secrets management repository.

[2017-06-01 20:57] davidschober opened #81 "rewrite docs for uploading content using cyberduck, etc"
## Description

Write docs for uploading content to Avalon. Ideally I can steal these from @jenyoung and @Nic4Images current docs and tweak them for use with Cyberduck/ Avalon 6.x

## Done looks like

Docs are written and published in wiki

[2017-06-02 13:34] Toputnal commented on #27
Oh!  Thank you @davidschober your comments posted in-line, and with github's inherent lack of formatting I totally missed them!  I'll write an email response to Steve based upon the answers you provided.  If I have any questions, I'll ping you on #slack.  :-)

[2017-06-02 14:36] carrickr commented on #60
@davidschober The failures are listed here: http://avalon.repo.rdc.library.northwestern.edu/admin/migration_report/MediaObject?status=failed

[2017-06-02 15:43] ccaizzi commented on #81
@mbklein will generate 1 click scripts for CB for Molly, Cecile, and all of us by Tuesday, June 6.

[2017-06-02 18:54] jenyoung commented on #60
failures cleanup -- some had dates in non-EDTF format, some had no actual media files, a few needed titles added. I fixed/deleted them all except this one:

https://media.northwestern.edu/media_objects/numedia:29405

I tried to enter the dates and am getting the following error:

![2017-06-02_134926](https://cloud.githubusercontent.com/assets/2250501/26740373/e0872084-479a-11e7-9bb8-680609750147.j

[2017-06-02 21:59] jenyoung opened #82 "Fedora 4 PIDs updating"
batch updating of Fedora 4 PIDs

##Done Looks Like:

[ ] remove ```vpc``` from Fedora 4 URLs
[ ] Fedora 4 PID should display as ```6682x415t``` instead of ```http://fcrepo.repo.rdc.library.northwestern.edu/rest/66/82/x4/15/6682x415t```

[2017-06-05 13:59] carrickr commented on #60
Not sure, looking into this in the AM.

[2017-06-05 14:00] carrickr commented on #61
In progress

[2017-06-05 14:02] carrickr commented on #19
I would propose we move the Firedrill (under the June 1 through 5 tasks) to post June 12th and do it on either the dev stack or a clone of the production stack.  I don't think I can afford to randomly blow up the stack and deny jyo et al the ability to verify data whilst dev-ops fixes it.

[2017-06-05 14:03] davidschober commented on #19
Agreed. Moving it.

[2017-06-05 14:49] carrickr commented on #60
It let me stick in a placeholder date of 2001-02-03, what date would you like stuck in there?  I can try.  Didn't get any error in the production log when I did it and couldn't find one from Friday for some reason.

[2017-06-05 14:53] jenyoung commented on #60
@carrickr I just tried again and got the same errors. I am trying to add Creation date-1963 and Publication date-2009

[2017-06-05 14:59] carrickr commented on #60
I saw nothing come across in console and it let me put them, I think we're the same level of user (not that should matter for this error).  I put the dates in just so they're there for the migration tool and will dig into this.  If it is an Avalon 4 bug I may just let it be though since we're moving off 4.

[2017-06-05 15:01] jenyoung commented on #60
that's totally fine - particularly i don't think this has happened before.

[2017-06-05 18:09] #21 closed

[2017-06-05 18:33] rtrautve1 commented on #24
This will be addressed by the team the week of June 12 prior to going live

[2017-06-05 18:35] ccaizzi commented on #79
@mbklein @Toputnal @carrickr @d-venckus
Actually, can you all meet up this week and get this done please.

[2017-06-05 18:56] ccaizzi commented on #25
@davidschober new masters will be stored on S3 until this get figured out.  old masters will remain on Isilon, correct? also, let's give this a deadline of July 15.

[2017-06-05 19:25] davidschober commented on #25
Yes. We may sync occasionally. Masters are safe in s3

Sent from my iPhone

[2017-06-05 19:28] ccaizzi commented on #25
I'll be interested in seeing how much is costs to sync the masters back down.

[2017-06-06 16:18] jenyoung opened #83 "Access Control cleanup for Course Reserves/MMLC"
## Issue

Noticed that a Course was attached to almost 1000 items during migration. This brought up the issue of old courses still being attached long after the course is over. Want to automate purging off course attachments every quarter. Will also require

## Example from Molly:

I’ve wondered if some Access Control clean up might, or could, happen with this migration.  For a good example of wha

[2017-06-06 16:28] jenyoung commented on #83
This are screenshots from Molly's Example

![2017-06-06_112635](https://user-images.githubusercontent.com/2250501/26840286-410e0018-4aab-11e7-8060-5e3f4c85b619.jpg)

![2017-06-06_112651](https://user-images.githubusercontent.com/2250501/26840292-44ebef4c-4aab-11e7-8a63-dfcc1802d268.jpg)

![2017-06-06_112706](https://user-images.githubusercontent.com/2250501/26840294-47353fa6-4aab-11e7-8019-b065e3a

[2017-06-06 20:01] laura-alagna opened #84 "No media associated with items ingested with batch"
I uploaded the test batch using the batch upload via cyberduck and did not get any errors (batch_manifest.xlsx.error is empty)

However, when I search for the uploaded videos, the metadata is there but no videos. Instead there's an error message "no media associated with this item"

<img width="1169" alt="screen shot 2017-06-06 at 2 52 27 pm" src="https://user-images.githubusercontent.com/25389954

[2017-06-06 20:17] jenyoung opened #85 "Voyager permalinks in records are broken"
## Issue
Older metadata records in AVR contain links in the ```Summary``` part of the bib record but are using the old Voyager number in the URL which fails. The URL should be using the ALMA numbers.

**Example:**
http://avalon.repo.rdc.library.northwestern.edu/media_objects/pk02c977h

**OLD:**
http://search.library.northwestern.edu/NULV:voyager4351748
http://search.library.northwestern.edu/NULV:L

[2017-06-06 20:22] jenyoung opened #86 "Changes to make to testing script"
## Keeping track of changes to make to testing script here

- ```skip transcoding``` should not be used and does not work in AWS
-- change batch spreadsheet to reflect that
- update server information on first tab
- user ids setup
- make clear that non-admin user tests "hidden from search results"
- make clear when to use the different logins with different roles/permissions

[2017-06-06 20:29] laura-alagna opened #87 "Items marked as "hidden from search results" still showing in search results"
I used bulk edit on two items (http://avalon.repo.rdc.library.northwestern.edu/media_objects/6w924b96s and http://avalon.repo.rdc.library.northwestern.edu/media_objects/mc87pq505) to test the access controls. I hid both from search results but both are still showing up when I search.

notes:
I waited 10 minutes for the access change to go into effect
I logged out and back in
...no changes, still i

[2017-06-06 20:48] jenyoung commented on #87
@mbklein @carrickr Possible Big Avalon related issues

https://github.com/avalonmediasystem/avalon/issues/1758
https://github.com/avalonmediasystem/avalon/pull/2005

[2017-06-06 20:52] jenyoung opened #88 "Document known 6.0/AWS Issues"
Document known 6.0/AWS Issues here

- ```skip transcoding``` does not work
- facet count wraps badly when viewing an object or search result  (represented in avalonmediasystem)

For migration

- some files failed conversion (being fixed)

[2017-06-06 21:03] jenyoung commented on #87
logging in as non-admin solved the issue. closing.

[2017-06-06 21:03] #87 closed

[2017-06-06 21:13] jenyoung opened #89 "Update RDC production workflow document for AVR 6/CyberDuck"
Update/combine these box notes and move to our [github wiki](https://github.com/nulib/repodev_planning_and_docs/wiki#avr)
https://northwestern.app.box.com/notes/69814497621
https://northwestern.app.box.com/notes/36791411598
https://northwestern.app.box.com/notes/20187969035
https://northwestern.app.box.com/notes/178735601232

Maybe create a separate document for LTI/Canvas procedures

- [x] docume

[2017-06-06 21:27] laura-alagna opened #90 "Videos in my playlist won't play"
I made a playlist: http://avalon.repo.rdc.library.northwestern.edu/playlists/1
Videos will not play from the playlist (with autoplay on and autoplay off)

[2017-06-06 22:03] carrickr opened #91 "Convert Fedora 3 to Fedora 4 for Jen"
Jen would like a list of the Fedora 4 pids for this list of Fedora 3 objects:

https://northwestern.app.box.com/files/0/f/5800270429/1/f_47081060505

[2017-06-06 22:04] carrickr commented on #91
F3 to F4 pids hash:

[code]

[2017-06-06 22:06] carrickr commented on #91
Nicer format:

[code]

[2017-06-06 22:38] jenyoung opened #92 "MODS contains extra empty fields"
Just like https://github.com/avalonmediasystem/avalon/issues/1935 seeing lots of extra empty elements

Example
http://avalon.repo.rdc.library.northwestern.edu/media_objects/j6731382c/content/descMetadata

Looks like it is an adding an empty element for each filled in element. Maybe creating a duplicative MODS record inside.
![2017-06-06_173552](https://user-images.githubusercontent.com/2250501/268

[2017-06-06 22:46] jenyoung opened #93 "Fedora 4 PID populating Bibliographic ID when editing record"
Records I pull up to edit are being populated with the Fedora 4 PID in the Bib ID field in the Resource Description Form

![2017-06-06_174140](https://user-images.githubusercontent.com/2250501/26855307-ca6c8314-4adf-11e7-88a9-54539ebeef94.jpg)

[2017-06-06 23:01] jenyoung opened #94 "Editing record to add a Note adds an empty Contents"
Cleaning up some Note elements that did not properly have a Note Type. Adding the Note Type in the Resource Description Form and a Contents note is generated.

Resource Description Form
![2017-06-06_175959](https://user-images.githubusercontent.com/2250501/26855672-0164a9a8-4ae2-11e7-887d-9f38d1c19eb0.jpg)

Record View
![2017-06-06_175615](https://user-images.githubusercontent.com/2250501/26855636

[2017-06-06 23:42] jenyoung commented on #91
"The ones not found in Fedora 4 on AWS" are not in AVR or Fedora 3 so are most likely long deleted.

[2017-06-07 12:32] jenyoung opened #95 "Make plan with Course Reserves/MMLC for transcripts in Summary field"
Course Reserves/MMLC have added transcript information to the ```Summary``` field. Sometimes this breaks the field - we had to turn off indexing in Solr for ```Summary``` to be able to migrate these items.

## Done looks like

- schedule meeting with Molly, Cecile-Anne, Jen, others?
- develop plan for transcript information (```related item``` most likely)
- edit records to move transcripts to app

[2017-06-07 13:22] jenyoung opened #96 "Can't delete a Notes field"
I was testing other note types to see if  #94 only pertains to when you add a local note type. It doesn't matter what type of note. Great. So then I was editing my record to remove the notes field and it doesn't take.

record in question:
http://avalon.repo.rdc.library.northwestern.edu/media_objects/5h73pw12z

[2017-06-07 13:44] jenyoung commented on #92
But I am not seeing this on every record.

[2017-06-07 13:54] laura-alagna commented on #90
Update: nothing is playing, not just the playlist

[2017-06-07 13:55] jenyoung opened #97 "Delete the No Spoilers Class completely from AVR"
The External Group ```
2017WI_ENGLISH_101-6_SEC21 First-Year Seminar: No Spoilers!``` needs to be removed and detached from the 989 items it's currently attached to in AVR. OK to remove per Molly.

[2017-06-07 14:06] jenyoung commented on #92
this is supposed to be fixed in Big Avalon. How can we apply the fix?

[2017-06-07 14:36] carrickr opened #98 "Get Some Audio and Video That Stream for Testing"
Streaming Audio:

http://avalon.repo.rdc.library.northwestern.edu/media_objects/pk02c977h
http://avalon.repo.rdc.library.northwestern.edu/media_objects/2b88qc23w
http://avalon.repo.rdc.library.northwestern.edu/media_objects/2j62s4898

Streaming Video:

http://avalon.repo.rdc.library.northwestern.edu/media_objects/c534fn97v (Section 2 only attached currently, Section 1 is 0:00)
http://avalon.repo.r

[2017-06-07 15:01] laura-alagna commented on #86
There's a few that are confusing to me:
row 112: "Setting begin and end dates to invalid errors shows an error message" - not sure how this is different from the one above it
row 116: "User can change the time range of an item in a playlist" - not sure what this means or how to do it

[2017-06-07 15:02] laura-alagna commented on #84
I'm told this is a transcoding thing, I changed the batch spreadsheet so that it would not skip transcoding and reingested...no change

[2017-06-07 15:24] egilchrist commented on #86
There are a few things confusing to me to:
1) In the Bulk Issues column, it's difficult to tell what is being done as admin or as "generic user tester"
2) When you sign in as generic user tester, it still says sign in (can't tell if you logged in)
3) In 9 search/playback, I think you move from user tester for items 1-2, but then you create a thumbnail as an admin
4) I'm unclear what the difference

[2017-06-07 15:34] carrickr commented on #76
Both have been made admins and sent Cyberduck on click scripts.  Kurt also has a one click script, waiting on confirmation as if he should be made admin or not.

[2017-06-07 15:54] Toputnal commented on #27
I've emailed Steven A Kahrs <s-kahrs@northwestern.edu> to let him know that we are delaying testing until a later date.

[2017-06-07 16:19] jenyoung commented on #86
change link to this http://www.avalonmediasystem.org/downloads/DemoFixturesBatch.tar.gz for "demo ingest package"

add .vtt captions file to test batch

[2017-06-07 19:27] laura-alagna opened #99 "LTI add external group shows "Avalon Testing" twice"
<img width="1231" alt="screen shot 2017-06-07 at 2 26 23 pm" src="https://user-images.githubusercontent.com/25389954/26897222-647d6d26-4b8d-11e7-8241-ad5619640b35.png">

[2017-06-07 19:29] jenyoung opened #100 "Embed doesn't work in Firefox"
Embedding a public object does not work in Firefox on either Mac or PC.

URL https://www.w3schools.com/html/tryit.asp?filename=tryhtml_intro

Embed info
        <iframe title="Northwestern Football Preview, 1955 - 1955 Football Preview" src="http://hdl.handle.net/2166.MEDIA/j92g257m7h" width="600" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

Does

[2017-06-07 19:45] carrickr commented on #100
Handles need to be updated so this doesn't work in any browser right now it seems, however the moment we do that we have a hard cut over to Avalon 6.  So we probably want to do handles at the same time we do Ares, production Canvas, etc.

[2017-06-07 20:48] jenyoung opened #101 "List of services we need to cut over"
- handles changeover (Carrick: will happen automagically when we change DNS)

- notify Course Reserves/MADS about downtime and wonkiness of systemn during proposed downtime Monday, June 12 8:30-1

- put notice on front page about downtime -similar to ```The Repository | Images website will undergo maintenance on Tuesday June 13th from 9am - 11am. The website will be unavailable during this time.``

[2017-06-07 21:16] jenyoung commented on #96
Big Avalon bug https://github.com/avalonmediasystem/avalon/issues/1970

[2017-06-07 21:54] carrickr commented on #74
This is done

[2017-06-07 21:54] #74 closed

[2017-06-07 22:15] carrickr opened #102 "Switch Avalon DNS to point to AWS on Monday June 12th"
@Toputnal @d-venckus We'd like to cut DNS over first thing in the morning, is this feasible for you?

- [x] Put an announcement up on Avalon on Thursday morning (Carrick will handle this)
- [x] Leave the Avalon 4.0 stack in place so we can revert back to it quickly if needed
- [x] Cut the DNS over first thing Monday Morning

[2017-06-07 22:26] jenyoung commented on #84
closing.

[2017-06-07 22:26] #84 closed

[2017-06-07 22:27] carrickr commented on #64
Replacing this with the more descriptive #102

[2017-06-07 22:27] #64 closed

[2017-06-07 22:30] carrickr commented on #61
First pass is done, we will need to the diff on money once #102 is complete

[2017-06-07 22:30] jenyoung commented on #90
@laura-alagna can you take a look at this tomorrow afternoon after the derivatives are done please

[2017-06-07 22:35] carrickr opened #103 "Put Outage Notification up on the AVR Homepage"
Regarding the Monday DNS Switch.  Put this up on Thursday once dev-ops as confirmed in #102 they are good to go for Monday.

[2017-06-08 13:47] carrickr commented on #103
Dev-ops is good with the Monday window, will do the message after backlog buddies

[2017-06-08 13:58] laura-alagna commented on #90
@mbklein @carrickr everything works now, closing #90

[2017-06-08 13:59] #90 closed

[2017-06-08 14:00] laura-alagna opened #104 "Change language on buttons for deleting from playlist"
Not sure this really qualifies as a "bug" but when deleting an item from a playlist the buttons are "submit query" or "no, cancel"

I don't think "submit query" is very user-friendly language :)

[2017-06-08 14:25] carrickr commented on #103
@mbklein @ccaizzi

This is live, any feedback on the message or design?  I was debating if a bold "Service Alert" head would be good or would just clutter up the homepage.

[2017-06-08 14:40] jenyoung opened #105 "Create Cyberduck Script for RDC staff"
Everyone in RDC should have a script

http://www.library.northwestern.edu/about/contact/staff-directory.html#Repository_and_Digital_Curation

[2017-06-08 14:42] jenyoung commented on #86
add instructions to delete test collections

add mbk's test fixtures

[2017-06-08 16:25] ccaizzi commented on #101
@jenyoung i think we can close this--we have a DNS ticket and a notice ticket and I informed Molly and Cecile.

[2017-06-08 16:26] ccaizzi commented on #103
@carrickr  can you make it read like Images' notice just for consistency sake? http://images.northwestern.edu/

[2017-06-08 16:26] ccaizzi commented on #98
We can close this now.

[2017-06-08 16:27] #98 closed

[2017-06-08 16:29] ccaizzi commented on #76
@davidschober we can close this i think

[2017-06-08 16:29] ccaizzi commented on #75
@jenyoung we can close this, right?

[2017-06-08 16:36] Toputnal commented on #102
Yes.  Either @d-venckus or @toputnal will be able to do this.  We'll just need to know what time to do it.

[2017-06-08 16:50] ccaizzi opened #106 "Add Help and About content and make homepage Thumbnails"
Make sure we have thumbnails on the homepage linking to content.

- [x] Choose thumbnails for home page
- [x] put them on the homepage

[2017-06-08 16:53] #101 closed

[2017-06-08 19:10] jenyoung opened #107 "Full testing Monday 6/12 in the afternoon after services switchover"
## Testing
Using the spreadsheet below, please complete assigned sections and kick off bugs.
### [create copy of the testing template](https://docs.google.com/spreadsheets/d/1v-K4NWEPyERabHHCMPADI79P-d1FAu2_fqy_dgfngdI/copy)

And save it to [Repository and Digital Curation Shared Docs/TestScripts/completed_scripts](https://docs.google.com/spreadsheets/d/13cWzYMIMRZJ877_5Lbpf8VQNl2628jbq8kWnlsRJM3w

[2017-06-08 19:55] jenyoung commented on #107
@egilchrist Not part of the script, but verify that items in your batch upload folder delete after ingest (except the .xslx)

[2017-06-08 20:36] carrickr commented on #103
Changed

[2017-06-08 20:51] mbklein commented on #99
Avalon Testing was in the database twice with two different context IDs. No idea how that happened, but it shouldn't have. I deleted one of them and this seems fine now.

[2017-06-08 20:55] davidschober commented on #76
Yup. Let's close it

Sent from my iPhone

[2017-06-08 20:56] mbklein commented on #96
I knew I'd seen something similar. I'll merge that in.

[2017-06-08 21:06] davidschober commented on #80
@carrickr and @mbklein this is completed correct?

[2017-06-08 22:01] mbklein commented on #95
@jenyoung I think transcripts can stay in the summary field. I can split large MODS fields into multiple solr fields for indexing. Solr doesn't mind huge documents; just huge fields. It won't affect display, and it'll keep all the text indexed for searching.

[2017-06-09 03:33] mbklein commented on #92
Did you find an issue in Avalon Core that relates to this? If it's been resolved with a PR, I can pull it over.

[2017-06-09 03:37] mbklein commented on #83
Doable, but requires some thought. We should have a delete trigger on the Course database record that deletes it from all relevant MasterFiles. Purging based on prefix (e.g., `2017WI`) is easy enough, but we'll need to write code to update all the MediaObjects.

[2017-06-09 04:12] mbklein opened #108 "Write D̶O̶I̶ ARK generator"
Add a Permalink handler to verify/create/update D̶O̶I̶s̶ ARKs through the EZID API.

[2017-06-09 04:17] mbklein opened #109 "Prepare to handle existing Handles"
Write before_filter to catch and redirect old PIDs, e.g.:

* Object route: `/media_objects/numedia:1028` should redirect to `/media_objects/rf55z773n`
* Section route: `/media_objects/numedia:1028/section/numedia:2153` should redirect to `/media_objects/rf55z773n/section/dr26xx694`
* Type-agnostic object route: `/objects/numedia:2153` should redirect to `/objects/dr26xx694`

[2017-06-09 04:30] mbklein opened #110 "Clean up git history"
Rebase the `deploy-aws-staging` and `-prod` branches to give them a nicer history and fewer cherry-picked commits

[2017-06-09 06:52] davidschober commented on #108
@mbklein can you pair up with someone working on hyrax? We have an outstanding issue to create DOIs. It'd be great if we could knock them both out.

[2017-06-09 15:37] carrickr opened #111 "Handle Split Media Objects"
In Avalon 6 the Johnny Cash item only has 28 sections:

http://avalon.repo.rdc.library.northwestern.edu/media_objects/pk02c977h

In Avalon 4 it has 104 sections:

https://media.northwestern.edu/media_objects/numedia:9916

It used to have 104 in Avalon 6, but the number has decreased.

[2017-06-09 15:40] carrickr commented on #111
This persists through a reindex, so it isn't just the solr core, they've detached in Fedora.

[2017-06-09 15:45] carrickr opened #112 "Search Results Aren't Showing Title Properly"
http://avalon.repo.rdc.library.northwestern.edu/catalog?utf8=%E2%9C%93&search_field=all_fields&q=johnny+cash

First result should be The Legend, not just The.  Title is set properly:

[code]

[2017-06-09 16:00] jenyoung opened #113 "trying to create a collection using the batch ingest spreadsheet should return an error"
trying to create a collection using the batch ingest spreadsheet should return an error

example:
Collection name: [non-existing collection]
email address: [email]

user should get an email saying that the collection doesn't exist.

[2017-06-09 17:32] carrickr commented on #111
Media object appears to have split, with each one getting some of the sections in the custody proceedings

[2017-06-09 20:45] carrickr opened #114 "Rename Avalon 4 to legacy.media..."
So JYo et al can still check data on it.  Current suggestion is legacy.media.library.northwestern.edu

[2017-06-09 21:49] #103 closed

[2017-06-12 15:49] d-venckus opened #115 "Regenerate ssl certs for legacy.media (avalonweb2p)"
Having changed DNS for media.northwestern.edu to point to the new AWS pilot instance, we'll need to update the ssl certs on avalonweb2p to also recognize the new CNAME of legacy.media.library.northwestern.edu.

[2017-06-12 15:51] d-venckus opened #116 "Limit http/s access in iptables to nulib-only on avalonweb2p."
Post-Cutover to AWS, restrict http,https access to avalonweb2p to nulib and sslvpn only.

[2017-06-12 15:52] davidschober commented on #111
@carrickr do we know how prevalent this is?

[2017-06-12 15:54] d-venckus opened #117 "Establish whether homer and curtis/libxml databases can be migrated to mysql from welles-oradb-prd/tst."
Instead of restaging two Oracle 12 instances, we may be able to simplify matters by migrating the homer and curtis/libxml databases to a mysql platform.  Also, verify that the OraPerl package works properly on Oracle 12, if we are unable to migrate to mysql.

[2017-06-12 15:55] davidschober commented on #112
This looks sorted now? Did the reindex help?

[2017-06-12 15:56] d-venckus commented on #117
Created erroneously in wrong repo, sorry.  Closing.

[2017-06-12 15:56] davidschober commented on #109
@mbklein it looks like this worked, correct? Should we go ahead and close.

[2017-06-12 15:56] #117 closed

[2017-06-12 15:58] davidschober commented on #112
![screen shot 2017-06-12 at 10 58 08 am](https://user-images.githubusercontent.com/4803230/27042935-178f6cf6-4f5e-11e7-9183-389b6e1b5a29.png)

[2017-06-12 16:10] davidschober commented on #102
K. This is complete, closing.

[2017-06-12 16:10] #102 closed

[2017-06-12 16:10] davidschober commented on #61
@carrickr closing. this is complete, I believe.

[2017-06-12 16:10] #61 closed

[2017-06-12 16:12] davidschober opened #118 "Master files not attached during move"
## Description

~ 30 media media objects had unprocessed master files during the transition. Those master files may need to be reattached, if necessary.

Here are the media objects affected by the 30 completely unprocessed master files:
http://media.northwestern.edu/media_objects/05741r72k
http://media.northwestern.edu/media_objects/5t34sj662
http://media.northwestern.edu/media_objects/8049g504g
h

[2017-06-12 16:14] davidschober commented on #106
Rewriting, much of this was redundant with #62. This issue is just for adding thumbnails.

[2017-06-12 16:16] d-venckus commented on #114
This is done.  The address "legacy.media.library.northwestern.edu" is now a CNAME for avalonweb2.library.northwestern.edu.

There are separate tickets to regenerate the ssl san certs to include the new name (#115) as well as to limit http/https access to NULib and sslvpn only (#116).

[2017-06-12 16:20] davidschober commented on #92
avalonmediasystem#1935

[2017-06-12 16:41] carrickr opened #119 "Logged Out Browsing Does Not Show Facets"
Visit media.northwestern.edu logged out, no facets are show.  Facets are visible when logged in.

<img width="1540" alt="screen shot 2017-06-12 at 12 34 23 pm" src="https://user-images.githubusercontent.com/5350060/27044677-6ac63a04-4f6c-11e7-8d6c-4b4f45c4ed06.png">
<img width="1529" alt="screen shot 2017-06-12 at 12 34 30 pm" src="https://user-images.githubusercontent.com/5350060/27044678-6accf62

[2017-06-12 16:46] davidschober opened #120 "10. URL in Other Ids"
http://media.northwestern.edu/media_objects/gh93gz58g

Found an object with a 10. URL in the Other ids.

![screen shot 2017-06-12 at 11 42 26 am](https://user-images.githubusercontent.com/4803230/27044866-b48ede46-4f64-11e7-8555-65ec0baa3747.png)

[2017-06-12 16:46] #114 closed

[2017-06-12 16:47] #112 closed

[2017-06-12 16:47] davidschober commented on #107
@egilchrist We will be ready to roll after 1:00pm.

[2017-06-12 16:50] #67 closed

[2017-06-12 16:51] davidschober opened #121 "video won't stream in safari"
Some videos don't seem to be streaming in safari.

For instance Serfs : shows a 0.00 end time.

HLS?

http://media.northwestern.edu/media_objects/t435gc96m

![screen shot 2017-06-12 at 11 51 02 am](https://user-images.githubusercontent.com/4803230/27045068-766a7106-4f65-11e7-86e2-b3692f08540f.png)

[2017-06-12 16:53] davidschober opened #122 "'lil scrub is not aligned with bottom of the player"
## Description

'lil scrub (aka the zoom scrubber is not aligning with the bottom of the player.

## Recreate

- go to a video
- click the zoom button
- see that the zoom scrubber comes up below the player with a significant gap

![screen shot 2017-06-12 at 11 23 30 am](https://user-images.githubusercontent.com/4803230/27045212-cdee6ffe-4f65-11e7-8b44-ee198b261e46.png)

[2017-06-12 16:54] carrickr commented on #121
MasterFile is: 6969z076v

Derivatives, Location and HLS Locations are are:
3c9a4707-00de-4cf7-ba66-b2ba5b8c0cf9
s3://avalon-derivatives-cfx3wj9/6969z076v/low/21422195320002441nongnu_disc1.mp4
s3://avalon-derivatives-cfx3wj9/6969z076v/low/hls/21422195320002441nongnu_disc1.m3u

60e1c7b9-4f40-44f9-8929-5d383c4635c9
s3://avalon-derivatives-cfx3wj9/6969z076v/medium/21422195320002441nongnu_disc1.mp4
s3:

[2017-06-12 16:58] carrickr commented on #121
The derivatives exist, the .m3u8s do not exist

[2017-06-12 17:03] carrickr opened #123 "Crawl for HLS Files that Don't Exist"
Some didn't work due to the timeout on perform later

Crawl all Derivatives and verify their HLS streamfiles are present.  If they aren't, make them via the split job using perform now.

[2017-06-12 17:09] carrickr commented on #121
@davidschober All three of these should stream in Safari now.

We will do #123 to handle the broader case, this will be a long running crawl

[2017-06-12 17:09] #121 closed

[2017-06-12 17:10] carrickr commented on #123
This will be a bit a long running crawl, pseudo code is:

* Get all derivatives (3 per master file)
* Check S3 for presence of the hls streamfile and the regular streamfile
* If neither are present, alert programmers to copy over the mp4 (this should not be a thing, but might as well check while we go through)
* If there is .mp4 but no .m3u8, split now using `S3SplitJob.perform_now(mp4)`
* Log the

[2017-06-12 17:15] adamjarling commented on #119
@carrickr I noticed that when not logged in, no facets were displaying, and there was a big left-column gap on the home page.  So I put some code in the rails .erb file to check for the conditions where it seemed Facets are displayed from the Rails app.  If Facets are not being delivered by the app, I set the 'Sample Content' section to be full width.

[2017-06-12 17:16] adamjarling commented on #119
Does that scenario of the app delivering Facets make sense?  Or is it expected behavior?

[2017-06-12 17:17] davidschober opened #124 "30 media objects don't seem to have metadata or masterfiles"
## Description

The following media objects don't have metadata or master files. Can these be deleted?

http://media.northwestern.edu/media_objects/t148fh13t
http://media.northwestern.edu/media_objects/mg74qm15t
http://media.northwestern.edu/media_objects/n870zq887
http://media.northwestern.edu/media_objects/8c97kq52z
http://media.northwestern.edu/media_objects/736664542
http://media.northwestern.

[2017-06-12 17:18] davidschober commented on #124
Note these look like someone started to create an object and then stopped.

[2017-06-12 17:23] carrickr commented on #119
there should be facets displaying in the future as we index in public data, if no facets are showing up because of all zero counts, that's a permissions problem mbk or I can check

[2017-06-12 17:25] davidschober commented on #119
It's odd though, there are definitely public items showing.

[2017-06-12 17:29] #99 closed

[2017-06-12 17:30] adamjarling commented on #119
I can pull back those changes, and the layout will just expect that the Facets sidebar will populate all the time.  That sound ok?

[2017-06-12 17:31] davidschober commented on #78
@jenyoung This looks like data cleanup. Nothing here holds up launch, correct?

[2017-06-12 17:33] davidschober commented on #52
@carrickr closing. Do we have to do a diff still?

[2017-06-12 17:33] #52 closed

[2017-06-12 17:36] davidschober commented on #75
I'm closing.

[2017-06-12 17:36] #75 closed

[2017-06-12 17:36] carrickr commented on #123
Currently scanning for any missing mp4s and grabbing a burrito

[2017-06-12 18:29] carrickr commented on #123
All derivatives have mp4s that exist on disk, so we're good there, scanning for hls

[2017-06-12 18:30] carrickr commented on #91
@jenyoung This should't be related to the reingestion issue, if you're happy with the list you can close this whenever

[2017-06-12 19:15] ccaizzi opened #125 "Avalon Testing showing up twice again in External Group"
Erin tried adding Avalon Testing canvas course and it appeared twice in the external group drop down.  Michael fixed this already so this is definitely a bug.

See old issue https://waffle.io/nulib/avalon/cards/59385396c1b4a61905609494

[2017-06-12 19:22] egilchrist opened #126 "Embed doesn't work"
Tested embed and couldn't run it.  Tested in both Chrome and Firefox.
![screen shot 2017-06-12 at 2 20 13 pm](https://user-images.githubusercontent.com/20909880/27051109-89ab9bfe-4f7a-11e7-8ae0-701a6564a3a0.png)
![screen shot 2017-06-12 at 2 23 54 pm](https://user-images.githubusercontent.com/20909880/27051194-d7adf5b8-4f7a-11e7-8d05-94f1d472135a.png)

[2017-06-12 19:22] carrickr commented on #123
2004 didn't split, splitting them now:

[code]

[2017-06-12 19:44] carrickr commented on #111
I can't find the split Johnny Cash using `indentifier_ssim`.

I was able to find one duplicate via:
[code]

`t148fh13t` has no media associated with it, `9k41zd48h` has 102 parts which matches the section count on `numedia:10247` in Legacy Avalon.  So `t148fh13t` should probably be deleted.

[2017-06-12 20:17] carrickr commented on #100
#126 supersedes this

[2017-06-12 20:17] #100 closed

[2017-06-12 20:17] davidschober opened #127 "Embedded videos on open door don't seem to be working"
## Description

Embedded videos are not working properly. They all have /embed as part of their extension and that seems to be causing them to fail. (removing the /embed resolves correctly)

e.g. http://media.northwestern.edu/master_files/numedia:40958/embed vs http://media.northwestern.edu/master_files/numedia:40958/

http://imaginationwithoutborders.northwestern.edu/about/
http://imaginationwith

[2017-06-12 20:18] davidschober commented on #127
related to #126

[2017-06-12 20:18] davidschober commented on #127
@carrickr

[2017-06-12 20:24] egilchrist opened #128 "Broken thumbnail generation / Thumbnail generator produces a broken image"
## Description:

Updating thumbnails on some existing pieces of media does not seem to work.

To recreate go to:

- http://media.northwestern.edu/media_objects/3197xm17m
- Try to update thumbnail
- note that the thumbnail generator is "Blank" or a "broken image"

[2017-06-12 20:44] davidschober commented on #128
@egilchrist , can you give us the url? I'm thinking this might be the known bug where new videos have to have some non zero number for a thumbnail before you can use the button. (this is AWS specific)

[2017-06-12 20:55] egilchrist commented on #128
This was the one where the thumbnail was showing up as broken and wouldn't change
http://media.northwestern.edu/media_objects/3197xm17m

[2017-06-12 20:55] davidschober commented on #88
@jenyoung can I close this to clean up the board? These look like things we have issues for.

[2017-06-12 20:56] egilchrist commented on #128
This is the one I just ingested to test where it wouldn't let me click to create a thumbnail at all
http://media.northwestern.edu/media_objects/5h73pw048

[2017-06-12 20:56] davidschober commented on #91
Closing @jenyoung

[2017-06-12 20:57] egilchrist commented on #128
This is the one where it won't give me the preview and won't save the changes to the pre-existing thumbnail
http://media.northwestern.edu/media_objects/gf06g273j

[2017-06-12 21:16] davidschober commented on #128
@carrickr or @mbklein can yo look at this one... It seems very odd.

[2017-06-12 21:38] davidschober opened #129 "Edit icons missing from edit playlist"
## Description

Edit icons seem to be missing from the playlist title and the playlist items.

Referenced in the docs:

https://wiki.dlib.indiana.edu/display/VarVideo/Using+Playlists

each playlist and playlist item should have edit icons like this:

![screen shot 2017-06-12 at 4 30 46 pm](https://user-images.githubusercontent.com/4803230/27056339-4ab7fc18-4f8d-11e7-8fa2-aaf0407c458e.png)
![screen

[2017-06-12 21:41] #88 closed

[2017-06-12 21:43] davidschober commented on #92
@mbklein I don't know if you want to pull it over, or wait for the official 6.1 release. I think we should wait for 6.1

[2017-06-12 21:44] davidschober commented on #107
@egilchrist feel free to close this out when you're done. I created a new issue for your final problem.

[2017-06-12 21:46] davidschober commented on #32
@adamjarling you ready to close this big issue? It looks like we're down to some bugs.

[2017-06-12 21:46] #32 closed

[2017-06-12 21:56] davidschober commented on #30
closing, derivative data has been migrated

[2017-06-12 21:56] #30 closed

[2017-06-12 21:57] #29 closed

[2017-06-12 22:00] davidschober commented on #93
@jenyoung can you put in a couple of URLs or is it everything?

[2017-06-12 22:02] carrickr commented on #111
Once the rogue worker instance is under less load I'll see about auditing master files, splits have it pretty tied up though

[2017-06-12 23:30] jenyoung commented on #124
deleted all but two from AVR 6 and AVR 4

Two left from AVR 6 --I hesitated since they are Course Audio objects with metadata.

http://media.northwestern.edu/media_objects/t148fh13t - AVR 4 object -https://legacy.media.library.northwestern.edu/media_objects/numedia:10247
![image](https://user-images.githubusercontent.com/2250501/27059593-f0bdad06-4f9c-11e7-8004-a4c7f7d5d781.png)

http://media.nort

[2017-06-12 23:31] jenyoung commented on #60
meant to close this earlier

[2017-06-12 23:31] #60 closed

[2017-06-12 23:43] jenyoung commented on #91
I was unable to delete these from AVR 4

 "numedia:11000"=>"0k225b08s",
 "numedia:14429"=>"d504rk360",
 "numedia:14432"=>"1v53jx09h",
  "numedia:20661"=>"05741r719",

 "numedia:11445"=>"vq27zn474" -- this has audio files but it looks really odd. I can't see the object in AVR 4 so I can't compare. Course Audio / Music Library

I am unable to delete these objects in AVR 4 or 6
"numedia:14416"=>"7p88

[2017-06-12 23:45] jenyoung opened #130 "Note cleanup for Marcellus Master Class"
These need to have a Note Type associated with the Note.
Type=local

"numedia:1170"=>"j6731382c",
 "numedia:1175"=>"2227mp670",
 "numedia:1179"=>"br86b361k",
 "numedia:1183"=>"8w32r560x",
 "numedia:1187"=>"xp68kg25q",
 "numedia:1192"=>"47429919f",
 "numedia:1197"=>"j6731384x",
 "numedia:1202"=>"2f75r8056",
 "numedia:1207"=>"g445cd17d",
 "numedia:1212"=>"5999n343n",
 "numedia:1217"=>"fn106z01z",
 "

[2017-06-13 13:42] egilchrist commented on #107
@jenyoung - You asked me to verify that the items in my batch upload folder delete.  Do you mean the folder on Cyberduck?  If that's what you mean, the assets folder is still in Erin Test and the items are still in the asset folder.

[2017-06-13 13:52] adamjarling commented on #32
Yea, as more trickle in we can just handle separately.  This served it's purpose as a big net checklist.

[2017-06-13 13:57] egilchrist commented on #130
Hi Jen,
I looked at j6731382c and 2227mp670.  In the Resource Description "Note" Field it looks like this:
![screen shot 2017-06-13 at 8 54 35 am](https://user-images.githubusercontent.com/20909880/27085931-4e0391a0-5016-11e7-9418-9e0ba78178bc.png)

Is this correct?  Is this what you want me to make the rest of them look like?

[2017-06-13 16:30] jenyoung commented on #130
Yes please.

[2017-06-13 16:35] jenyoung commented on #107
@mbklein the assets should be moved from the asset folder after ingestion correct?
@egilchrist i was actually thinking of deleting your test collection from AVR itself, but the assets need to be moved as well.

[2017-06-13 16:50] adamjarling commented on #56
This must have gotten fixed in some round of updates.  Note the gap should get corrected on a previous fix.

![nu-avalon-aws-add-to-playlist-fixed.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f242b34ebd952d426a672649b327719cef21ac56360706171bf853444d04bea6d37ef5f22e7a98590ce9843b5c22c63814f9bf864bbd53b

[2017-06-13 16:51] #56 closed

[2017-06-13 18:21] ccaizzi commented on #107
@davidschober @mbklein @jenyoung i'm fairly certain mbk told us the assets will remain for the time being.  he potentially was going to move them to a new S3 bucket (@carrick)? are these the masters that will need to get sync'd down to Isilon?

[2017-06-13 18:22] ccaizzi commented on #127
when this is fixed, can you update Josh Honn @davidschober

[2017-06-13 18:23] davidschober commented on #127
Of course

[2017-06-13 18:39] davidschober commented on #91
Closing. Kicked off lower priority tickets for review post golive.

[2017-06-13 18:40] davidschober opened #131 "delete errant records from AVR"
Per Jen, delete the following from avalon. She is unable to delete them.

I am unable to delete these objects in AVR 4 or 6
"numedia:14416"=>"7p88cg591"
"numedia:14423"=>"h702q645g"
"numedia:14438"=>"9z902z91r"

[2017-06-13 18:41] #91 closed

[2017-06-13 18:42] davidschober opened #132 "Review media item for deletion"
Review the following in Avalon. We might be able to delete.

"numedia:11445"=>"vq27zn474" -- this has audio files but it looks really odd. I can't see the object in AVR 4 so I can't compare. Course Audio / Music Library

[2017-06-13 18:43] davidschober commented on #107
@ccaizzi yes. They're not being removed yet. We will move them to a new s3 bucket. I will create an issue for it.

With that are we all good with regression?

[2017-06-13 18:44] davidschober commented on #62
@adamjarling check https://northwestern.app.box.com/notes/174914712850 for text

@carrickr or @mbklein can one of you assist getting the text in?

[2017-06-13 18:46] davidschober commented on #107
@ccaizzi yes. They're not being removed yet. We will move them to a new s3 bucket. I will create an issue for it.

With that are we all good with regression?

@egilchrist can you check off the boxes you tested so we have an idea of scope?

[2017-06-13 18:48] davidschober commented on #124
Moving the final two above to a new issue.

[2017-06-13 18:48] #124 closed

[2017-06-13 18:49] davidschober opened #133 "Review two course reserve videos / Audio"
deleted all but two from AVR 6 and AVR 4. These objects did not have metadata attached. This was broken out from #124

Two left from AVR 6 --I hesitated since they are Course Audio objects with metadata.

http://media.northwestern.edu/media_objects/t148fh13t - AVR 4 object -https://legacy.media.library.northwestern.edu/media_objects/numedia:10247
![image](https://user-images.githubusercontent.com/

[2017-06-13 18:52] davidschober commented on #126
Dupe of #127

[2017-06-13 18:52] #126 closed

[2017-06-13 18:53] davidschober commented on #125
This seems to be fixed. Closing.

[2017-06-13 18:53] #125 closed

[2017-06-13 18:53] davidschober commented on #110
@mbklein moving to post golive.

[2017-06-13 18:57] davidschober commented on #97
Appears to be gone. @mbklein closing. Let me know if it should be reopened.

[2017-06-13 18:57] #97 closed

[2017-06-13 19:01] davidschober commented on #85
is there a way to do this automatically?

[2017-06-13 19:07] davidschober commented on #118
These look mostly OK but I surfaced a new bug. In safari multi - sectioned items aren't moving the pointer. Will kick off a new bug.

[2017-06-13 19:08] davidschober commented on #95
@mbklein That sounds like a great plan. Is this something we should do now or post golive?  If post, can you pull it into the post-golive milestone.

[2017-06-13 19:10] davidschober commented on #95
@jenyoung will talk to molly about transcripts and whether they should live in a different field. This would require we move the old data. I'm going to move this post go-live. This would likely be a human.

[2017-06-13 19:11] #73 closed

[2017-06-13 19:13] davidschober commented on #94
@jenyoung can you check to see if this is occurring on pawpaw or any IU instance? If so, let's close this and kick off a big bug.

[2017-06-13 19:15] davidschober commented on #113
Team, let's check this against Avalon proper to see if it's something we need to roll upstream .

[2017-06-13 19:17] davidschober commented on #96
@mbklein let us know when we should test this.

[2017-06-13 19:19] davidschober commented on #81
doen https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-Collection-Administrator-and-Service-Manager

[2017-06-13 19:19] #81 closed

[2017-06-13 19:20] davidschober commented on #83
k. I'm pushing this to post golive @mbklein and @carrickr

[2017-06-13 19:21] davidschober commented on #92
Note this is upstream we can pull it post golive when we merge in 6.1

[2017-06-13 19:24] davidschober commented on #120
related to #82

[2017-06-13 19:26] davidschober commented on #65
@mbklein I'm going to close this for now. Canvas is generally wired up, correct?

[2017-06-13 19:26] #65 closed

[2017-06-13 19:27] davidschober commented on #109
@carrickr @mbklein closing this, there's a hangeroner from embeds that I created here #127

[2017-06-13 19:27] #109 closed

[2017-06-13 19:28] #76 closed

[2017-06-13 19:41] davidschober opened #134 "pointer not moving in safari/ multi-sectioned item"
## Description

when navigating a multi-section item in safari, the track point is not moving.

## To recreate

Go to:

http://media.northwestern.edu/media_objects/jd472w50p

Press play

Click on another track

note that the player updates, but the track point (on the left) does not move.

[2017-06-13 19:59] davidschober opened #135 "section label edit box too small"
## Description

The section label box is too small to be useful for real world editing. This might take some thought, but we need to make label big enough to be readable.

To recreate:

GO to http://media.northwestern.edu/media_objects/j6731382c/edit?step=file-upload

Click on manage files

note that the section label input field is very small

![screen shot 2017-06-13 at 2 56 26 pm](https://user-

[2017-06-13 20:04] davidschober opened #136 "move ingested files to new s3 bucket"
## Description

Currently after ingestion of master files, the files stay in the dropbox s3 bucket. We either need to remove them (assuming the master file is moved) or move them to a safe place.

## Done looks like

After I ingest a file via batch or attaching via dropbox, the source file is moved away so that end users don't see it.

[2017-06-13 20:10] adamjarling commented on #134
@davidschober I can't access that link.  Which video/audio file is it?  Is there a name or title I could search for?

[2017-06-13 20:11] davidschober opened #137 "Ulysses (and maybe others) missing section label metadata"
## Description

In some cases items that had valid section labels did not migrate to Avalon 6. Currently we have founds several in  "ulysses" . The data is there in solr but not in fedora.

http://media.northwestern.edu/media_objects/jh343s452

OLD:

numedia:46553

[2017-06-13 20:13] davidschober commented on #134
Sorry.

Let me make sure you're an admin..Yup, OK try now, exit your browser and all that. Note, this may be a lower priority. It looks like safari moves it when you press "play"

[2017-06-13 21:10] adamjarling commented on #134
@davidschober There's definitely some buggy behavior in here, but this will take some time to investigate how the click event delegation is wired up, which files are controlling the click events in the rails app, and so forth.  I'd say we keep this one around when I can have a full day on it.

I did notice some style issues from this view, which I have updated and will push forward.

[2017-06-13 21:11] davidschober commented on #134
K. Let’s maybe check to see if this is happening in Avalon core.

We can look into this later

[2017-06-13 21:25] #118 closed

[2017-06-13 21:29] adamjarling commented on #135
Yea, this one is tricky.  The only real way to fix this is to change the markup to a flowing form, and get rid of the table structure.  I'll give it a shot w/o destroying functionality, ha.

[2017-06-13 21:59] egilchrist commented on #107
@davidschober - I'm assuming you mean on testing template?  I went back and put x's by all the items that I was successfully able to test.  Or do you want me to check off the boxes on a different document?

[2017-06-13 22:09] davidschober commented on #107
nope that’s what I meant!

[2017-06-13 22:09] davidschober commented on #135
maybe a back port to core if it works...

[2017-06-14 14:49] davidschober commented on #62
@adamjarling and @carrickr let's get this done this afternoon as we're live.

[2017-06-14 14:50] davidschober commented on #135
@adamjarling and I worked with Molly, she seems happy.

[2017-06-14 15:03] davidschober commented on #80
This is superseded by cyberduck scripts #105

[2017-06-14 15:03] #80 closed

[2017-06-14 15:04] carrickr commented on #79
Meeting has been scheduled for Thursday afternoon

[2017-06-14 15:27] #119 closed

[2017-06-14 15:29] mbklein commented on #108
This is done-ish; I just have to turn it on by adding our EZID credentials and ARK shoulder to the environment config. I can show the rest of the team how to do this in about 3 minutes.

[2017-06-14 15:40] davidschober commented on #108
K. so are we just waiting for a final word from someone or is this good to turn on?

[2017-06-14 15:40] davidschober commented on #79
Thanks! (can I get an invite)

[2017-06-14 15:47] davidschober commented on #107
Cool. I don't see the checked boxes. Can you hit the ones you tested and feel free to close.

[2017-06-14 15:55] carrickr commented on #111
[code]

After running my crawl I only find 4 that are unassigned, @mbklein this seems way too low given that Johnny Cash alone is missing more.

Code for the crawl is here:

https://gist.github.com/carrickr/004246549ce1606abe01fca0006cf4af

[2017-06-14 15:57] carrickr commented on #111
One thing to note is that we have 10682 master files on AWS, we have 10829 on Avalon 4, will check to see what we are missing

[2017-06-14 16:01] davidschober commented on #105
@mbklein I think you created this script. Is it somewhere @carrickr  can grab next week to generate for these folks?

[2017-06-14 16:02] davidschober commented on #123
@carrickr did these all split? Is this closed?

[2017-06-14 16:05] carrickr commented on #111
Items not in six are:

[code]

will do more analysis on if those deserved to be groomed or not

[2017-06-14 16:07] #107 closed

[2017-06-14 16:14] adamjarling commented on #62
@davidschober We'll take a look at this together at 1pm CST today.

[2017-06-14 16:25] jenyoung commented on #94
Bug not on spruce. Also, no longer on the record I initially found the bug on. Going to close.

[2017-06-14 16:25] #94 closed

[2017-06-14 16:30] mbklein commented on #108
Waiting for word from John Dorr's email to Michael Witt (the EZID guy from Perdue)

[2017-06-14 16:31] mbklein commented on #93
I know why this is happening, and I'm trying to figure out the best way around it.

[2017-06-14 17:18] adamjarling commented on #135
@davidschober Here's how the pushed version will look.  It plays well responsively as well.

![nu-avalon-associated-files.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f242b74eff97204733762d49a5227c80f06af3006b1300051bff054a5556f9fe8d7ef0b56a708f595eead5395d26c63944acbb8a1cb913a632c91edbe2e3d7158abd7f37

[2017-06-14 17:56] carrickr commented on #105
I created it, mbk and I both have copies of it.  This can be done whenever depending on priority.

[2017-06-14 18:55] davidschober commented on #105
OK. Lower priority. I just wanted to make sure we were ready.

[2017-06-14 18:57] davidschober commented on #108
@mbklein when you get back from OR, let's figure out if we can port the work here to https://github.com/nulib/institutional-repository/issues/12

cc:
@kdid @bmquinn

[2017-06-14 19:17] carrickr commented on #123
not all are split yet

[2017-06-14 20:00] carrickr commented on #105
Yeah for now if anyone needs it, just ask.  It takes me literally a minute or two plus context switching cost.  I've just been focusing on bigger fish.

[2017-06-14 20:06] adamjarling opened #139 "Alternative Audio UI Display?"
### Description
Audio files in NU Avalon have a large amount of blank space underneath the player.  An alternative display could have the audio player be a row, extending 100%, and the metadata could move to it's own row below the player?

Thoughts?

[2017-06-14 20:22] carrickr commented on #123
Screen 9148
Out of 2004, 700 completed in 26 hours, 1300 remaining.  These are the biggest files that timed out on the first run, this is on going but looks like a Friday competition date.  These items can stream as long as there is a non hls option

[2017-06-14 20:38] adamjarling opened #140 "Pagination hover bug"
### Description
In the pagination blocks, hovering over a pagination link has purple text on purple background.  Make text color white.

### Done Looks Like
- Pagination link color is white instead of purple.

[2017-06-14 20:39] carrickr commented on #111
- k0698770z is an orphan, it's media object was deleted in Avalon 4 but the master file was missed, drowned

[2017-06-14 21:18] davidschober commented on #135
This looks awesome.

[2017-06-14 21:18] davidschober commented on #135
I think we should consider this upstream.

[2017-06-14 21:38] carrickr commented on #62
@davidschober Adamin's code is now live on media.northwestern.edu, ready for qa

[2017-06-14 21:55] carrickr commented on #111
z603qx574 belonged to numedia:10247 which is now 9k41zd48h, but was never attached.  It was stuck in the cleaning up state (the counts match for the media object in 4 and AWS at 102 each), this was orphaned way back in 4, deleted

[2017-06-14 22:18] carrickr commented on #123
Oh and just like that is blew threw the last 1,300 in two hours.  Guess they were smaller than the first 700.

@davidschober This can close unless you want pids to spot check in iOS?

[2017-06-14 22:54] mbklein commented on #82
The Fedora 3 and Fedora 4 PIDs in the <recordInfo/> block of the MODS metadata were being applied inconsistently. They were present for migrated objects but not for new objects, and even when present, weren't always formatted/addressed the same way. Since both those pieces of information are represented elsewhere in the record (the `migratedFrom` assertion for the F3 pid and the actual current ide

[2017-06-15 01:31] davidschober commented on #123
Yeah can you post a csv and I'll spot check?

Sent from my iPhone

[2017-06-15 01:38] davidschober commented on #131
excellent. Closing.

[2017-06-15 01:38] #131 closed

[2017-06-15 01:41] davidschober commented on #62
K.
1. The header says "Sample Content" we should change it to Highlights or something.

2. The Featured Audio is a langston hughes bit, we should probably put a photo of him in that slot.

3. @ccaizzi do these three pieces seem OK to feature?

[2017-06-15 13:48] adamjarling commented on #135
@davidschober Cool.  Feel free to suggest it to Jon or whoever, and upstreaming would be a good opportunity for me to walk through the process.  We should make sure it is 110% QA'd on our end before suggesting though, right?  Ensure the functionality didn't get lost (I checked, and seemed to work as expected on my end, but maybe there's another way of using it I'm not familiar with).

[2017-06-15 13:51] egilchrist commented on #130
All done.

[2017-06-15 13:51] #130 closed

[2017-06-15 14:01] carrickr opened #142 "Determine If All 186 Masterfile deletes were valid"
We have 186 masterfiles in Avalon 4 that did not make it to Avalon 6.  At least some of these are probably valid deletes and shouldn't have been migrated (old testing data that was never cleaned up, etc).  However mbk and I have concerns that 186 seems rather high.

The master files are:

[code]

[2017-06-15 14:27] carrickr commented on #123
@davidschober

Here is a list of media object pids for your pleasure.  Can't give you derivative pids since you can't search for them.

[code]

[2017-06-15 14:46] adamjarling commented on #62
Agreed on the selection of featured items.  Can someone let us know which to feature?  For now it's just hardcoded into the home page.

[2017-06-15 15:11] mbklein commented on #62
See #9 for a collection that we want featured. :)

[2017-06-15 15:12] mbklein commented on #9
@adamjarling knows how to make this happen.

[2017-06-15 15:19] carrickr commented on #53
@davidschober Is this still relevant and if so still precutover?

[2017-06-15 15:34] carrickr opened #143 "Final Migration of Avalon 4 Content to AWS"
- [x] Use create date to get everything created in 4 and push it to AWS
- [x] Migrate the 156 pids referenced [here](https://github.com/nulib/avalon/issues/142#issuecomment-308799599)
- [x] Scan for any failed HLS Splits like we did in #123
- [x] Scan for any duplicate MediaObjects or MasterFile issues as done in #111

[2017-06-15 16:08] carrickr commented on #111
106 split obects:

["numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numedia:10247", "numed

[2017-06-15 16:23] carrickr commented on #111
Okay, looks like beethoven split, but `9k41zd48h` got custody of the kids

irb(main):092:0> MediaObject.find('9k41zd48h').master_files.size
=> 102

irb(main):093:0> MediaObject.find('t148fh13t').master_files.size
=> 0

So `t148fh13t` is clear for drowning

[2017-06-15 16:29] carrickr opened #144 "Copy Derivatives to Avalon 6 and Split"
https://media.northwestern.edu/media_objects/jq085j97c https://media.northwestern.edu/media_objects/cv43nw80h

jq085j97c
old_pid: numedia:47953
- [x] has one mf on AWS, verify that on 4
- [x] copy derivatives
- [x] hls split
```[#<Derivative id: "0eec762f-05a8-4877-b33e-44b96b2625ff", migrated_from: [#<ActiveTriples::Resource:0x2b2a1d7a6008(#<ActiveTriples::Resource:0x0056543af4c010>)>], location_

[2017-06-15 16:38] carrickr commented on #142
@mbklein

As a FYI, these 76 masterfile ids represent while Johnny Cash lost files
[code]

They are present on Avalon 4, but not on AWS.  So these pids can be remigrated when do our final check.  Good news is this means there aren't split media objects or random unattached masterfiles running around 6 probably

I will look into the other 110 and see how many need to be remigrated.

[2017-06-15 16:41] carrickr commented on #111
Only split object deleted, this can be closed

[2017-06-15 16:41] #111 closed

[2017-06-15 16:46] carrickr commented on #142
Okay @mbklein

Looks like 156 of the 186 need to come across.  My methodology was to pull up the masterfile on 4 and see if it had:

- derivatives
- a media object

If it had both, flag it as something that needs to be remigrated.  The pid list is:

[code]

[2017-06-15 17:24] davidschober commented on #53
It's valid, but at a later time. MBK had found some very large derivatives (bigger than the master files). We may want to retranscode those oddballs.

[2017-06-15 17:26] davidschober commented on #127
@mbklein @carrickr This looks like the last big one...

[2017-06-15 17:39] adamjarling commented on #9
There's a pull request in place to add this collection to the homepage's Featured Collection listing.

[2017-06-15 17:40] #129 closed

[2017-06-15 17:42] #122 closed

[2017-06-15 19:48] carrickr opened #146 "Stream AWS Logs to a better location"
So that Avalon, Fedora, etc logs can be picked up via the AWS Console and viewed from a central location

[2017-06-15 19:48] carrickr opened #147 "Can't reindex_all using Active Fedora on AWS"
This is a problem, kind of a critical one next time we rebuild.  Issue seems to be the fedora instance runs out of RAM.

Possible Solutions:
- [ ] bigger instance for Fedora
- [ ] triple store

[2017-06-15 19:51] davidschober opened #148 "SOLR backup job to run on avalon"
Make this an active job that runs regularly

Create a SOLR backup job that runs on an avalon worker

Similar to:::

[code]

[2017-06-15 19:52] davidschober opened #149 "Create SOLR Restore job"
make this an active job that can be run via logging into avalon-workers and firing this job off as a perform now

So That:

If solr goes down we can bring it up cleanly from backup. This will depend on

#148

[2017-06-15 20:02] davidschober opened #150 "Create Friendly cname for the DB"
We should create a friendly cname for the DB so that if things go crazy, we just repoint at a new name.

Note, this should be moved into the cloud formation script.

[2017-06-15 20:04] carrickr commented on #105
Emailed Dan to see which members of his staff have an immediate need for credentials will mint those

[2017-06-15 20:19] carrickr opened #151 "Discuss AWS is Down Recovery Options"
For example do we start replicating our S3 buckets (this costs more money)?
Then we can just form a new cloud in a region other than East (we'd be down while the cloud forms)
Or do we replicate across multiple regions so we have no outage if a region goes down (costs more)

Discuss options and write docs on how to fail over to another region/etc if AWS takes a header

[2017-06-15 20:36] carrickr commented on #144
derivatives for the first item

{"system_create_dtsi"=>"2017-06-06T15:07:00Z", "system_modified_dtsi"=>"2017-06-06T15:07:00Z", "object_state_ssi"=>"A", "active_fedora_model_ssi"=>"Derivative", :id=>"numedia:47955", "object_profile_ssm"=>"{\"datastreams\":{\"DC\":{\"dsLabel\":\"Dublin Core Record for this object\",\"dsVersionID\":\"DC1.0\",\"dsCreateDate\":\"2017-06-06T15:07:00Z\",\"dsState\":\"A\"

[2017-06-15 21:16] carrickr commented on #144
pretty in pink mf:

MasterFile pid: "numedia:47954"
Derivatives:
numedia:47955
numedia:47956
numedia:47957

[2017-06-15 21:51] carrickr commented on #144
@mbklein

I'm wondering if we need to migrate the media objects

I have the first one all hooked up:
[code]

But still get LDP gone when I try to grab it via the web app
[code]

[2017-06-15 21:54] davidschober commented on #151
I think we will have to do a cost/benefit analysis. The 2017 one was one off a handful of s3 issues. It was < 5 hours in one region.

[2017-06-16 00:00] mbklein commented on #146
Worth a look: https://aws.amazon.com/blogs/aws/cloudwatch-log-service/

We can also define custom CloudWatch monitoring metrics and alarms based on log entries.

[2017-06-16 14:13] carrickr commented on #144
Looks like we lost permissions or something in Fedora, I am going to nuke all mos, mfs, and derivatives and when we will remigrate

[2017-06-16 15:04] davidschober commented on #148
Currently @mbklein and @carrickr are running daily backup scripts from their desktops. It's not ideal, but we will grab finish this work early next week.

[2017-06-16 15:28] carrickr commented on #142
We also need to do media objects ```numedia:47953 numedia:47959```

[2017-06-16 16:08] adamjarling commented on #62
@carrickr Looks like the About link is still not working?  If there's anything I can do, lemme know.

[2017-06-16 16:10] #9 closed

[2017-06-16 16:11] #135 closed

[2017-06-16 16:11] #140 closed

[2017-06-16 19:08] davidschober opened #152 "CRITICAL: player not showing in safari"
The player is not showing in Safari:

To recreate:

Go to a media in safari
https://media.northwestern.edu/media_objects/rf55z789j

Note that the player isn't showing

![screen shot 2017-06-16 at 2 07 10 pm](https://user-images.githubusercontent.com/4803230/27241161-3fe88bfa-529d-11e7-8efa-74fbfaddd65b.png)

[2017-06-16 19:15] davidschober opened #153 "can't "manage files" shows"
To Recreate. Go to the item, click edit, click manage files, see that it drops an error

http://media.northwestern.edu/media_objects/hh63sv92f/

OR

http://media.northwestern.edu/media_objects/6682x4031/edit?step=file-upload

![screen shot 2017-06-16 at 2 14 34 pm](https://user-images.githubusercontent.com/4803230/27241374-37e1a512-529e-11e7-95a5-e6904162f0d9.png)

[2017-06-16 19:37] davidschober commented on #153
Per MBK> File location was empty. Updating code to display properly when there's no empty file location. ~5k missing.

[2017-06-16 19:54] #153 closed

[2017-06-16 19:55] davidschober commented on #152
I'm the only one experiencing this. lowering priority

[2017-06-16 19:57] davidschober commented on #107
Closing Thanks everyone.

[2017-06-16 19:57] carrickr commented on #127
@mbklein

we have a bunch of url append '/embed' calls in the code base, I can just remove all the append commands if we want to go that way.

I would note that we also can't embed via handle is not working either

[code]

[2017-06-16 19:57] davidschober commented on #105
@jenyoung I'm going to close this, we can get creds as needed. @carrickr you're on call for this.

[2017-06-16 20:01] davidschober commented on #152
works now. Seems like a safari issue.

[2017-06-16 20:01] #152 closed

[2017-06-16 20:15] carrickr commented on #127
![Screen Shot 2017-06-16 at 4.15.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57597a1ac08e191300f20ed2/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f56b7191a37cf1132e4f5f585ecc3c4a4356bcbbd671f3e57862804e0eead5380977903d14a9ed851beb03e8208f1a85b5b4894ad2f42f67b6d5db1063474f4dcbed5727a29a48cd5bfc4ae54452a2173262e57f3079408653.png)

[2017-06-16 20:24] davidschober commented on #93
I think this looks fixed!

[2017-06-16 20:24] #93 closed

[2017-06-16 20:25] davidschober commented on #79
@Toputnal and @d-venckus can you review @carrickr 's notes, and help clean up any misunderstanding?

[2017-06-16 20:25] #24 closed

[2017-06-16 21:36] carrickr commented on #142
@mbklein media object ideas

["numedia:9916",
 "numedia:11000",
 "numedia:12617",
 "numedia:14438",
 "numedia:14432",
 "numedia:14423",
 "numedia:14429",
 "numedia:14416",
 "numedia:15755",
 "numedia:17994",
 "numedia:17749",
 "numedia:19979",
 "numedia:20661",
 "numedia:22015",
 "numedia:21725",
 "numedia:23367",
 "numedia:23966",
 "numedia:24339",
 "numedia:24608",
 "numedia:3209",
 "numedia:379

[2017-06-17 01:43] davidschober commented on #123
still getting some that didn't seem to split showing 00-->00

nc580m69p
05741r84c
mg74qm17c
sx61dm37v

@carrickr

[2017-06-17 01:45] davidschober commented on #82
@jenyoung note above ^^^ Let's close this particular issue.

[2017-06-17 01:45] davidschober commented on #77
we're live.

[2017-06-17 01:45] #77 closed

[2017-06-17 01:47] davidschober commented on #79
@mbklein have we published the keys to the lockbox?

[2017-06-17 01:54] davidschober commented on #79
Procedures here. We still need to clean them up

https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-AWS-Overview-and-Outage-Information

And add screenshots. I may edit them into the general technical docs.

[2017-06-17 01:55] davidschober commented on #14
@laura-alagna go for it. I'm going to close this issue.

[2017-06-17 01:55] #14 closed

[2017-06-17 01:55] #106 closed

[2017-06-17 01:56] davidschober commented on #106
Note, the issue with "about" is being tracked elsewhere.

[2017-06-17 01:56] davidschober commented on #96
@jenyoung can you test and close?

[2017-06-17 01:59] davidschober commented on #96
Tested. I was able to remove notes field. @jenyoung can you confirm and reopen if necessary?

[2017-06-17 01:59] #96 closed

[2017-06-17 02:00] davidschober commented on #128
@mbklein I'm still getting a broken image when trying to update a thumbnail on the example.

[2017-06-17 05:24] mbklein commented on #142
@carrickr Corresponding migrated ids of those media objects:

["2f75r8519",
"cc08hg17w",
"zg64tm70n",
"gm80hv86w",
"b5644s077",
"3t945r34g",
"8336h247h",
"bz60cw79b",
"ws859g10p",
"w3763734f",
"p8418n72b",
"8910jv059",
"ft848r10n",
"0z708x01w",
"n583xv63b",
"w3763735q",
"n009w286c",
"0z708x025",
"765371859",
"d791sg73b",
"6w924c37t",
"0z708x03f",
"w95051071",
"th83kz77f",
"jh343s81x",
"nv935341f",

[2017-06-17 05:50] mbklein commented on #142
For some reason, I had to manually find and reattach two master files to one large (177 section) media object. There were also 3 strays that thought they belonged to that object – and they probably did, but were removed in 4 – that I had to get rid of. This may be the case with the other objects I migrated tonight. Several of them thought they had the wrong number of master files, but I forced the

[2017-06-17 12:24] davidschober commented on #143
@carrickr can you update this issue Monday? I think it's 99% done.

[2017-06-17 12:42] davidschober commented on #146
@carrickr and @mbklein was this completed... I thought I saw MBK do an accidental demo of it in Molly's office.

[2017-06-17 12:43] davidschober opened #154 "standup test environment of Avalon"
Note, this should be under a different account and should be shareable with our Donut.

[2017-06-17 12:47] davidschober opened #155 "Title not readable when attaching from S3"
The file is not readable when attaching from s3. Styling should allow for "file" to be very readable for long filenames as admins pack metadata into the filename.

BEFORE:

![image001](https://user-images.githubusercontent.com/4803230/27253030-1a72700e-5331-11e7-928e-22645d61c030.png)

AFTER (this is the new skinned version):
(removed)

[2017-06-17 13:05] davidschober commented on #142
Don’t Panic… And make sure you keep your towel, man.

[2017-06-19 14:09] carrickr commented on #105
Reopening as I got the three names:

Dan Zellner
NetID: dzellner

Liz Weinstein
NetID: Law9962

Josh Yocum
NetID: jmy5226

[2017-06-19 14:11] carrickr commented on #143
Waiting for #142 to complete, I'll run one final scan and then close this

[2017-06-19 14:13] carrickr commented on #144
This will probably be handled by #142 when we do the larger fix.  These two failed specifically in a manner that lead there being no streamfiles so I'm leaving this one open to remind myself to check these two by hand one #142 is done.

[2017-06-19 14:55] carrickr commented on #105
Credentials emailed to all users

[2017-06-19 14:55] #105 closed

[2017-06-19 15:28] carrickr commented on #142
Migration has run, since there are just 27 media objects I'll check them by hand with regard to section count and spot check individual master files for streaming

[2017-06-19 16:15] ccaizzi commented on #150
@mbklein @carrickr is this for you?

[2017-06-19 16:37] adamjarling opened #156 "Alert message coloring"
### Description
Verify all alert message coloring adheres to NU success/error/info message colors.

![nu-avalon-new-playlist-alert.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f24da14abd8425473e7f2017b7667189e63aab0037431f1d11f6140b1b56f6eb8c2ca2e36a73dc5c0ee8846a5b20c46f11a8ed821cb702bc32975dc7e7e2de1

[2017-06-19 16:38] mbklein commented on #127
We have three issues here:

- [] The embed UI itself, which we're working on.
- [] Embed authentication, which I can work on while @adamjarling deals with the UI issue
- [] The inappropriate quoting in `<iframe title=""A Gift from Somewhere" - AFR111_4.wav" ...`

[2017-06-19 16:43] mbklein commented on #148
The job is written; we just need to decide how often it should run and schedule it

[2017-06-19 16:44] adamjarling opened #157 "Toggle Autoplay button update coloring"
### Description
Update the toggle button style based on conversation with NU Global Marketing regarding color.  Turn to grey/light-grey.

![nu-avalon-toggle-button.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f257ab5af7982c0b25663d10ac2532c9a138ad4d71040c1b5ca6535d5840a9af8a7da6b339258d585fef836d5b21c6

[2017-06-19 17:15] adamjarling opened #159 "Upload Media Buttons"
### Description
The Upload button is still Avalon 'green', and there should be spacing between the buttons.

![nu-avalon-upload-media-buttons.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f256b451ff952d0b2a762d0da2667290f73cb04c6843434d0eee1e020a17b8eb8339a3b13825dc5f5dedd4680a73c26913feb8864abf02b2238d

[2017-06-19 17:24] adamjarling opened #160 "Delete Item - Update colors"
### Description
The warning alert message color should be changed to NU Branding red.  And the 'Yes Im Sure' delete button should be purple and not red.

![nu-avalon-delete-item-colors.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f247a151f5802c0b2e672c09ee287f89ec3aac0037431f1d11f6140b1b56f6eb8c2ca2e36

[2017-06-19 17:31] adamjarling opened #161 "Collection Edit Screen - Tooltips/Required?"
### Description
On the collection edit screen, what do the asterisks mean?  Required?  And the question mark icons don't respond to any click or hover events.  What are they intended to do?

![nu-avalon-collection-info.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f240ab51fc912a522e7c2749aa25768aa164fd5

[2017-06-19 18:02] ccaizzi commented on #148
Thanks, @mbklein

[2017-06-19 18:03] ccaizzi commented on #127
@mbklein is the inappropriate quoting something we can deal with or is it from the external websites?

[2017-06-19 19:44] mbklein commented on #62
Looks fine to me. Is this issue ready to close?

[2017-06-19 19:48] adamjarling commented on #62
@mbklein What do you see when you click on the 'About' link in primary navigation?  On http://avalon.repo.rdc.library.northwestern.edu/aboutnu, I see no content and only the headline "Avalon (6.0.1)".  Do you get regular About page content?

[2017-06-19 20:14] carrickr commented on #143
@mbklein Looks like content is done and we just need to attach and split

[2017-06-19 20:14] carrickr commented on #142
This is done, everything migrated, just HLS splits and attachments left.

[2017-06-19 20:18] adamjarling commented on #155
I don't think the 2nd photo (AFTER) is the issue described by Alex.  Seems this is the problem (attached).

![nu-avalon-import-from-s3.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f24aa94dff863d0b21612609ee3823c7af6aaf50740b0a0c0abe4b4a5a43f8acdf28f0b63975df5b0fb9d33f5f70933d12a4bb840da313f871d51bdaebe

[2017-06-19 20:31] davidschober commented on #155
You're right. Grabbed the wrong screen.

Sent from my iPhone

[2017-06-19 20:44] carrickr commented on #144
These two were high priority and done by hand.  I tested and they are currently working in Chrome.  HLS splits are queue.  Molly has been notified.  I will close this and reopen if there are issues.

[2017-06-19 20:44] #144 closed

[2017-06-19 20:49] carrickr commented on #62
I see no content as well.  The routes seem correctly set up, so not sure why the page is showing no content.

[2017-06-19 20:55] carrickr commented on #79
I'm going to do a brief overview for the other devs on Friday so they know what is happening

[2017-06-19 20:59] adamjarling commented on #155
Here's an issue which may require a deeper dive...for some reason there are explicit widths set on column elements in this table.  Either a plugin or a cruel developer's doing, so we'll have to crawl back and find where this is being applied.

A short term, possible solution (...hopefully) is I can increase the width of the modal window itself, which may give enough room to the column?   Will have

[2017-06-20 14:35] #110 closed

[2017-06-20 14:39] mbklein commented on #146
Avalon's rails and HTTP logs are now streaming to CloudWatch. Fedora and Solr aren't.

[2017-06-20 14:39] #146 closed

[2017-06-20 15:34] mbklein commented on #150
Yes, this is for me. It's mostly done, but completing it requires a restart of Fedora that I don't want to do during the day.

[2017-06-20 15:35] ccaizzi commented on #142
@carrickr want me to close this or leave it open/in review?

[2017-06-20 15:40] mbklein commented on #149
This doesn't really need to be a job. Since running a one-off job would require `rails console` access anyway, this can be achieved much more efficiently with `SolrCollectionAdmin.new.restore('/data/backup')`.

[2017-06-20 15:42] mbklein commented on #149
Abandoning as unnecessary and redundant

[2017-06-20 15:42] #149 closed

[2017-06-20 15:43] mbklein commented on #128
I believe this is fixed now for new videos. Needs review and testing.

[2017-06-20 16:10] egspoony commented on #79
@Toputnal @d-venckus to look at the documentation and take screenshots to add to the documentation.

[2017-06-20 16:54] adamjarling opened #166 "Select All in document list fix"
### Description
The 'Select All' markup is invalid Bootstrap, and doesn't align properly in the layout.

### Done Looks Like
- Wrap in a bootstrap `.row` class, and adjust display.

[2017-06-20 18:57] adamjarling opened #169 "Media items section area cleanup"
### Description
Remove the bullets from section items, and make arrow NU purple instead of stock Avalon green.
![nu-avalon-sections-bullets-arrow.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f250a15ee49d2648343e2b11af277591f065be50690e184d52be011a001ea9aacd39aca439778e095dee876d5a71933a15f8bad01fbb54ba

[2017-06-20 19:38] #128 closed

[2017-06-20 19:50] adamjarling opened #171 "Collections page list"
### Description
A few UI issues are present in the Collections list.

### Done Looks Like
- Make the table columns better suit the content (extend width of Title and Description).
- Update markup in New Collection modal (Upstream fix)
- Make definition titles in metadata section regular text color and bold, instead of purple where they are confused as a link.

[2017-06-20 20:34] adamjarling opened #173 "Upload from s3 UI enhancements"
### Description
Make some further adjustments to the Add files from S3/Dropbox modal.

### Done Looks Like
- Center checkbox in "Select All" column.
- Remove the 'danger' style from the Cancel button.

![nu-avalon-s3-import-enhancements.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f250f710f999394935676

[2017-06-20 20:41] adamjarling opened #175 "Alternative title layout for Media object preview?"
### Description
Just as a change of perspective, what if the title of a video/audio file was reflected in the page content more typically of a web application, instead of pinned to the right-column 'metadata' area?   Yea/nea?

#### NEW ####
![nu-avalon-media-preview-alt-layout.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d

[2017-06-20 20:56] adamjarling opened #176 "Playlists sidebar with main content"
### Description
When a playlist has video (maybe audio too?) content in it's left-column, the right-column playlist information layout could be cleaned up.

### Done Looks Like
- [ ] Fix 'Edit Playlist' markup (upstream)
-  [ ] Remove left-padding from unordered list of (? section items)
- [ ] Fix media type icon & total time to look like it flows with the information and doesn't stick out at the

[2017-06-21 02:03] mbklein commented on #108
DOI generator turned into an ARK generator. But it's done and configured and working.

[2017-06-21 04:00] #150 closed

[2017-06-21 14:01] davidschober commented on #108
Nice, we should discuss ark vs doi with Diaz and dorr.

Sent from my iPhone

[2017-06-21 14:17] carrickr opened #179 "Install AWS Command Line Utility on Avalonweb1p"
## Overview

MBK and I are finding that some of our derivatives aren't transcoding in such a manner that Amazon can stream them.  So sometimes we need to upload master files to AWS and right now the mount point we can get them from is Avalonweb1p.  So having the AWS utilities would be useful.

## Alternate

I understand we have a file server called Lala.  If that has the master files mounted on th

[2017-06-21 14:20] carrickr opened #180 "Loading Icon on Player"
Right now when you go to AWS Avalon in Chrome and try to stream something there is a 10 to 15 second delay for the RTMP stream to load.  This is something going on in media element.  @mbklein  profiled the actual load via wireshark and the actual file is taking a tenth of a second to buffer in.  However media element doesn't report ready to stream for that delay period.

This is a bit of a problem

[2017-06-21 14:22] Toputnal commented on #179
I will add the awscli packages to avalonweb1p which is doing diddly-squat at the moment.

[2017-06-21 14:22] adamjarling commented on #180
Yea, I can look into the event timing and see if we can hook into it.

[2017-06-21 14:24] adamjarling opened #181 "Input button groups enhancement"
### Description
The 'Add' button is not aligned to the text input field.  Fix the markup.

### Done Looks Like
'Add' button appears connected to the text input.

![nu-avalon-button-input-groups.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f241b149e49b270b2e7d3911b7667797ec3daf51394d4d1f0cf31b0d0c00eef3

[2017-06-21 14:26] adamjarling commented on #181
Fix, follow this:
https://www.tutorialspoint.com/bootstrap/bootstrap_input_groups.htm

[2017-06-21 14:33] ccaizzi commented on #143
@carrickr @mbklein is this done?  if so, please close.

[2017-06-21 16:27] jenyoung commented on #128
@mbklein was this tested?

[2017-06-21 16:33] jenyoung opened #183 "trying to view the "Manage Content" tab times out"
Keep getting timeout errors trying to view "Manage Content"
http://media.northwestern.edu/admin/collections

![2017-06-21_113230](https://user-images.githubusercontent.com/2250501/27395419-5abf2322-5675-11e7-8b03-3ea11d0b7a70.jpg)

[2017-06-21 16:42] jenyoung commented on #82
i'm confused. i thought we did

https://github.com/avalonmediasystem/avalon/issues/1616

[2017-06-21 19:01] Toputnal commented on #179
Done.  @carrickr

[2017-06-21 21:01] ccaizzi commented on #108
@davidschober John was in the loop about this.  ARK is better for our digital collections.  ARCH content should be doi most likely.

[2017-06-21 21:04] ccaizzi commented on #62
I am seeing this now.  Is this ok to close @carrickr and @adamjarling ?  Please do so if you were just waiting for sign off.

[2017-06-21 21:05] ccaizzi commented on #123
remind me @carrickr  about this one?  we just alert you when we come across anymore?

[2017-06-21 21:06] ccaizzi commented on #179
@carrickr please close if this is what you needed.

[2017-06-21 21:06] adamjarling commented on #62
@ccaizzi Yea, this has been completed and ready to close.

[2017-06-21 21:07] ccaizzi commented on #62
Closing.

[2017-06-21 21:07] #62 closed

[2017-06-21 21:18] ccaizzi commented on #179
@mbklein will look into 1p or 2p

[2017-06-21 21:19] #127 closed

[2017-06-21 21:19] #169 closed

[2017-06-21 21:25] #108 closed

[2017-06-21 21:26] ccaizzi commented on #148
@mbklein sstill working.  did not run this AM when supposed to.

[2017-06-21 21:27] ccaizzi commented on #155
We need to have course reserves look at this and sign off.

[2017-06-21 21:29] ccaizzi commented on #25
@davidschober let's schedule a meeting with @mbklein to align this with our preservation strategy.

[2017-06-21 21:39] ccaizzi opened #184 "Qatar testing"
@davidschober look at your email.
Let's set up a basic viewing test with the library director out there.  His contact is in Beth's email.

[2017-06-21 21:41] ccaizzi opened #185 "Rewrite Handles to ARKS"
Investigate writing handles to arks.  Either we do it and try and see if the provider can take over maintaining the handles once we decommission our server.

- [ ] Generate ARKs
- [ ] Verify ARKs exist for every object.
- [ ] redirect HNDLes to ARKs
- [ ] remove handles if necessary

[2017-06-21 22:23] mbklein commented on #179
@Toputnal @carrickr Whoops; it's avalonweb*2*p that has access to the correct `farchive`mounts. It's got to be easier to install `awscli` on 2p than mount `/farchive` on 1p, right?

[2017-06-22 17:22] #148 closed

[2017-06-22 17:25] adamjarling commented on #180
CSS Spinner used:
https://projects.lukehaas.me/css-loaders/

[2017-06-22 17:37] adamjarling opened #188 "Typography enhancements"
### Description
Additional updates to general typography following NU branding.

[2017-06-22 17:38] mbklein commented on #136
This is finished and deployed, but I'm waiting until Saturday 24 Jun to flip the switch on it.

[2017-06-22 18:48] adamjarling commented on #181
Upon inspection, this would require a significant amount of view refactoring.  Will push this off for an upstream fix at some point.

[2017-06-22 18:49] #188 closed

[2017-06-23 11:03] d-venckus commented on #116
I've added the following iptables rules to avalonweb2p:

-A INPUT -s 129.105.0.0/16 -p tcp -m multiport --ports 80,443 -m comment --comment "100 allow http and https access from ev" -j ACCEPT
-A INPUT -s 165.124.0.0/16 -p tcp -m multiport --ports 80,443 -m comment --comment "101 allow http and https access from chi" -j ACCEPT
-A INPUT -s 10.96.0.0/12 -p tcp -m multiport --ports 80,443 -m comment -

[2017-06-23 19:15] adamjarling opened #195 "Set up unit testing for NU_AVALON_JS"
### Description
With the js addition for custom loading indicators, we should set up unit testing and some mock html fixtures as a best practice for reliability.

### Done Looks Like
- Set up Karma as test runner
- Set up Jasmine
- Create HMTL fixtures
- Write tests

[2017-06-23 19:17] adamjarling opened #196 "Set up JSDocs for NU_AVALON_JS"
### Description
Set up automated documentation as a best practice for our custom js.

### Done Looks Like
- Pull in JSDocs
- Document all functions/methods/properties

[2017-06-23 19:47] #160 closed

[2017-06-23 19:47] #156 closed

[2017-06-23 19:47] #159 closed

[2017-06-23 19:47] #157 closed

[2017-06-23 19:47] #171 closed

[2017-06-26 14:29] davidschober opened #201 "Create cron job to clean up old/stale sessions"

[2017-06-26 16:08] davidschober commented on #147
@carrickr is this unique to AWS? Should we rope Phoung into this?

[2017-06-26 16:25] carrickr opened #202 "LTI Embed Fails in AWS Avalon"
[code]

[2017-06-26 17:03] carrickr commented on #202
@davidschober

To add Avalon items you need to hit the Course Reserves tool on the left hand column.  Then streaming video or audio.  However no items have been added to this course so there is nothing to add.

Just dropping in the URL won't work, the tool has to be used.  So to test this we need to get course reserves to add an item to the course and then access it via tool.

If you want to test

[2017-06-26 18:08] carrickr commented on #202
URL was being generated in Avalon, not via the LTI tool.  Doc this for future reference and close.

[2017-06-26 18:35] Toputnal commented on #179
Request the NFS share in question be shared to awalonweb1p :-)  @toputnal

[2017-06-26 18:36] #116 closed

[2017-06-26 18:38] #19 closed

[2017-06-26 20:17] Toputnal commented on #179
Opened NUIT Ticket #554353 for this.

[2017-06-26 21:54] davidschober opened #205 "Add GA to media.northwestern"
It looks like the Analytics code is not properly installed on media.northwestern.edu.

Please use:

UA-797260-33

I'm wondering if we should set up tag manager for more flexibility in the future. Let's just drop the vanilla tracking code on for now.

[2017-06-27 02:09] mbklein commented on #205
If Avalon already includes GA support, this is probably just a matter of setting an environment variable.

[2017-06-27 16:43] carrickr commented on #205
@mbklein I don't believe we do, I crawled through the code for a GA gem or analytics config point and found nothing.  However there is a gem for doing basic analytics in rails, PR set.

For more advanced analytics like streaming we might want to consider if we want to go with the advanced analytics or just get the stats from AWS directly.

[2017-06-28 13:58] Toputnal commented on #179
I have farchive19 mounted on avalonweb1p at /farchive19 and farchive20 mounted on avalonweb1p at /farchive20 @mbklein @carrickr @davidschober

[2017-06-28 16:06] ccaizzi opened #211 "Re-write Handles to ARKs or investigate provider doing it"
@mbklein mentioned maybe our handle provider can do this for us.  needs some investigation and a decision made.

[2017-06-28 16:45] davidschober commented on #142
@carrickr This is closed, correct? reopen if not

[2017-06-28 16:45] #142 closed

[2017-06-28 17:07] carrickr commented on #202
We had two issues here:

First was a missed fix from core Avalon.  Handled in PR #209

The second was we only had the `SETTINGS__DOMAIN__HOST` pulled out from our `avalon.yml` in the AWS config.  We needed `SETTINGS__DOMAIN__PROTOCOL = https` and `SETTINGS__DOMAIN__PORT = 443` as well.  As they are in the pre environmental config avalon.

Changed these two and deployed.

[2017-06-28 17:11] #202 closed

[2017-06-28 17:13] carrickr opened #212 "Help NU Canvas Team Generic Embed Work in Canvas"
IU's canvas admins did some configuration that allows Avalon's generic iframe embed to work in canvas.  They did some customization where when a user pasts in an Avalon iframe, canvas automatically inserts a second iframe that runs the LTI auth and allows the iframe to work.  Jon Cameron has some contacts at IU's Canvas Team that might be able to shed some light on how to do this.

[2017-06-28 17:28] carrickr commented on #201
Tagging in @mbklein He did a bunch of redis work and I think handled this there

[2017-06-28 17:29] carrickr commented on #179
Looks good to me!

[2017-06-28 17:29] #179 closed

[2017-06-28 17:29] carrickr commented on #123
Crawl complete, they should all exist at this point.

@ccaizzi Let me know if you find any that are broken.

[2017-06-28 17:29] #123 closed

[2017-06-28 17:30] #143 closed

[2017-07-03 15:29] #180 closed

[2017-07-03 15:30] adamjarling opened #214 "Fix Playlists Styling"
### Description
Run through the UI screens for adding and editing playlists, and fix styling issues.

[2017-07-05 14:48] mbklein opened #215 "Create sitemap to submit to Google"
Create a https://www.sitemaps.org/ compatible sitemap to use with Google and other search engines.

[2017-07-05 14:48] mbklein commented on #215
https://github.com/kjvarga/sitemap_generator

[2017-07-05 17:49] davidschober commented on #205
We should use GA. It makes integrated reporting/ etc considerably easier. I think we should move toward tag manager which should make this kind of work easier. It's a bit more setup initially.

[2017-07-05 17:54] davidschober opened #216 "Batch ingest is successful, but media is not attaching and duplicates are created"
## Description

When kicking off a batch ingest using the attached Spreadsheet, items duplicate, and no media is attached. We attempted to upload twice with different results (699 and 979 total items were created).

To recreate:

* Remove items from Herskovitz
* Use attached SS and assets
* see that no media is attached to most items

[batch_manifest.xlsx](https://github.com/nulib/avalon/files/112

[2017-07-05 17:54] davidschober commented on #216
ping @laura-alagna

[2017-07-05 17:57] davidschober commented on #216
Note, some are being duped. They seem to be coming from the top portion of the sheet http://media.library.northwestern.edu/?q=Bloke+Modisane+interviewed+by+Lewis+Nkosi&search_field=all_fields

[2017-07-05 18:00] davidschober opened #217 "Some movies not accessible from Canvas"
## DESCRIPTION

Course media is not accessible from within Canvas. Some professors have started to notice that course material is not accessible. To recreate, go to a course that has media, see that media is not accessible.

Note, this is not happening on all courses. @mbklein has started to investigate.

-----

EMAIL STRING

Is there some work being done? I’m not able to log in and look into this

[2017-07-06 14:33] carrickr commented on #217
So I see Moneyball has having four SU courses and after adding in the Avalon Test Course I can play it back via Canvas.

@davidschober I think the next step is to add me into one of the courses Gordon Swartz is teaching so I can attempt to stream while tailing logs.

[2017-07-06 15:05] davidschober commented on #217
Fedora was down. @carrickr moneyball ...

[2017-07-06 15:06] carrickr commented on #217
Well that makes it easy, close?

[2017-07-06 15:16] #217 closed

[2017-07-07 13:15] jenyoung commented on #183
this seems to have resolved itself since i reported it. closing

[2017-07-07 13:15] #183 closed

[2017-07-07 20:16] carrickr opened #220 "Fix 180 Herskovits Items Without Attached Media"
[code]

We should be able to fix by pulling out the items by title and matching a new 180 batch manifest, then uploading it and running it.  Since the master files never even made it to creation due to the timeout, I don't believe we have any orphans we could attach, but I'll verify with @mbklein

[batch_manifest (1).xlsx](https://github.com/nulib/avalon/files/1132208/batch_manifest.1.xlsx)
[batch

[2017-07-07 21:11] carrickr commented on #220
Currently rerunning using these two sheets, once they are done we need to clean out the items in Herskovits that have no master_files.  Final count should be 684

Note we'll end up with a duplicate `Gil Fernandez with Studs Terkel, recorded at WFMT`since I hand fixed it and it also run in `batch_manifest_2`.  So one of them needs to delete as well

[batch_manifest_2.xlsx](https://github.com/nulib/

[2017-07-07 21:41] carrickr commented on #220
Had to rerun -1 a second time due to a modeshape error, so we'll also need to clean up some addition dupes that have attached times.  -1 has all unique titles we can run off that

[2017-07-10 15:47] carrickr commented on #220
All 684 are uploaded, fixing terms of use due to the `/` currently

[2017-07-10 16:42] carrickr commented on #220
Terms fixed.  We have:

1. The expected count (684)
1. A media object for every title in the spreadsheet (including 20 untitled items)
1. Every media object has a masterfile, so it has content.

Closing, will reopen if @laura-alagna reports any more issues

[2017-07-10 16:42] #220 closed

[2017-07-10 16:45] carrickr commented on #216
For the record on this:

- In the short term users need to use sub 300 item spreadsheets, on Friday Laura had items time out.
- We appear not to be able to do small sheets in parallel.  I tried that with the most recent ingest attempt.  I submitted Sheet1 with 86 items and Sheet2 with 90 items. Upon uploading Sheet2, Sheet1's ingest failed with a modeshape error (see below).  Submitting the two sh

[2017-07-10 17:49] mbklein commented on #216
I solicited some input from the AWS community here: https://forums.aws.amazon.com/message.jspa?messageID=793849#793849

[2017-07-10 17:52] mbklein opened #221 "Figure out what's going on with RDS database size"
It shouldn't be filling up as fast as it is.

See: https://forums.aws.amazon.com/message.jspa?messageID=793871

[2017-07-10 17:53] davidschober commented on #221
k. Let's get @Toputnal and @d-venckus to assist.

[2017-07-11 14:27] davidschober opened #223 "Text double up on item view/ filenames"
## To Recreate

- Go to https://media.northwestern.edu/playlists/8
- look at the item with a long filename

![screen shot 2017-07-11 at 9 23 35 am](https://user-images.githubusercontent.com/4803230/28073245-c9a46842-661a-11e7-83a6-51c824673002.png)

[2017-07-12 16:35] davidschober commented on #205
Working. Closing.

[2017-07-12 16:35] #205 closed

[2017-07-12 16:45] davidschober commented on #136
@mbklein I just noticed this... Did you flip ye olde switch?

[2017-07-12 16:55] davidschober commented on #155
@adamjarling was this merged?

[2017-07-12 16:57] adamjarling commented on #155
@davidschober Yes, that change should be live, but not sure if end users have signed off on it being an acceptable solution or not.

[2017-07-12 16:58] davidschober commented on #155
K. I’ll ask Molly.

[2017-07-12 19:00] davidschober commented on #155
Hi David,

Thank you!  Yes, this is working.  Much appreciated (:

Molly

[2017-07-12 19:00] #155 closed

[2017-07-12 20:04] davidschober commented on #85
This isn't a new problem. This surfaced as part of the migration.

[2017-07-12 20:14] davidschober commented on #212
Is this a "someday" @carrickr and @mbklein or do we want to push to get this done?

[2017-07-12 20:16] davidschober commented on #139
I'm OK with this. @mbklein @carrickr ? Will it take a considerable amount of work? My only concern is that it's moving data around differently for audio/video. Maybe on this one we punt and hold the idea for donut?

[2017-07-12 20:21] davidschober commented on #151
Carrick, I think this would be cost prohibitive. I'm going to close this issue at this time. If there's a massive AWS outage, we will have to treat it like a massive NU outage. Assess/ notify/ etc

fyi @ccaizzi

[2017-07-12 20:21] #151 closed

[2017-07-12 20:22] davidschober commented on #201
@mbklein is this OK to close?

[2017-07-12 20:26] davidschober commented on #147
@carrickr it looks like this is a waiting for staging issue, correct? Like we'll want to see if we can crank up a "worker" fedora to handle a full reindex?

[2017-07-12 20:28] davidschober commented on #120
@jenyoung did we just suppress the other id? @mbklein ?

[2017-07-12 20:31] davidschober commented on #78
per discussion with Jen, this may be a workflow issue. @jenyoung to investigate and cleanup a bit more

[2017-07-12 20:32] adamjarling commented on #139
Yea, no problem.  Could be a nice UI upgrade at the appropriate time.

[2017-07-12 20:32] #139 closed

[2017-07-12 20:34] davidschober commented on #132
whew this is an odd one. @jenyoung @Nic4Images do you have any ideas? I'm going with delete it and move on with life?

[2017-07-12 20:37] davidschober commented on #133
@carrickr is there any more action to be taken here?

[2017-07-12 20:37] davidschober commented on #85
@jenyoung to find new examples, and possibly deal with this as a workflow issue.

[2017-07-12 20:38] davidschober commented on #95
@mbklein did you end up splitting summary into multiple solr fields for indexing?

[2017-07-12 20:40] davidschober commented on #92
6.1 dropped, we will grab this when we upgrade in a couple of weeks. @mbklein

[2017-07-14 16:21] jenyoung commented on #78
@davidschober this is not the same issue as the other one. These are not being mapped correctly.

[2017-07-14 16:29] jenyoung commented on #82
@mbklein @davidschober can we reopen and work on this? see the comment above. i thought we did decide how to handle these.

[2017-07-14 16:34] jenyoung commented on #132
@davidschober @Nic4Images since no one could even see it in old avalon, deleting sounds good to me

[2017-07-14 16:38] jenyoung commented on #120
what is going on with the IDs? I'm very confused. @davidschober @mbklein

[2017-07-17 18:49] adamjarling opened #224 "Add new image for Herskovits collection"
### Description
Update the homepage image for Herskovits collection

### Done Looks Like
Replace with the attached image

[2017-07-17 18:50] adamjarling commented on #224
![inu-mckay-gh-229](https://user-images.githubusercontent.com/3020266/28284542-eb14fa60-6af6-11e7-9edb-9544f88a4fdd.jpg)

[2017-07-18 18:36] davidschober opened #226 "Add logical page titling for analytics and SEO"
## Description:

Currently all our page titles are:

Avalon Media System

In order to facilitate better metrics and SEO we should change our page titles to:

[code]

Using a pipe as a delimiter will allow regex filtering and content grouping in Google Analytics.

### Bonus points

If we have easy access to the course title we add the course title in brackets

[code]

Using GA I can create content

[2017-07-18 20:39] davidschober commented on #25
@mbklein and @Toputnal and @d-venckus let's discuss our sync strategy this week. Michael, this is something Jim and David can setup a local worker to sync from the s3 nightly correct? Using using something like http://docs.aws.amazon.com/cli/latest/reference/s3/sync.html

[2017-07-19 21:50] davidschober opened #227 "playlist item not streaming"
## Description

a playlist item does not seem to be streaming. It shows the load spinner and never gets the stream in chrome/ff. In Safari it shows the start and end time as 00:00-->00:00

From Molly:

I’m trying to do some Playlist testing, and can’t get this newly edited Segmento 4 (see https://media.northwestern.edu/playlists/31) to play.  Is some AVR work perhaps happening right now?  Or, is i

[2017-07-20 14:33] Toputnal commented on #79
I have added some basic screenshots where instructions were available.  Please let me know if/where additional screenshots  may be needed.  @carrickr @davidschober @d-venckus @mbklein @MarekBabala https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-AWS-Overview-and-Outage-Information

[2017-07-20 21:56] davidschober opened #228 "Embedded videos are very dark"
Josh noted that embedded videos are very dark (compared to original).

To recreate:

1. embed video on an html page
2. look at video and compare to original
3. note it looks like there's a dark overlay or something.

![screen shot 2017-07-20 at 4 55 47 pm](https://user-images.githubusercontent.com/4803230/28440541-5905cf0a-6d6c-11e7-94af-bee8e7d065b0.png)
![screen shot 2017-07-20 at 4 55 02 pm](ht

[2017-07-20 21:56] davidschober commented on #228
@carrickr and @mbklein can any ideas?

[2017-07-21 15:39] jenyoung commented on #86
newer script from Big Avalon https://northwestern.app.box.com/files/0/f/32661284132/Testing

[2017-07-21 16:31] #221 closed

[2017-07-21 16:33] mbklein commented on #154
http://avr.repo.rdc-staging.library.northwestern.edu/

[2017-07-21 16:33] #154 closed

[2017-07-21 16:34] #201 closed

[2017-07-21 16:35] mbklein commented on #147
Handling this issue upstream in core.

[2017-07-21 16:35] #147 closed

[2017-07-21 16:36] mbklein commented on #211
Dupe of #185

[2017-07-21 16:36] #211 closed

[2017-07-21 16:38] mbklein commented on #68
Working!

[2017-07-21 16:38] #68 closed

[2017-07-21 16:38] #69 closed

[2017-07-21 16:38] #70 closed

[2017-07-21 16:38] #71 closed

[2017-07-21 16:38] #72 closed

[2017-07-21 16:40] mbklein commented on #113
We ignore the name of the collection in the spreadsheet in favor of using the collection the dropbox folder is attached to.

[2017-07-21 16:40] #113 closed

[2017-07-24 18:13] adamjarling commented on #228
This has to do with the custom loading spinner we put on videos.  Since the embedded player doesn't have the custom loading spinner javascript, the opacity css never gets brought back up to a full "1".  I'll adjust how we're applying the CSS to fix.

[2017-07-24 18:47] davidschober commented on #79
I'm going review this and kick off issues for the TODOs in here. @carrickr or @mbklein  do you want to take a  quick glance?

[2017-07-24 21:59] adamjarling commented on #228
There were a few issues with the custom loading spinner not showing on embedded usages as well.  I believe I have most fixed, however @mbklein or @carrickr , could you point me in the direction of a live URL where someone is really embedding a video?   I want to make sure it works outside of my local embedding testing.

[2017-07-25 01:59] davidschober commented on #228
There's a video here:

http://imaginationwithoutborders.northwestern.edu/about/

Down one the page.

Sent from my iPhone

[2017-07-25 13:28] adamjarling commented on #228
@davidschober Great, thanks.

[2017-07-25 19:54] davidschober commented on #82
@mbklein and @carrickr do we need to grab the old pids and put them in the proper place?

[2017-07-25 20:09] davidschober opened #230 "Playlist auto advancing, and not showing clips."
## Description

When a playlist with a segment as the first item loaded, the player shows the full length of the movie until a user clicks on the segment. This seems unique to our instance of Avalon (the current pawpaw instance does not have this bug.

## To recreate:

Create a public or a private playlist
add a segment
add another segment
add another one
go to playlist, note that the full media o

[2017-07-25 20:11] davidschober commented on #230
@carrickr or @mbklein do you want to take a look at this one?

[2017-07-26 22:27] davidschober commented on #57
Noted on spreadsheet above. @ccaizzi and @mbklein I'm adding the spreadsheet to the wiki for future reference. Moving forward, we can keep it updated.

[2017-07-26 22:27] #57 closed

[2017-07-26 22:27] #26 closed

[2017-07-27 15:24] davidschober commented on #230
@carrickr @adamjarling can you dig into this one a bit? It's petty serious. On pawpaw, we don't see this error at all.

[2017-07-27 19:57] davidschober commented on #228
@carrickr let me know when you're going to do a reply.

[2017-07-31 14:24] #224 closed

[2017-07-31 18:15] d-venckus opened #231 "Run through AWS restart in Avalon Staging"
Run through steps in #79 (Avalon)

[2017-07-31 18:16] d-venckus commented on #79
Closing, will test.

[2017-07-31 18:16] #79 closed

[2017-07-31 18:59] d-venckus opened #232 "Discuss AWS security with DevOps and RepoDev team"
Talk about perhaps the current single-key access to our production Avalon AWS environment.  Does this need to change or remain as-is?

[2017-08-01 16:20] davidschober commented on #223
This looks fixed/ cant' recreate.

[2017-08-01 16:20] #223 closed

[2017-08-01 16:21] davidschober commented on #133
@carrickr let me know if we have to do anything else here.

[2017-08-01 16:24] davidschober opened #233 "Update Monitoring Documentation"
## Description

We have changed/ tweaked our monitoring for production Avalon. Cloud watch now kicks off pages to our internal system and updates slack. @Toputnal and @d-venckus can you update the technical docs with how it works/ who's getting notified. [monitoring](https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-Technical-Documentation#monitoring-via-cloudwatch)

Much was changes as

[2017-08-01 16:24] davidschober commented on #233
@Toputnal @d-venckus low hanging fruit here.

[2017-08-01 16:32] davidschober opened #234 "Document SOLR backup"
## Description

We want to make sure our SOLR cores are backed up regularly so that in an emergency we can bring the system back up from a dated back up. This hole was noted during a review with Devops.

[Original Notes during doc session](https://github.com/nulib/repodev_planning_and_docs/wiki/AVR-AWS-Overview-and-Outage-Protocol#creating-solr-backups)

## Done looks like

- [x] SOLR is backed up

[2017-08-01 16:36] davidschober commented on #234
@mbklein and @carrickr did this already get done? If so can we document in the referenced doc and close it out? If it's no longer valid, let's just make sure we doc how to come back from the dead.

[2017-08-02 16:20] davidschober commented on #230
@mbklein and @carrickr just wondering if anyone has had a chance to take a guess at what might be happening here.

[2017-08-02 16:23] davidschober commented on #228
This fix seemed to work. Top live avalon, below staging.

![screen shot 2017-08-02 at 11 22 21 am](https://user-images.githubusercontent.com/4803230/28883699-f563223c-7774-11e7-9a90-5eec9c2092e0.png)

Let's get this merged and deployed @carrickr @mbklein @adamjarling

[2017-08-02 16:25] davidschober commented on #228
ignore the last one. I just realized i was looking at the wrong avalon. checking now.

[2017-08-02 18:45] adamjarling commented on #228
@davidschober New code fix is not being served yet.

[2017-08-03 16:18] laura-alagna commented on #224
Hi @adamjarling - any idea when this will go live? I'm still seeing the old image on the homepage. thanks!

[2017-08-03 16:19] adamjarling commented on #224
@laura-alagna Let me check.  This was done a while ago...

[2017-08-03 16:19] davidschober commented on #230
Note, @carrickr and I were working through this. It appears that it might be a streaming issue of some kind (RTMP).

[2017-08-03 16:21] davidschober commented on #228
This looks fixed on staging.
![screen shot 2017-08-03 at 11 18 31 am](https://user-images.githubusercontent.com/4803230/28932097-ebdd8684-783d-11e7-81d8-c2efb0c4fd00.png)

Production left, staging right.

[2017-08-03 16:25] adamjarling commented on #224
@mbklein @carrickr Looks like this fix was pushed to `deploy-aws-staging`.  Any ideas on when it might go live for @laura-alagna ?

[2017-08-03 17:12] Toputnal commented on #25
I'm currently syncing masterfiles to my local, mirrored disks on my desktop. I will request a new isilon share and will move the files from my desktop to the new isilon share so as to avoid downloading everything from amazon more than once.

[2017-08-03 20:35] Toputnal commented on #232
We attended this meeting and got lots of answers and more questions.  As it should be.  :-)

[2017-08-03 22:13] davidschober opened #236 "Standup Avalon from Avalon Cloudformation Script"
## Description

in order to ensure our team is learning cloud formation @d-venckus and @Toputnal should stand up the Avalon (and the whole eco-system) inside of a  AWS.

## Notes

Cloud formation script
https://github.com/avalonmediasystem/avalon-aws

[2017-08-03 22:14] davidschober opened #237 "Pick a firedrill day"
## Description

Pick a day to mess up staging, let someone mess it up, fix it. Work with Carrick on this.

[2017-08-04 15:03] jenyoung commented on #86
possible story https://github.com/avalonmediasystem/avalon/issues/2166

[2017-08-04 20:17] Toputnal commented on #25
I am copying the data from my desktop to the Isilon on farchive21 via avalonweb1p.  After the initial copy. I will look into setting up a nightly cron job on avalonweb1p to just pull down diffs from s3.

[2017-08-07 18:16] #232 closed

[2017-08-09 14:29] Toputnal commented on #25
I have setup a cron job on avalonweb1p (our "offline" local Avalon web instance) to sync/pull down avalon-masterfiles-cfx3wj9 and put the contents in farchive21.  The job runs at 2:22 AM each day.  @mbklein @carrickr is this the only s3 bucket that needs to be sync'ed locally?

[2017-08-09 16:37] davidschober commented on #228
Great work all.

[2017-08-09 16:37] #228 closed

[2017-08-09 16:55] Toputnal commented on #236
I am working through standing up everything using the cloudformation templates/configs in NUL-IT-Sandbox-Admis.

[2017-08-09 17:02] davidschober commented on #214
@adamjarling it looks like this got merged. @carrickr deployed. Closing.

[2017-08-09 17:02] #214 closed

[2017-08-09 17:02] davidschober commented on #136
@mbklein I'm going to close. Please reopen if need be.

[2017-08-09 17:02] #136 closed

[2017-08-09 17:05] davidschober commented on #227
This looked like an old playlist. Recreated and worked fine. Found #230

[2017-08-09 17:05] #227 closed

[2017-08-09 19:30] Toputnal commented on #236
I have reached out to Phuong  to see if he can give me any pointers as to where to start.  A directory full of template files just leaves me guessing how things ought to work.  (Not that I let that stop me from trying stuff.  :-)  )

[2017-08-10 15:39] davidschober commented on #132
@carrickr can you make this so? delete "numedia:11445"=>"vq27zn474" -- this has audio files but it looks really odd. I can't see the object in AVR 4 so I can't compare. Course Audio / Music Library

[2017-08-10 15:39] davidschober commented on #120
@mbklein when you get back, can we talk thought this?

[2017-08-10 18:02] davidschober commented on #89
@jenyoung @Nic4Images @egilchrist It looks like some of these docs are quite old. I'm glad to help format for the wiki to speed things along, but I want you to own the process. Can you take a look at the docs and update.

[2017-08-10 18:03] davidschober commented on #27
Closing issue. Load testing at this level may prove a bit tricky.

[2017-08-10 18:03] #27 closed

[2017-08-10 18:06] davidschober commented on #25
Thanks @Toputnal . I believe that's correct. @carrickr can you confirm. We're only concerned with syncing master files that have been ingested.

[2017-08-10 18:07] davidschober commented on #28
We've made several improvements and will continue to. Closing this for now.

[2017-08-10 18:07] #28 closed

[2017-08-10 18:20] carrickr commented on #25
@davidschober @Toputnal

That's correct.  Currently the only bucket we care about in production.

[2017-08-10 18:26] davidschober commented on #95
@jenyoung I'm closing it looks like we decided to keep transcripts in the summary field for now.

[2017-08-10 18:26] #95 closed

[2017-08-10 18:27] davidschober commented on #53
closing for now.

[2017-08-10 18:27] #53 closed

[2017-08-10 18:28] davidschober commented on #25
@Toputnal I'm going to close this as complete. I will write docs about where things are syncing to.

[2017-08-10 18:28] #25 closed

[2017-08-11 12:55] Toputnal commented on #236
I have setup a new DNS delegation for devops-test.library.orthwestern.edu which I am using to spin up things in the AWS Sandbox via the CloudFormation script.  Currently, I am debugging errors as I encounter them.

[2017-08-11 13:25] davidschober commented on #236
Great Jim! Dig around in there. Make sure you spin down instances. And one thing we realized is creating and destroying a bunch in a row causes extra charges ...

Sent from my iPhone

[2017-08-11 14:54] Toputnal commented on #236
Really?  Thanks!  I would not have guess that that would be the case. So far I haven't gotten anything to spin all the way up, yet, so the point is Moo, like a cow's opinion; it doesn't matter.

[2017-08-11 22:11] d-venckus commented on #115
This is done.  I created and installed a SAN/multi-name SSL cert onto avalonweb2p, answering to both "avalonweb2p.library" and also "legacy.media.library".

[2017-08-14 15:14] davidschober opened #238 "Audio issues loading content"
## Description

It seems that Molly is having issues uploading audio in Avalon.  I'm a little unclear on what exactly is going on. The item <http://media.northwestern.edu/media_objects/jh343t173> failed on ingest and she was able to create a new item and get the upload to work

## TODO

- @mbklein or @carrickr to investigate <http://media.northwestern.edu/media_objects/jh343t173>
- discuss Molly's

[2017-08-14 18:21] egspoony commented on #115
I have verified.

[2017-08-14 18:21] #115 closed

[2017-08-15 14:29] davidschober commented on #230
[Error] Failed to load resource: the server responded with a status of 403 (Forbidden) (6534122_10thin.m3u8, line 0)
[Error] Failed to load resource: The file “messages.json” couldn’t be opened because there is no such file. (messages.json, line 0)

[2017-08-15 14:44] davidschober opened #239 "Reordering files not grabbing right"
## Description

When grabbing a file to move win the "structure" section, the handle does not line up with the title. This seems to happen with items with many sections (files). See movie below. Macs lose the title (on a windows PC it appears the title and the curser are in different places.

Screenshot to follow.

[2017-08-15 19:55] davidschober commented on #238
@mbklein and I investigated. AIFF files are taking a long time to load and the session times out before the job is considered complete.  Michael is going to test with different audio codecs to see if it can alleviate the problem. We also noted #239 during the investigation.

[2017-08-15 19:56] davidschober commented on #239
![move_error](https://user-images.githubusercontent.com/4803230/29333553-cc165d90-81c9-11e7-9e9e-76cd7ea262e4.gif)

[2017-08-16 20:44] Toputnal commented on #236
We have crashed in newer and more exciting places.  @mbklein can you take a peek, please?

[2017-08-18 20:33] Toputnal commented on #236
I have been working on this, playing whack-a-mole, as it were, but I understand much better how all these components work together.  I have continued to document any notes, gotchas, etc. here https://github.com/avalonmediasystem/avalon-aws so far I have not hat the infrastructure.yaml stack come all the way up without errors (things like changed filenames or "hard-coded" Amazon Linux images that a

[2017-08-28 18:20] ccaizzi commented on #59
Michael Hannon as a contact.

[2017-08-31 16:08] davidschober commented on #226
@mbklein let's grab this when we do a cut to 6.2

[2017-08-31 16:09] davidschober commented on #133
@carrickr ^^^ is this ready to be closed.

[2017-08-31 16:10] davidschober commented on #132
@carrickr ^^^^

[2017-08-31 16:11] davidschober commented on #85
@jenyoung I think we forgot to close this. closing now.

[2017-08-31 16:11] #85 closed

[2017-08-31 16:29] davidschober opened #240 "Split Shakespeare."
Hi Molly,

The Shakespeare split is done, but I notice that the new items are not Published. They won’t be visible until they are. The old “Whole Thing” item still exists, but has no media attached to it. You should be able to delete it when you’re finished with it.

http://media.northwestern.edu/media_objects/jh343t173 is deleting. It should be gone by tomorrow.

Thanks for the audio test files.

[2017-08-31 16:29] #240 closed

[2017-08-31 16:30] davidschober opened #241 "Regenerate embed codes fo AVR"
It was recommended to me that I contact you regarding an issue I’m having with a few audio files on the University Archives site. The Black alumni association is trying to embed audio of James Turner in their website, but it doesn’t seem to work on their end. Here is the site where the audio is coming from:https://media.northwestern.edu/media_objects/7d278t113.
Before I propose forwarding the digi

[2017-08-31 16:31] #241 closed

[2017-08-31 20:05] davidschober commented on #230
@mbklein @carrickr This has been open for a bit. There's faculty training sessions on sept 14. Can someone dig into it?

[2017-09-05 14:59] #216 closed

[2017-09-07 16:01] Toputnal commented on #236
I have been making progress on this.   Thank you, @mbklein !  May I introduce to you, the Slee-Stack, the first successful build of the cloudformation scripts.  w00+!  @davidschober   @rtrautve1  @d-venckus

Now, on to building the second tier...

[2017-09-07 18:58] davidschober commented on #236
Awesome! send out a link! @Toputnal

[2017-09-07 19:00] davidschober commented on #236
oops, accidentally closed.

@mbklein should we move the formal docs to a wiki page within the Avalon context when it's done? I know you wanted to merge AWS stuff.

[2017-09-11 14:17] Toputnal commented on #236
The how-to, README.md has been moved to a private repository here: The how-to, README.md has been moved to a private repository here:

[2017-09-11 14:19] Toputnal commented on #236
Current status: The infrastructure stack (slee) is up and running.  Getting the Avalon application stack to build on top of the infrastructure stack is the current holdup.  I have contacted @mbklein.  Will update here when there is something to report.  :-)

[2017-09-11 15:37] egilchrist opened #242 "Failed Batch Ingest of Student Event films"
Ingest of 101 .mov files failed.  Divided into smaller batch of 5 .mov films.  Received email confirmation that "Your metadata package was validated and no errors were found. Your batch is now processing."
However, films would not load.  On Avalon, error message of ERROR: Amazon Elastic Transcoder could not transcode the input file because the format is not supported." for all 5 films."
![screen s

[2017-09-11 15:38] egilchrist commented on #242
Here's the link to the files in Avalon
https://media.northwestern.edu/?f%5Bcollection_ssim%5D%5B%5D=Student+Event+Films

[2017-09-11 15:39] egilchrist commented on #242
This is the spreadsheet with the smaller batch of 5 films.[Batch_manifest_student_events_batch1.xlsx](https://github.com/nulib/avalon/files/1293106/Batch_manifest_student_events_batch1.xlsx)

[2017-09-11 15:40] egilchrist commented on #242
All of the films are in lala in dms28 in various folders...

[2017-09-11 16:09] davidschober commented on #242
@mbklein it looks like this is an unsupported file format. @egilchrist where did these files come from?

[2017-09-11 16:13] carrickr commented on #242
@mbklein, I'm on community sprint, but maybe Apple ProRes, which is currently not supported.

https://aws.amazon.com/elastictranscoder/faqs/

[2017-09-11 16:28] jenyoung commented on #242
.mov files should be accepted I thought. Or is it how they were generated?

[2017-09-11 18:22] egilchrist commented on #242
@davidschober - these were the access master files generated by Josh when he digitized the Student Event films from Archives.  I don't know too much more about how they were digitized.

[2017-09-11 18:40] rtrautve1 commented on #59
abandoned.  Tags are preset by DLT

[2017-09-11 18:41] #59 closed

[2017-09-11 20:17] Toputnal commented on #236
Howto has been moved to the Wiki here:  https://github.com/nulib/repodev_planning_and_docs/wiki/AWS-CloudFront-Templates

[2017-09-12 15:43] davidschober commented on #238
@mbklein this got resolved correct?

[2017-09-12 15:54] #133 closed

[2017-09-12 15:54] carrickr commented on #133
It seems like both have been deleted somewhere along the line, so this can closed.

[2017-09-13 13:41] davidschober commented on #242
Can you point us to where they live? @carrickr thanks for jumping in!

[2017-09-13 14:06] egilchrist commented on #242
Hi. The files are in lala - in dms28. They are in the subfolder "Film_Deliverables" in the folder "NU-Student-Events-Media"

[2017-09-18 18:04] Toputnal commented on #236
The Dev instance of Avalon on AWS is up and running under our sandbox account!  We'd like to burn it all  down and bring it up again, soon, but it's up for the nonce.  http://smoke.slee.devops-test.library.northwestern.edu @davidschober @rtrautve1 @d-venckus @ccaizzi

[2017-09-19 18:11] #236 closed

[2017-09-19 18:27] davidschober opened #243 "Error uploading video"
![image001](https://user-images.githubusercontent.com/4803230/30608527-5192b63c-9d3e-11e7-8e18-f1ab5da81690.png)

So, I’m getting this error when I try to add a file to Avalon from the dropbox.  I think I have a (rather time-consuming) workaround, BUT if this could be looked at and quickly fixed that would be super.
Thank you!
Molly

[2017-09-19 18:29] carrickr commented on #243
Which specific file in the dropbox?

[2017-09-20 16:20] adamjarling opened #244 "Fix new sections 'Add sections to playlist' button display"
### Description
See attachment.  The new add buttons on a section row need to be styled so they are clear what they are, and not just a purple box.

![nu-avalon-sections-new-button-broken](https://user-images.githubusercontent.com/3020266/30655210-e280a9c6-9df5-11e7-9d2d-792fbbe9db6e.png)

[2017-09-20 20:25] adamjarling opened #245 "NU Avalon spinner Safari issues"
### Description
The custom NU Avalon loading spinner is causing issues clicking on section links in MediaElement players in Safari.

### Done Looks Like
Investigate what is causing the issue and fix so Safari section links are able to be clicked and played normally.

[2017-09-21 22:08] egilchrist commented on #242
@davidschober Here's the progress on the the test Student Event films.

I ingested the two test files made by Josh into Avalon.

1) I received the email that the Batch was successful
Your metadata package was validated and no errors were found. Your batch is now processing.
Manifest file: s3://avalon-masterfiles-cfx3wj9/dropbox/Student_Event_Films/test/Batch_manifest_student_events_test_formats.xl

[2017-09-22 14:56] davidschober commented on #243
IT looks like this sorted itself. I went and talked with Molly.

[2017-09-22 14:56] #243 closed

[2017-09-22 14:59] davidschober commented on #242
@egilchrist and @jenyoung this seems to be related to apple pro res. Josh said he would retranscode.

[2017-09-22 15:04] davidschober opened #246 "Waamu movies not uploading to s3."
## Description

Some Waamu movies are not moving to s3 via cyberduck. Erin tried straight via the DL share and then tried to copy the file to her desktop and upload from there. Both errored out with one second remaining the in the upload.
![image001](https://user-images.githubusercontent.com/4803230/30750887-44f2dd58-9f7d-11e7-8626-45ade41375e1.png)
![image002](https://user-images.githubuserconten

[2017-09-22 15:12] davidschober commented on #242
## For Documentation:

https://aws.amazon.com/elastictranscoder/faqs/

Q: Do you support Apple ProRes or digital cinematography formats?

We do not support reading Apple ProRes files or raw camera formats like ARRI and RED at this time.

@jyocum can you put these into a format that we can ingest?

@egilchrist until we update batch 100 is about the limit of an ingest, you might want to break it up

[2017-09-25 14:35] davidschober commented on #242
We're digging into how to get these there. We're closing this and putting up an issue about >100gig.

[2017-09-25 16:00] carrickr commented on #230
After some digging:

When RTMP streaming the file is slow to load but does load, however it loads at 0:00 (start of the masterfile) rather than the time stamp.

On HLS (iOS) the clip does not playback at all, stalls out loading.

We definitely need to solve the HLS problem, however my question (feedback welcome @mbklein ) is if we should solve it here on Avalon 6 with Media Element 2 or push on Av

[2017-09-25 16:08] carrickr commented on #230
On Chrome I'm seeing an infinite look regarding preload never completing (check dev console default level events)

[2017-09-26 15:14] davidschober commented on #246
We have found that AWS does not support apple pro-res. The production team has been creating h.264 derivatives all ready. We will ingest those (they are considerably smaller and should upload and transcode faster)

@egilchrist I'll stop over by your desk,.

CC:
@mbklein @carrickr @ccaizzi @dzellner @jenyoung @egilchrist

[2017-09-26 15:14] #246 closed

[2017-09-26 15:15] davidschober commented on #246
Note we also found the cyber duck has a **hard** 100gb limit. (it breaks files into 100mg pieces per amazon's recs and limits at 10k). For very large uploads, we will have to investigate another solution.

[2017-09-27 19:02] carrickr commented on #230
Cookie now authorizes, but it's still not jumping, still digging into this.

[2017-09-28 15:38] adamjarling commented on #245
@mbklein @carrickr I'm still getting an error trying to run the `nu-develop` branch locally.  Attached is a screen shot.  Here's some additional output:

[code]
![nu-avalon-blacklight-error-screen.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46e681d7229482a580e7f241a85cf39f254f207b3d49a639628af165ac4169040a015cb053181d1ba

[2017-09-28 19:18] egilchrist commented on #242
After uploading the access copies to CyberDuck, I attempted to batch ingest the 101 Student Event films.  63 films made it into Avalon and are viewable.

38 files did not ingest.

I received this error message via email:
Initial processing of your batch ingest failed. Details are below. Please see the Batch Ingest Package Format for further help.

Manifest file: s3://avalon-masterfiles-cfx3wj9/dro

[2017-09-28 19:19] egilchrist commented on #242
![screen shot 2017-09-28 at 2 18 32 pm](https://user-images.githubusercontent.com/20909880/30986145-1830c5b6-a458-11e7-8991-adbd56388351.png)

[2017-09-28 21:48] egilchrist commented on #242
[Batch_manifest_student_events_revised_ac_mp4.xlsx](https://github.com/nulib/avalon/files/1342452/Batch_manifest_student_events_revised_ac_mp4.xlsx)

[2017-09-29 15:24] egilchrist commented on #242
Jen suggested that I try to re-ingest the films that failed.  I just attempted it.  Success! I received an email that "Your metadata package was validated and no errors were found. Your batch is now processing" and that the Student Events films were ingested.   Thanks for all the help!

[2017-09-29 22:25] jenyoung opened #248 "Having trouble ingesting either the metadata or file"
@Nic4Images and John B. were trying to ingest a file that is coming from our Acquisitions workgroup.

Upload via web form:
* .flac file is the within the parameters of size. successfully upload the file.
* Move on to the metadata form - enter Catalog Key for the ALMA record (9980573967402441). Everything imports correctly except the date is empty. I add the correct date information and I get a big

[2017-10-02 13:35] Nic4Images commented on #248
@carrickr @davidschober should I hold off on trying to train John B (again) this afternoon until this is fixed? I am thinking so but want confirmation from you. Thanks, N.

[2017-10-02 14:33] #242 closed

[2017-10-02 14:33] #238 closed

[2017-10-02 14:46] carrickr opened #249 "Avalon 6.3 Upgrade"
# Initial Deployment
- [x] Merge core 6.3 into NU's aws staging branch
- [x] Port AWS Configuration to AWS
- [x] Deploy NU 6.3 to AWS Staging

# Batch Ingest
- [x] Complete S3 Batch Ingest
- [x] Contribute Job Back to Core
- [x] Contribute Documentation on Tuning Back to Core
- [x] Extensively test Batch Ingest

# Fedora Upgrade
- [x] Install a Fedora That Can Handle Multiple Writes
- [x] Test Sai

[2017-10-02 16:03] carrickr opened #250 "CSS Bug When Alerting Users to Required Fields"
<img width="1685" alt="screen shot 2017-10-02 at 12 00 26 pm" src="https://user-images.githubusercontent.com/5350060/31086960-5c8d715a-a769-11e7-83f7-c842dc8059dd.png">

(Note how I had to highlight Publication Date and the error with my cursor to see the text)

To replicate:

1.  In Avalon create an item
2. Leave at least one required field blank (ex: Publication Date)
3. Hit save, error message

[2017-10-02 16:14] carrickr opened #251 "Verify Instance Relacement for Avalon Webapp Is Working"
We should now we cycling out the webapp instance every night at midnight (to ensure a fresh Avalon and avoid Puma leakiness).  Verify that every AM we have an instance that scaled up at midnight Central / 6 am UTC.

[2017-10-02 16:20] carrickr opened #252 "Update BibImport to Check 264 Field for Date"
Music school needs these

Alma Record to Test Against: 9980573967402441

[2017-10-02 16:41] carrickr opened #253 "Determine What To Do with 264c in Mods Records"
Current issue relates to #252, the specific error is when John Blosser is importing certain items, the date field is coming in as [264c](https://search.library.northwestern.edu/primo-explore/sourceRecord?vid=NULVNEW&docId=01NWU_ALMA21701485890002441).

However Avalon is currently configured to use 264c for production date.  On 2015-1-13 Karen Miller put in a [change to disable pulling](https://git

[2017-10-02 16:49] adamjarling commented on #250
@carrickr I'm currently blocked from running or doing anything on NU Avalon locally.  Are you able to build the latest `nu-develop` locally?

[2017-10-02 17:48] carrickr commented on #250
@adamjarling I haven't kicked it up locally recently, what kind of error are you getting?

[2017-10-03 13:38] carrickr commented on #252
Per @jenyoung the error was not that the date was in the 264 field, it was that the Alma record had |||| instead of uuuu for date.  Using 264c for production date over date issued is still the way to go, closing.

[2017-10-03 13:38] #252 closed

[2017-10-03 13:39] carrickr commented on #253
Per @jenyoung:

[2017-10-03 13:39] #253 closed

[2017-10-03 13:45] carrickr commented on #252
Apparently you need to put quotes around your chron notation like:

`"0 6 * * *"`

So the swap failed to run last night before I just used:

`0 6 * * *`

Fixed this and will check it again tomorrow.

[2017-10-03 13:45] carrickr commented on #251
Apparently you need to put quotes around your chron notation like:

`"0 6 * * *"`

So the swap failed to run last night before I just used:

`0 6 * * *`

Fixed this and will check it again tomorrow.

[2017-10-04 15:32] carrickr opened #254 "Postmortem on 4 Oct 2017 Outage"
`media.northwestern.edu` went down at 1 am Central when a new webapp container deployed, as part of the changes being made in #251.  Avalon has been set to spawn a fresh container every night to refresh the system since we were seeing Puma cause slowdowns over time.

However the Ruby app failed to deploy due to the git history of `mediainfo` being changed as part of work for the release of Avalon

[2017-10-04 15:43] carrickr commented on #251
This worked, although due to auto deploying bad code it actually took the entire server now, see #254.

@davidschober @mbklein: We may want to discuss the implications of auto deploying every night and having dependencies break on us vs doing it manually.

If we do keep this auto I vote we move to a set time during working hours.  The way this works is:

1.  We set `Desired Instances` (which is a

[2017-10-04 18:59] ccaizzi commented on #254
Course Reserves noted Spanish 201, Spanish 121, and a 3rd course were impacted.

Andrew Dice from Canvas support intercepted other complaints.   A system wide message to CANDUITS was sent at 10:30am and a resolved one was sent at 11am.

[2017-10-04 21:24] carrickr opened #255 "Expose the Is It Working Page"
Expose the `is_it_working`, aka status page, so devops can monitor it.  Right now it is disabled and won't display.

Pass the URL to dev-ops when this is deployed.

[2017-10-04 21:27] carrickr opened #256 "Delete Incomplete Records from Production"
https://media.northwestern.edu/media_objects/s1784m52v
https://media.northwestern.edu/media_objects/3n203z86h

Destroy them both, no dates.

[2017-10-04 22:23] carrickr commented on #256
Both deleted.

[2017-10-04 22:23] #256 closed

[2017-10-05 15:25] davidschober commented on #251
I'm comfortable with auto deploying during work hours. @mbklein do you want to weigh in?

[2017-10-05 17:03] #254 closed

[2017-10-05 19:05] mbklein opened #257 "Replace media.library with media on home page"
The featured collection links on the AVR home page point to http://media.library.northwestern.edu/ when they should just be relative links to / or, at most, point to http://media.northwestern.edu/

media.library works, but it's not the canonical server name.

[2017-10-06 21:26] davidschober opened #258 "Change config to create only 2 derivatives"
## Description

We are currently creating three derivatives. We would like to drop it to two HIGH | LOW

Note, this should only be done for new content, we are worried about transcoding  costs, not storage.

[2017-10-09 18:19] #251 closed

[2017-10-11 14:59] davidschober commented on #233
@Toputnal now that we've updated monitoring/ health checks can you update the docs. Ideally we should have links to AWS docs referencing how/ why we're checking stuff. We should grab this for the next cycle.

[2017-10-11 15:25] davidschober commented on #255
Note, this should be monitored as part of a health check.

[2017-10-11 16:29] davidschober commented on #255
Note, it looks like we can use basic health-checks in conjunction with a page like this. We can point the health check at an arbitrary URL.  If we have a page return either 200 or 500 (any error), the health-check url can be tweaked.

CITATION http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.healthstatus.html

[2017-10-11 16:32] davidschober commented on #255
Also note this note

[2017-10-16 14:42] davidschober opened #259 "push derivative change to live"
push staging changes live

[2017-10-16 18:09] davidschober opened #260 "Create/edit FYI List for outages"
Arch, Avalon, Images etc should CC:

- David
- MBK
- Carrick

[2017-10-16 18:32] rtrautve1 opened #261 "Test backing up to console Avalonweb1p"
aws cli -- RDS dumps

[2017-10-16 19:10] davidschober commented on #255
@carrickr @mbklein  can we have the avalon health page return a non-200 code if any core service is not green? That way the alarm goes off (or the instance fails to deploy) if the health check is anything but 200? ) This would be similar to solr 's admin/core/status.