[2017-10-16 19:11] davidschober commented on #259
@mbklein we're ready to golive tomorrow at ~7:30-8am.

[2017-10-16 22:10] carrickr opened #262 "Look into Log Streaming for Multiple EC2 Instances"
Right now logs are available only in the form of being downloaded from one instance, so to troubleshoot a problem when there are multiple instances up or a previous instance has the relevant error, it requires downloading and combining multiple archives by hand.  Look into log streaming for all instances of the same time (Zookeeper, Solr, Rails App)

See here for some info on log file config:
http

[2017-10-16 22:11] davidschober opened #263 "write to nicole about 2 derivative change"
_From @davidschober on October 16, 2017 14:27_

null

_Copied from original issue: nulib/institutional-repository#381_

[2017-10-16 22:33] carrickr commented on #262
Webapp done here:

https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logs:prefix=/aws/elasticbeanstalk/avalon-webapp/

should do the others though

[2017-10-17 19:31] davidschober commented on #263
Deployed

[2017-10-17 19:31] #263 closed

[2017-10-17 19:39] davidschober commented on #259
Deployed and tested. Uploads and streams working,. Here's to saving ! @ccaizzi

[2017-10-17 19:39] #259 closed

[2017-10-17 19:57] davidschober opened #264 "Comments not going to proper email list"
## Description

The comment field was not sending emails. It appears that the configuration was wrong.

Please update to repository@northwestern.edu

@carrickr cc

[2017-10-17 19:58] davidschober commented on #264
@Nic4Images @egilchrist can you test the comment form now? It should be working.

[2017-10-17 20:02] davidschober opened #265 "Full Regression Testing 6.3"
Using the spreadsheet below, please complete assigned sections and kick off bugs.
### [create copy of the testing template](https://docs.google.com/spreadsheets/d/1xOsh_Cg47UwHV3h95zcVPPpnB0T43arWnnZvhLMQFJc/edit#gid=188479199/copy)

And save it to [Repository and Digital Curation Shared Docs/TestScripts/completed_scripts](https://drive.google.com/drive/folders/0B3iiRmWEFfdYUTBGcmR4R3R2dVU) using

[2017-10-17 20:18] egilchrist commented on #264
Hi.  I clicked on the "Help" button in Avalon and submitted a comment.  The system says "We have received your comments and will respond as soon as possible."

Nothing has come into the Repository email though.

[2017-10-17 20:45] carrickr commented on #264
Redeployed with `repository@northwestern.edu` and ready to retest.

[2017-10-17 21:01] davidschober commented on #261
@Toputnal is this the RDS backup? I'm a bit confused  by the title.

[2017-10-17 21:03] davidschober commented on #249
@carrickr you noted "update ruby on ec2" is that critical?

cc: @mbklein

[2017-10-17 21:04] #258 closed

[2017-10-17 21:06] davidschober commented on #233
@Toputnal I think this is in progress. Can you have @d-venckus read it and make sure he can recreate it if need be?

[2017-10-17 21:06] egilchrist commented on #264
Hi. I just sent another help/comment on Avalon and nothing came through to repository@northwestern.edu

[2017-10-17 21:07] carrickr commented on #264
@egilchrist Sorry, mbk just noticed we have workers with the old config still floating around, I'm replacing them

[2017-10-17 21:13] egilchrist commented on #264
Hi. The repository email just received an Avalon feedback notice from MBK "Just testing mail sending from the console"

[2017-10-17 21:25] carrickr commented on #264
@egilchrist Workers environment updated, I sent an email through the webapp at 4:23

[2017-10-17 21:33] #184 closed

[2017-10-17 21:36] egilchrist commented on #264
@carrickr Nothing has come through yet.

[2017-10-17 21:37] egilchrist commented on #264
I just sent one through the website at 4:37.

[2017-10-17 21:55] carrickr commented on #264
`repository@northwestern.edu` was never verified, sent a verification from AWS to that email and had it verified

SES is showing three emails sent today, but not incrementing as I test more via the website (should be at 5 right now)

[2017-10-17 21:57] egilchrist commented on #264
Hello.  "Test from AWS SES Console" just arrived in repository email

[2017-10-17 22:04] carrickr commented on #264
[code]

[2017-10-17 22:08] carrickr commented on #264
@mbklein

CommentMailer is using
`default :to => Settings.email.comments`

Both workers and webapp are reporting that Settings.email.comments to be: `"repository@northwestern.edu"`, so unless we have somewhere further down in SES overriding that we should also be going to the proper place.

[2017-10-18 15:46] egilchrist commented on #264
Hello - at 10:08 the following comment was received at repository email  - ""Other" is a pretty big category. I'm not sure I can cover it all in one comment. I guess let's start by seeing if this email goes through."

[2017-10-18 16:01] egilchrist commented on #264
Another comment from David came through at 10:46 am

[2017-10-18 19:27] davidschober commented on #184
I noted significant traffic to media objects via analytics. I believe this is working for multiple users now.

[2017-10-18 19:27] carrickr commented on #184
<img width="1970" alt="screen shot 2017-10-16 at 6 27 24 pm" src="https://user-images.githubusercontent.com/5350060/31738502-e442ad48-b418-11e7-9c05-fa13a4bf192a.png">

[2017-10-18 19:28] davidschober commented on #184
note ^^^ is from amazon's console..

[2017-10-19 16:25] davidschober commented on #264
Closing as Done @egilchrist and @jenyoung and @Nic4Images can you make sure we smoke test the form during our Monday morning tests?

[2017-10-19 16:25] #264 closed

[2017-10-19 16:55] davidschober commented on #260
@Toputnal this is done right? Carrick and MBK are getting messages and I'm following slack?

CC: @mbklein @carrickr

[2017-10-19 20:44] davidschober opened #266 "Users can't login on Avalon Staging (6.2)"
## Description

Login isn't working on http://avr.repo.rdc-staging.library.northwestern.edu

To recreate:

- Go to http://avr.repo.rdc-staging.library.northwestern.edu
- click login
- pass credentials
- see that "login" is still in the upper right and that the system has not passed crews.

[2017-10-19 21:09] davidschober opened #267 "add to playlist icon not showing up/ erroring"
In Staging the "add to playlist" icon is not showing up/ throwing errors.

To recreate:

- go to http://avr.repo.rdc-staging.library.northwestern.edu/media_objects/h415p953x
- look a the section listings, not the purple box on the right
- click the purple box note the "error"

[2017-10-19 21:09] davidschober commented on #267
![screen shot 2017-10-19 at 4 07 33 pm](https://user-images.githubusercontent.com/4803230/31794411-e36055fe-b4e7-11e7-8542-1c18eb3b65a7.png)
![screen shot 2017-10-19 at 4 07 16 pm](https://user-images.githubusercontent.com/4803230/31794412-e36ddfc6-b4e7-11e7-8b1f-a3e742286b2d.png)

[2017-10-19 21:11] davidschober commented on #267
@adamjarling @mbklein @carrickr not sure who this would fall to...

[2017-10-20 14:34] davidschober commented on #265
This will occur Nov 2. by molly, alex, etc.

[2017-10-20 16:30] adamjarling opened #270 "NU Avalon - Create playlist title translation error"
### Description
Note: I'm seeing this error on local.

See screen shot.

Looks like this is the element that is not rendering properly:

`<h3 class="playlist-title">
    <span class="glyphicon glyphicon-unlock" alt="<span class=" translation_missing"="" title="translation missing: en.playlist.unlockAltText">Unlock Alt Text</span>" title="<span class="translation_missing" title="translation missing

[2017-10-20 16:31] adamjarling commented on #270
![create-playlist-error.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46eb869f229686e49fe5be5aa854e380644335612616e1673295f127b54778154d555ca9465c0a12ffaf892ea3e33b74de5e59edd5385f77ce3e17bea4905dee5fee7fd616cfe3fe9846d2e93a2fe68e8f473b1f021881fa5935a08b06.png)

[2017-10-23 18:31] #260 closed

[2017-10-23 18:37] MarekBabala commented on #261
Abandoned , Because it was covered under different ticket.(w/ Avalon)

[2017-10-23 18:37] #261 closed

[2017-10-26 16:17] adamjarling commented on #267
@davidschober I'm not getting an error here.  And I'm fixing the button display issue in another ticket at the moment.   Can you verify this is still an active problem?

[2017-10-26 16:21] adamjarling opened #271 "NU Avalon: Create playlist view CRUD button UI fix"
### Description
On the create playlist page, the Copy, Edit, and Delete buttons are not configured correctly in the markup.

Also the hover state on the Previous / Next buttons needs to be fixed.

See screenshot:

[2017-10-26 16:22] adamjarling commented on #271
![create-playlist-view.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bd8fcc0f976f2000dddaf2/125516c66e82c728ace21e0d46eb869f229686e49fe5be5aa854e38064502e763e46ef696097ec22ba416f43554d4bab450d0947aaf98c2ef3b13824880e0be9846d5c7cc53b03b0aac04ee155e57dd205d0f4ae805ec1e03724e28b864f3d1a0c1d8dff5f31b2d4.png)

[2017-10-27 20:28] #270 closed

[2017-10-27 20:29] #271 closed

[2017-10-30 14:33] jenyoung opened #274 "Analysis of data dump"
VRA Core XML - analysis of fields/attributes used.

Update mapping as needed

[2017-10-30 14:33] jenyoung commented on #274
in wrong repo

[2017-10-30 14:33] #274 closed

[2017-10-31 18:57] davidschober opened #275 "6.2 final prep"
- [x] Ensure final FE changes are pushed
- [x] setup test canvas
- [x] setup test users
- [x] testing team discusses spreadsheet.
- [x] internal run through of whole test script

[2017-10-31 18:57] davidschober commented on #275
@mbklein @jenyoung @adamjarling @carrickr FYI!

[2017-10-31 20:22] mbklein commented on #275
What are the NetIDs for our test users, and what level of access should each of them have?

[2017-10-31 20:22] mbklein commented on #275
Is that in the test spreadsheet?

[2017-10-31 21:37] jenyoung commented on #275
@mbklein I'm updating that spreadsheet with Avalon usernames in the NU Vault.

aua6615 - manager role
auh7250 - editor role
auf2249 - depositor role
aum1701 - administrator role

[2017-10-31 22:33] jenyoung commented on #78
@davidschober this is not urgent but should be cleaned up and corrected in the mapping at some point.

[2017-11-02 16:52] mbklein commented on #275
I've added the Manager and Administrator accounts to the top-level groups. Editor and Depositor are collection-level roles, so they'll have to be added (probably by email address, not by netID) when test collections are created.

For reference:

awa6615 = AvalonUser01@example.com
auh7250 = AvalonUser02@example.com
auf2249 =  AvalonUser03@example.com
aum1701 = AvalonUser04@example.com

[2017-11-02 16:54] mbklein commented on #275
Canvas Test is set up, and I've installed an SSL certificate so that it more closely mirrors production.

[2017-11-02 16:55] davidschober opened #276 "Add items to playlist button displays error when not logged in"
To Recreate:

go to http://avr.repo.rdc-staging.library.northwestern.edu/media_objects/h415p953x

click on one of the "add items to playlist icon"

See error
![screen shot 2017-11-02 at 11 51 39 am](https://user-images.githubusercontent.com/4803230/32339077-a59fd68a-bfc4-11e7-9acb-561255de9dd9.png)

[2017-11-02 16:55] davidschober commented on #276
@adamjarling is this a simple hide if not logged in thing?

[2017-11-02 17:01] adamjarling commented on #276
@davidschober Yea, guessing there's a 'logged in' environmental variable somewhere Rails can grab and use to show/hide the toggle button.  Want me to work on this now?

[2017-11-13 15:32] #244 closed

[2017-11-13 15:35] adamjarling commented on #250
This is fixed locally, but I can't verify it works on staging (https://avr.repo.rdc-staging.library.northwestern.edu).  I don't have permissions to add / edit on staging.  @davidschober can you verify this fix made to staging?

[2017-11-13 15:35] #257 closed

[2017-11-13 19:00] jenyoung commented on #78
@davidschober will this be corrected soon? new titles are being ingested with this incorrect information.

[2017-11-13 19:05] jenyoung opened #277 "Notes field generating empty CONTENTS note"
Newly created records are generating an Notes field with CONTENTS as the only information. It shouldn't display if it's empty

Example: https://media.northwestern.edu/media_objects/ft848q651

In MODS record:
`<note type="general"/>`

Displays as:

![2017-11-13_130325](https://user-images.githubusercontent.com/2250501/32743812-285672a8-c873-11e7-86ad-5995616a154b.jpg)

[2017-11-13 19:08] jenyoung opened #278 "Summary field has different look than rest of record"
The summary field has a different look than the rest of the record - it should be the same correct?

https://media.northwestern.edu/media_objects/ft848q651

![2017-11-13_130648](https://user-images.githubusercontent.com/2250501/32743942-9a7eb958-c873-11e7-8e9f-08c59923b4ae.jpg)

[2017-11-13 19:56] jenyoung commented on #92
@mbklein @davidschober this is still a problem on our current 6.1 instance - see https://media.northwestern.edu/media_objects/ft848q651/content/descMetadata

[2017-11-14 16:29] davidschober opened #279 "prune sessions table (Avalon)"
## Description

per nulib/devops#183 Postgres filled up because our sessions table went a bit chaotic. We need to make sure we're following best practices and pruning well.

@mbklein can you take the lead?

[2017-11-21 17:08] davidschober commented on #267
I’m still getting an error when not logged in. It seems as if unauthenticated users should be driven to a login page. @mbklein, can you take a look?

[2017-11-21 17:10] davidschober commented on #92
@jenyoung can you check on staging now? I think 6.2 may have cleared this up.

[2017-11-21 17:12] davidschober commented on #276
Wow... SC messed me up. I missed this one, sorry @adamjarling. @adamjarling or @mbklein can you slate this for next week (or now if you have time).

[2017-11-21 17:59] adamjarling commented on #267
I'm pushing up a fix to core Avalon (for MEJS4) related to this, but doesn't fix this issue sounds like.  I was scratching my head yesterday wondering why no playlists were being returned from the server, when viewing a media object, then realized I wasn't logged in.

So maybe the question is what should the user see here when not logged in?   Anything?  A stripped-down player?   The add to playli

[2017-11-21 18:00] adamjarling commented on #276
@davidschober @mbklein Is this an issue in core as well, or just NU Avalon?

[2017-11-27 21:54] mbklein commented on #276
This is a bug in core, covered by #[2473](https://github.com/avalonmediasystem/avalon/issues/2473)

[2017-11-27 21:54] #276 closed

[2017-11-28 15:20] davidschober opened #280 "Valkyrie catch up"

[2017-11-28 16:35] davidschober opened #281 "Ingestion API POC"
## Description

A critical part of our Donut implementation is batch ingestion. Toward that end, we would like to have an ingestion API designed against hyrax. We should design this to be fairly generic and may be pushed upstream at a later time.

The ingestion API should allow content to be upload to a work type with validation of content and metadata. Any derivatives should be created as part of

[2017-11-28 21:10] davidschober opened #282 "Mirror Production Groups in Staging"
## Description

In order to facilitate testing, we would like to mirror production group settings in staging. Jester should do this on demand so that we can make sure new members are added at will.

[2017-11-28 21:12] davidschober commented on #234
Backups are being taken and stored on EFS.

[2017-11-28 21:16] #132 closed

[2017-11-28 21:17] davidschober commented on #86
@jenyoung this got done by Mathew... I'll close for now.

[2017-11-28 21:17] #86 closed

[2017-11-28 21:19] davidschober commented on #82
@carrickr can you grab this prior to 6.2 upgrade?

[2017-11-28 21:20] davidschober commented on #78
@carrickr can you slate these for the next couple of weeks?

[2017-11-28 23:04] davidschober opened #283 "create staging s3 credentials"
Create credentials for staging s3. We should create a single cyberduck script for staging that everyone can share.

[2017-11-29 14:53] davidschober commented on #230
@carrickr did were you ever able to dig a bit more into this?

[2017-11-29 14:56] davidschober commented on #281
This issue was moved to nulib/next-generation-repository#275

[2017-11-29 14:56] #281 closed

[2017-11-29 14:57] davidschober commented on #280
This issue was moved to nulib/next-generation-repository#276

[2017-11-29 14:57] #280 closed

[2017-11-29 15:05] carrickr commented on #283
@davidschober I made a wiki page in nextgen since the script has key pairs in it and avalon isn't private.

https://github.com/nulib/next-generation-repository/wiki/Connecting-to-the-AVR-Staging-Dropbox

We probably need to move it somewhere else since most of our tests don't have github accounts, box perhaps?

[2017-11-29 15:14] carrickr commented on #283
This script should auto log you in to `avr-masterfiles-staging-rd56wk8/dropbox` on S3

[2017-11-29 15:35] #283 closed

[2017-11-29 15:38] #266 closed

[2017-11-29 18:38] adamjarling commented on #250
@davidschober Mind having a look at this and verify it's fixed?

[2017-12-01 16:29] #250 closed

[2017-12-01 16:30] adamjarling commented on #250
Looks good to me.

[2017-12-06 17:50] davidschober commented on #185
@mbklein is this done?

[2017-12-07 20:10] mbklein commented on #185
We have generated ARKs for everything, but the handles are still there.

[2017-12-07 20:39] davidschober opened #285 "Launch simian army attack"
## Description

As we move toward building more bulletproof systems, we should investigate ways to thoroughly test our infrastructure. Luckily the good folks at Netflix open sourced their angry monkeys for the world to use. I suggest we setup staging to replicate prod w/r to number of instances and let loose the mad creatures.

https://github.com/Netflix/SimianArmy/wiki/Chaos-Monkey

## Done looks

[2017-12-07 21:32] davidschober commented on #265
The remainder of this will occur Friday.

[2017-12-07 23:21] davidschober commented on #278
@adamjarling did this get merged?

[2017-12-08 14:30] adamjarling commented on #278
@davidschober Yes, looks like MBK merged this PR yesterday afternoon to `deploy-aws-staging`.

[2017-12-08 16:42] davidschober commented on #278
Cool. I'll look and close it.

[2017-12-08 16:43] #278 closed

[2017-12-08 16:44] #275 closed

[2017-12-11 19:48] egspoony commented on #234
@Toputnal @mbklein Document this and how to restore from backup.

[2017-12-12 16:22] davidschober opened #286 "User Can't upload from Dropbox"
## Description

User can't upload files from dropbox or via web interface.

To recreate:

- Go to media.northwestern.edu
- login
- upload an item via cyberduck
- click on Manage Content--> Create an Item
- Click up upload via drobpox
- try to attach file, see "We're sorry Something Went Wrong"

OR

- Click on upload item
- find file locally
- click upload
- See "We're sorry Something Went Wrong"

[2017-12-12 16:38] davidschober commented on #286
@mbklein and @carrickr this is reproducible can you jump on it?

[2017-12-12 19:57] davidschober commented on #286
[code]

[10:58]
so this is also failing when I try to upload a file, the whole create page is broken

[2017-12-12 19:59] davidschober commented on #286
Media info got updated... Avalon needed to pin to a prior version @mbklein @carrickr can you confirm?

[2017-12-12 20:17] jenyoung opened #287 "developers: please clarify ARCHIV-TECHMD validity issues"
From https://github.com/nulib/next-generation-repository/wiki/Images---Current-Datastreams#archv-techmd

ARCHIV-TECHMD - Data should be validated. For sure there are known issues with data validity after batch import was implemented

- what are the data issues?

[2017-12-12 20:23] jenyoung commented on #287
on wrong @#! board

[2017-12-12 20:23] #287 closed

[2017-12-12 22:31] davidschober commented on #175
Yes, let's do this.

[2017-12-12 22:32] davidschober commented on #185
OK. I'm going to move this to "in Review". Is there any reason to remove the handles @mbklein...

[2017-12-12 22:52] davidschober commented on #230
@carrickr @mbklein I'm confused. Does this have an open PR?

[2017-12-12 23:00] davidschober commented on #267
This is completed, please correct me if I'm wrong @adamjarling @mbklein

[2017-12-13 13:51] adamjarling commented on #173
@davidschober  Yea, once we move through the functionality, we could move on this.  NU Avalon or Avalon core?

[2017-12-13 16:58] davidschober commented on #286
Closing @Nic4Images let me me know if you need anything else

[2017-12-13 16:58] #286 closed

[2017-12-13 17:09] davidschober commented on #230
Testing with 6.2 in staging.. Playlists seem to still be totally broken.

@adamjarling and @carrickr or @mbklein can you take  a look.

To recreate:

1. Create a playlist
2. add more than one thing to playlist
3. go to playlist
4. See that the first item is skipped as it seems to not be able to negotiate access
5. See that at times clips are not respected.

[2017-12-13 18:01] jenyoung opened #288 "Batch ingest issues, staging, 6.2"
created collection on staging `jen_test_12_13_2017

Uploaded to staging dropbox items from below after untarring
http://www.avalonmediasystem.org/downloads/DemoFixturesBatch.tar.gz

edited spreadsheet, added my email, removed transcoding to Yes

collection not ingested, no .error spreadsheet in file listing, no error or confirmation emails received.

[2017-12-13 18:03] davidschober commented on #288
I'll try to recreate this.

[2017-12-13 18:03] jenyoung commented on #248
@Nic4Images this was resolved wasn't it? it was the dates being |||| correct?

[2017-12-13 18:29] davidschober commented on #288
[code]

We need to be sending from an email address that is whitelisted and verified. @mbklein, should we send from the same as prod? That seems OK to me.

[2017-12-13 18:31] davidschober commented on #288
We will use repository@northwestern.edu . It needs to be setup and verified.

[2017-12-13 19:03] davidschober commented on #288
I was able to get batch to ingest (MBK is handling the final steps to get email verification to work). However media is not attaching. The items are created and the error "no media is associated with this item" is shown.
![Screen Shot 2017-12-13 at 1.01.44 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57113db3779ed80e00620458/125516c66e82c728ace21e0d46db978826878de9bc

[2017-12-13 19:03] davidschober commented on #288
@mbklein ^^

[2017-12-13 23:12] davidschober commented on #265
Got stuck with batch emails not working.

[2017-12-14 15:13] carrickr opened #289 "Make 6.3's Batch Ingest Work with S3 Triggers"
So it works on our AWS environment with S3 buckets.

[2017-12-14 22:05] carrickr commented on #230
dug into this and talked to @adamjarling

This is hard to debug because it uses the old coffeescript that is both a mess in terms of code quality and just hard to track with a debugger.  This behavior is also entirely rewritten using better practices and code in 6.3 which we are going to aggressively push out early in 2018.  The advice was if it all possible punt to 6.3.  Worst case is if this con

[2017-12-14 22:05] davidschober commented on #289
@carrickr and @mbklein is 6.3 going to be a big upgrade or will it be straight forward? This sounds like we might have to do more rewriting...

[2017-12-14 22:06] davidschober commented on #288
@mbklein @carrickr

Tested today and got an email... It errored with the following :

[code]

[2017-12-14 22:10] carrickr commented on #289
I think we will need to do some rewriting.  I also there is the potential we could move this to the core board.  IU is going to want this for their AWS when they shut down pawpaw and some of their other servers in favor of AWS.

We might be able to slate this either as a 6.3.1 type of deal where this goes into Core.  Phuong has some interest in this for the IU side so mbk, myself, and Phuong (or s

[2017-12-15 17:26] davidschober commented on #288
@jenyoung I'm going to abandon this. We are going to regroup on 6.3 as batch is completely rewritten.

[2017-12-15 17:26] #288 closed

[2017-12-15 17:27] davidschober commented on #230
Abandoning as won't fix. We are going regroup around 6.3

[2017-12-15 17:27] #230 closed

[2017-12-15 19:39] MANorth commented on #234
@mbklein MBK, could you meet with @Toputnal Jim and document this soon.  Otherwise it will wait until January and things might get fuzzy.  Thanks.

[2017-12-20 18:39] #267 closed

[2018-01-03 17:45] adamjarling opened #290 "6.3 Mediaelement JavaScript verify all working as expected"
### Description
Verify all the Medielement player JS interactions are working as expected and not throwing any errors.

Any errors resulting from the testing below should be broken out into their own tickets.

### Done Looks Like
#### Media object page
- [x] Verify no console errors
- [x] Test media object page, sections, adding sections, navigating sections, section highlighting.
- [x] Verify Add

[2018-01-03 17:48] davidschober opened #291 "Merge and deploy 6.3 to staging"
## Done looks like

- code is merged, and based off to Adam fo tweaking.
- AWS configuration ported
- Deploy to staging

[2018-01-03 17:50] davidschober opened #292 "batch ingest 6.3"
## Done looks like

- Complete s3 batch ingest and push to AV core
- Test batch ingest (developers)

[2018-01-03 17:51] davidschober opened #293 "Streaming 6.3 on staging (kill off RTMP)"
## Description

##Done looks like:

- Shutdown RTMP Streaming
- Extensively test streaming for new player
- Delete RTMP derivatives from staging as part of RTMP streaming test

[2018-01-03 17:53] davidschober opened #294 "UI Cleanup 6.3"
## Description

As we move to 6.3 we expect a few oddities. Run through the interface and kick off any issues prior to full testing.

## Done looks like

- review core workflows
- test player, and playlists
- add issues as necessary.

[2018-01-03 17:56] adamjarling commented on #294
Related to #290, and more detailed description/items.

[2018-01-03 18:02] davidschober commented on #289
@carrickr I think you're working on this... moving to in progress.

[2018-01-03 18:09] adamjarling opened #295 "Implement new NU Global marketing templates to NU Avalon"
### Description
Update NU Avalon's skinning to reflect Northwestern's Global marketing templates v 2.0.

[2018-01-03 19:55] adamjarling opened #296 "Control icons display errors"
### Description
The control icons are not displaying correctly.  Due to either file reference, CSS, or HTML markup?

![6 3-control-icons-off](https://user-images.githubusercontent.com/3020266/34537326-b84b9162-f08d-11e7-83d6-ca88416d60b6.png)

[2018-01-03 19:58] adamjarling opened #297 "Control icon CSS / Markup fix"
### Description
The control icons are showing purple blocks on :hover.  Could be either CSS targeting or the HTML itself?

![6 3-control-icons-purple-hover](https://user-images.githubusercontent.com/3020266/34537465-269e0dca-f08e-11e7-912b-d8ddcacbd14b.png)

[2018-01-03 20:02] adamjarling opened #298 "Track scrubber margin issue"
### Description
The track scrubber appears disconnected to the Mediaelement player.  Could either be markup, CSS targeting or both.

![6 3-track-scrubber-margin](https://user-images.githubusercontent.com/3020266/34537597-a3c0993a-f08e-11e7-8e34-460271bd5032.png)

[2018-01-03 20:05] adamjarling opened #299 "Add To Playlist control file missing"
### Description
Looks like this file is missing, or maybe not referenced properly in the CSS for Rails asset compiling: `add-to-playlist-control.png`  See screenshot.

![6 3-add-to-playlist-control-missing](https://user-images.githubusercontent.com/3020266/34537738-19397470-f08f-11e7-83fd-a69ff33f4110.png)

[2018-01-03 20:10] adamjarling opened #300 "Section and sub-section highlighting - make better"
### Description
The section title highlighting in the media object page is not clear which section title is active.  Sometimes it highlights light grey, sometimes not.  It could be due to new class names used for active section titles, or updated markup.

Re-factor this to match core Avalon approach if possible.  Arrows perhaps?  Bold font?  Or some other visual cue that's better than current.

![

[2018-01-03 20:34] adamjarling opened #301 "Sections Collapse All button doesn't work"
### Description
The Collapse All button doesn't work in media object sections area.  See screenshot.

![6 3-sections-collapse-button](https://user-images.githubusercontent.com/3020266/34538774-66d79e24-f093-11e7-8ba0-f575e712f162.png)

[2018-01-03 20:43] adamjarling opened #302 "Playlist items page, sidebar button display error"
### Description
The buttons in the sidebar display list are misaligned.  See screenshot.

![6 3-playlist-sidebar-buttons](https://user-images.githubusercontent.com/3020266/34539025-789e3b26-f094-11e7-9b37-3229e47eca3a.png)

[2018-01-03 20:53] adamjarling opened #303 "Playlist items confirm dialog button display alignment"
### Description
The confirm dialog buttons are not aligned properly.  To re-created, hit the 'Delete' button on an existing playlist item marker.  See screen-shot.

![6 3-delete-playlist-confirm](https://user-images.githubusercontent.com/3020266/34539378-d78e4a58-f095-11e7-99dc-1cd21f08c145.png)

[2018-01-04 15:36] #291 closed

[2018-01-04 16:33] adamjarling opened #305 "Playlist Items page - panels markup errors"
### Description
Something in the view / markup is causing embedded anchor tags, affecting marker display table and possibly others.  See screenshot.

![6 3-playlists-panel-markup-error](https://user-images.githubusercontent.com/3020266/34573727-b9975882-f13a-11e7-8d0c-0978ac97a2c1.png)

[2018-01-04 16:35] #296 closed

[2018-01-04 16:35] #297 closed

[2018-01-04 16:35] #298 closed

[2018-01-04 16:35] #299 closed

[2018-01-04 18:22] davidschober opened #308 "playlist edit page alignment of errors"
## Description

The grab handles for on the playlist items page is off. They are floating over the top of the item.

![screen shot 2018-01-04 at 11 54 22 am](https://user-images.githubusercontent.com/4803230/34578235-d4fec902-f149-11e7-813e-4552a64ce7ed.png)

[2018-01-04 18:51] carrickr commented on #292
PR #307

[2018-01-04 20:43] #300 closed

[2018-01-04 20:43] #302 closed

[2018-01-04 20:43] #303 closed

[2018-01-04 20:43] #305 closed

[2018-01-04 21:09] #308 closed

[2018-01-04 21:10] adamjarling commented on #294
Duplicated by #290

[2018-01-04 21:10] #294 closed

[2018-01-04 21:10] #301 closed

[2018-01-04 21:55] adamjarling commented on #290
@davidschober This functionality checks out for me.  If you notice anything additional, let me know... This could be a good guide for the demo tomorrow too.  Not to show everything, but give an overview of how it's actually different now.

[2018-01-04 21:57] adamjarling commented on #249
@davidschober or @carrickr  If you want to verify your use case for the 3rd UI point above "Specifically check playlists for skipping of the first item and jumping too far in", feel free to double check and catching anything I'm missing.

[2018-01-05 17:39] carrickr opened #313 "Throttle BatchIngest on AWS"
I'm seeing errors coming out of Fedora on batch.

```=> "STATUS: 500 org.modeshape.jcr.value.binary.BinaryStoreException: org.modeshape.jcr.value.binary.BinaryStoreException: Unable to find binary value with key \"1c6c6a8b67d2b2ca9d160423b99bdcc00ff205f7\" within binary store at \"/var/cache/tomcat8/temp/modeshape-binary-store\"\n\tat org.modeshape.jcr.value.binary.S3BinaryStore.storeValue(S3Binar

[2018-01-05 17:49] #290 closed

[2018-01-05 20:28] mbklein opened #314 "Pass cookies to HLS over XHR"
`hls.js` does not pass credentials (headers, cookies, tokens) over XHR by default. It has to be configured to do so.

### Expected Behavior ###
* Browser is authorized to retrieve HLS playlists and streams

### Observed Behavior ###
* Safari, with native HLS support, works fine
* Chrome, using the MediaElement -> DailyMotion HLS shim, is not authorized

[2018-01-05 22:22] davidschober opened #316 "Adding item to playlist errors"
## Description

When adding a full item to a playlist it errors with "ERROR: End time must be between start time and end of section" Even though the end time is identical to the end time of the media object

to recreate;

1. go to https://avr.repo.rdc-staging.library.northwestern.edu/media_objects/12579s27c
2. click on the "add to playlist" icon
3. see error attached

[2018-01-05 22:23] davidschober commented on #245
abandoned

[2018-01-05 22:23] #245 closed

[2018-01-05 22:32] davidschober commented on #316
![Screen Shot 2018-01-05 at 4.19.21 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57113db3779ed80e00620458/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77226454f66b7191a37cf113224f5d5e5ecc3c4a4356bcbbd671f3e57862804e0ee5d66e0c74cf3416a4ba8717b709e8208a4ed6b3bb8f45d2f42f67b6d5db1063474f4dcbed5727a19e41c95df74ee04454a1163f67ef7e2431.png)

[2018-01-05 22:33] davidschober commented on #316
Note, this doesn't seem to be happening on CORE.

[2018-01-08 15:21] adamjarling commented on #314
This is fixed for NU, but should go into core Avalon.  Details to follow...

[2018-01-08 15:24] #314 closed

[2018-01-08 15:26] #292 closed

[2018-01-08 15:27] adamjarling commented on #292
Possible new issue(s) created from this?

[2018-01-08 15:28] #289 closed

[2018-01-08 15:57] carrickr commented on #313
So there are two things going on here:

First for Fedora.  If we have 20 Elastic Transcoder jobs (the max allowed by AWS) that means there will be 100 writes to Fedora (media object, masterfile, and derivatives are all written at the end of transcoding).  In my case I was using the same bunny video for all my objects so all 20 jobs finished at the same time so that was 100 writes to Fedora in a ve

[2018-01-08 16:49] carrickr opened #317 "Ingest Finished Emails Fail on AWS"
[code]

This does not occur on spruce or non AWS environments

[2018-01-08 16:53] carrickr commented on #316
Works if you do 9.56 for the time, so it's some kind of time and rounding error?

[2018-01-08 16:56] carrickr commented on #316
Yup, if you look at duration, the duration from Amazon is 596000 milliseconds, which is 596 seconds and 60(596/60-9) is 56

[2018-01-08 17:00] carrickr commented on #316
@adamjarling do you have any thoughts on why the player is taking 596000 and getting 9:57?  Our checks in javascript are based off that time and the player shows 9:57 as duration

[2018-01-08 17:07] carrickr commented on #316
I assume the player is doing the math in `mejs4_helper_time_rail.es6`, but it seems like we do the math multiple places so I'm not sure where the proper place is to look.

[2018-01-08 17:11] adamjarling commented on #316
@carrickr Taking a look now...

[2018-01-08 20:53] carrickr opened #318 "Document How to Upload a DIL Share to an AVR Dropbox on S3"
For collection managers wanting to do batch ingest.  If they have to use cyberduck on their machine as a go between it can take days.

[2018-01-09 21:45] carrickr commented on #313
[code]

[2018-01-09 21:47] carrickr commented on #313
May be memcache server error

[2018-01-10 17:53] carrickr commented on #313
@davidschober @mbklein

So this is fixed in the second we can now get batches through, but it's not optimal yet.

What've done is add in throttling via active_job traffic control and config variables so we can tweak it without changes:

[code]

The not so awesome problem is that the above translates into let one job run every ten seconds.  When a job tries to run and gets told "Nope, another ran 9

[2018-01-10 20:37] carrickr commented on #313
150 item test batch went through

[2018-01-10 20:52] carrickr commented on #313
Documented here: https://github.com/nulib/avalon/wiki/Throttling-Batch-Ingest-on-AWS

[2018-01-11 20:28] davidschober commented on #316
@adamjarling did you mean to assign this one to me?

[2018-01-11 20:30] davidschober commented on #316
@carrickr @mbklein I'm ok adding a cushion, but part of me wants to wait to see if we see this anywhere else

[2018-01-11 21:29] carrickr commented on #317
This is partly modeshape and partly the fault of the mailer not handling deletions prior to the status email being sent (and then me doing just that)/

Core ticket dropped to enhance this:

https://github.com/avalonmediasystem/avalon/issues/2743

[2018-01-11 21:29] #317 closed

[2018-01-11 21:30] carrickr commented on #316
@davidschober This is assigned to you to decide if this can be marked closed for the sprint or if you want the cushion now, your call as PO

[2018-01-11 21:42] carrickr commented on #313
With our bespoke Fedora we are now at:

**Submission to Elastic Transcoder** 2 jobs every 5 seconds
**ActiveEncode Updates** 3 jobs every 10 seconds

For the former throttle, each submission also implies creation of the MediaObject and MasterFile(s) prior to submission of the job.  So that's a minimum of 2 Fedora writes per row of the spreadsheet.  More for complex objects.

Assuming the worst cas

[2018-01-11 21:54] carrickr commented on #293
RTMP disabled (no files deleted yet), still streaming in Safari, Chrome, and Firefox

[2018-01-11 23:45] carrickr commented on #313
Also just for the record, batches may show varying counts between total and moving image/sound as the jobs catch up

<img width="348" alt="screen shot 2018-01-11 at 6 44 11 pm" src="https://user-images.githubusercontent.com/5350060/34853025-92c04bfe-f6ff-11e7-9a0f-ea5d9edb7767.png">

[2018-01-12 15:25] #293 closed

[2018-01-12 15:26] #316 closed

[2018-01-17 15:25] carrickr opened #326 "Generate 1 second clip for large batch test"
Generate one second audio clip

[2018-01-17 15:25] carrickr opened #327 "Turn off RTMP derivative generation on staging"
We only need the HLS streaming derivatives

[2018-01-17 15:26] carrickr commented on #313
With the better ActivRecord pools (pool size 40) this is now working

[2018-01-17 15:26] #313 closed

[2018-01-17 17:45] carrickr commented on #326
The file at:

https://northwestern.box.com/s/0y9gfixpbv01yxf7xi249fezxvzn6c90

(fyi: @davidschober )

[2018-01-17 20:26] csyversen commented on #185
so @mbklein has to create arks for all the records that already had handles, so i'll create an issue for that and move it to in progress.

besides that though, there's about 13.5k records in dynamodb that I can pull and create a batch modify script for handle. I just need to know the ARK url that handle should refer to

[2018-01-17 20:27] csyversen opened #329 "Create Arks for records with preexisting handles"
### Description
MBK can probably flesh out this issue a bit more, but it's my understanding that records in Avalon that already had handles created for them weren't given Arks as well. We'll need to create Arks for all records in Avalon.

related to #185

### Done Looks Like
- Arks are created for all records in Avalon.

### Tasks
- [ ] Figure out how to not tax the worker
- [ ] Create Rogue 2 wor

[2018-01-17 21:19] davidschober opened #330 "Creating new playlist throws "something wrong with this playlist""
## Description

Creating a new playlist errors with We're sorry, but something went wrong.

## To Recreate:

- Create a new playlist
- https://avr.repo.rdc-staging.library.northwestern.edu/playlists/new
- add info, click create
- see that it errors with "We're sorry, but something went wrong."
- go back to playlist listing page
- see that page was created https://avr.repo.rdc-staging.library.north

[2018-01-17 21:37] carrickr commented on #330
This page is gone from 6.3.2:

https://github.com/nulib/avalon/blob/deploy-aws-prod/app/views/nu_playlists/item_list.html.erb

Asked @adamjarling if we need his custom skinned item or if we can revert back to the regular item partial.  Action will be taken based on which is desired.

[2018-01-17 22:07] carrickr commented on #330
@davidschober ready for retest

[2018-01-17 22:23] carrickr commented on #327
Merged and ready for testing

[2018-01-17 22:34] davidschober commented on #330
OK. This is still happening. To recreate go to playlists:

http://avr.repo.rdc-staging.library.northwestern.edu/playlists

and click on any playlist.

[2018-01-17 22:35] davidschober commented on #330
Update. This is happening for newly created playlists. Old playlists seem to be working. Now I'm confused.

[2018-01-18 15:28] carrickr opened #332 "Consider a Higher 'High' Preset for Video"
Can we push a higher quality of video given the overall increase in broadband, the fact we're on AWS, and the more modern player?

[2018-01-18 16:08] carrickr commented on #330
Can't reproduce, I think you just had some weirdness due to testing during the deploy out of a new EC2 instance.  Boxes were just finishing their swap at the time you were testing.

[2018-01-22 15:13] davidschober commented on #265
Good to go. Course reserves had a couple of questions.

[2018-01-22 15:34] #265 closed

[2018-01-22 15:34] #330 closed

[2018-01-22 15:35] davidschober commented on #326
Cool. Let's document this in testing resources

[2018-01-22 15:35] #326 closed

[2018-01-22 15:35] #327 closed

[2018-01-22 15:49] davidschober opened #333 "Move 6.3 to production"
### Description
Merge Avalon 6.3.2 into production.

### Done Looks Like
Avalon 6.3 is moved into production.

### Tasks
- [ ] Get down time #343
- [x] turn off RTMP #342
- [x] Final testing #344
- [ ] Delete derivatives #342
- [x] Move over new config variables for throttling from staging to webapp and workers

[2018-01-22 17:14] mbklein opened #334 "`Missing partial nu_playlists/__item_list` when viewing playlist"
From the log:
[code]

[2018-01-22 17:16] mbklein opened #335 "Current Section arrow missing from media object page"
### Description
The arrow is missing from the "sections" list on http://avr.repo.rdc-staging.library.northwestern.edu

To recreate:
- Go to an item with lots of sections http://avr.repo.rdc-staging.library.northwestern.edu/media_objects/jd472w90n
- note that the listing does not have the little arrow (see screenshot below)

### Done Looks Like
- Selected arrow works as expected in production.

###

[2018-01-22 17:27] davidschober commented on #334
@carrickr can you locate this partial

[2018-01-22 17:28] mbklein opened #336 "SpeedyAF isn't speedy AF on staging"
## Description

Currently moving between section on staging is very slow. Production seems to be OK. It appears that this is a speedy AF problem (the sections aren't being indexed). @mbklein started investigation.

## To Recreate

- Go to something with multiple sections https://avr.repo.rdc-staging.library.northwestern.edu/media_objects/jd472w90n
- Click on a section
- see that it takes very long

[2018-01-22 17:55] adamjarling commented on #335
@davidschober Can you post a public production url from above where I can inspect it working?

[2018-01-24 15:58] carrickr opened #337 "Determine a Fedora Upgrade Path for AVR on AWS"
The rails app itself is a no downtime issue, but we need to replace the Fedora:

**Get a Maintenance Window**

Get a window, probably an early AM one, and replace the Fedora instance.

**Build A New Stack**

Cloudform up a new AVR stack (with the new Fedora), copy solr data over to the new instance.  Test, then just swap stacks.  Plus side here is no maintenance window, downside is the need to mak

[2018-01-25 15:58] carrickr commented on #334
@davidschober @mbklein resolved, ready for retest

[2018-01-26 15:42] adamjarling commented on #333
Move turn off RTMP and delete derivatives into separate issues.

[2018-01-26 15:44] davidschober opened #342 "Remove RTMP Streaming from Production"
## Description

After 6.3.2 is pushed to production, verify that it streams, then kill off.

## Done looks like

- [x] RTMP is turned off
- [x] Derivatives deleted

[2018-01-26 15:46] davidschober opened #343 "Get Downtime for 6.3.2"
## Description

Get downtime from stakeholders

## Done looks like

- downtime is secured.

[2018-01-26 15:47] davidschober commented on #343
See email 7:30am

[2018-01-26 15:52] davidschober opened #344 "Final testing for 6.3.2"
## Description

Final once over on 6.3.2. This is for stakeholders to give final sign off. Testing team and Molly will run through paces.

## Done looks like

- devs give once over
- stakeholders test workflow

[2018-01-26 15:53] davidschober commented on #329
Moving to Ready this will be after 6.3.2

[2018-01-27 03:33] mbklein commented on #335
See avalonmediasystem/avalon#2780.

[2018-01-29 15:28] #343 closed

[2018-01-29 15:28] #336 closed

[2018-01-29 22:36] davidschober commented on #233
@Toputnal I think this is done right? You're comfortable with the docs?

[2018-01-29 22:37] davidschober commented on #226
@carrickr do you think you can grab this? I'd like to get better stats on who/how stuff is being used.

[2018-01-30 19:38] davidschober commented on #334
I'm still seeing this on an empty playlist https://avr.repo.rdc-staging.library.northwestern.edu/playlists/11

@carrickr

[2018-01-30 19:46] davidschober opened #346 "Add new playlist from item errors"
## Description

When trying to add items to a "new playlist" from media object page, the system errors. This may be a core bug

## To Recreate:

* Go to a media object
* Click the playlist modal
* click the "add new playlist"
* see attached errror

[2018-01-30 19:52] davidschober commented on #346
![screen shot 2018-01-30 at 1 41 56 pm](https://user-images.githubusercontent.com/4803230/35587936-ce46ad48-05c4-11e8-9602-7e0256f0c09e.png)

[2018-01-30 19:53] davidschober opened #347 "Playlist marker arrow too close to text"
## Description

the playlist marker arrow is too close to the playlist item text. It lays over the top of the numerical.

## image
![screen shot 2018-01-30 at 1 42 25 pm](https://user-images.githubusercontent.com/4803230/35587995-fb6512d8-05c4-11e8-9771-025abafa6e23.png)

[2018-01-30 19:55] davidschober commented on #335
This is added back to sections. I kicked off  #347 as n playlists the arrow marker is too close to the numerics @adamjarling

[2018-01-30 20:55] davidschober commented on #346
This seems to happen only in Safari

[2018-01-31 15:30] #334 closed

[2018-01-31 15:30] #335 closed

[2018-02-02 16:43] #249 closed

[2018-02-02 17:20] mbklein commented on #337
I don't think we need to create a new stack. We have DB snapshots. We can snapshot the S3 bucket to glacier, swap in the new Fedora WAR, check it all over, and move on.

[2018-02-05 15:35] carrickr opened #348 "Bring In (AND TEST!) Avalon Speedups from Core"
Probably do this after 6.3 goes live, given how close to the deadline we are.

Commits:

https://github.com/avalonmediasystem/avalon/commit/c57f8f62801611699e8ef0dd117e752f7bd3c10e

https://github.com/avalonmediasystem/avalon/commit/74d9b9d54bb684befbfe5e229ed6dacd7cb4c682

Bring it into staging and test with large section items and then push out to prod sometime after the Fedora upgrade.

[2018-02-06 16:50] davidschober opened #351 "playlists clips can't grab streams in chrome or FF"
## Description

playlists can't grab stream clips for some items in FF or Chrome.

In Staging, I'm able to create playlists with full items and clips for some items. Others do not seem to work at all. In production all times in a playlist on Chrome or FF show start and end times of 0:00 -->0:00 whether clips or not

https://avr.repo.rdc-staging.library.northwestern.edu/playlists/23

To Recreate:

[2018-02-06 16:53] davidschober commented on #351
## NOTE this also seems to be occurring on canvas

So another issue, very similar… I’m trying to link this newly loaded video, Mike Figgis’ Hotel <http://media.northwestern.edu/media_objects/vq27zp32q>, to a class.  In Avalon it works, the time lapse bar showing 00:00 to 01:51:24.  But in Canvas, it doesn’t work.  Instead, the same as below is happening.  The time lapse bar shows 00:00 to 00:00, a

[2018-02-06 17:00] davidschober commented on #351
Example of a playlist in canvas with two working and one working

https://canvas.northwestern.edu/courses/47583/modules/items/921326

[2018-02-06 17:28] davidschober commented on #351
When a playlist item can't play, it shows no  item details

![screen shot 2018-02-06 at 11 25 56 am](https://user-images.githubusercontent.com/4803230/35873901-bce1a366-0b30-11e8-8049-a7539c6ce271.png)

In safari, it shows fine.

![screen shot 2018-02-06 at 11 26 00 am](https://user-images.githubusercontent.com/4803230/35873910-c11105da-0b30-11e8-8041-cba6beeb3915.png)

[2018-02-06 17:43] davidschober commented on #351
Just for notes, did you also have to invalidate the cloud front cache?

[2018-02-06 17:44] mbklein commented on #351
Yes, but that was a known issue and I had already done so.

[2018-02-06 17:57] davidschober opened #353 "two arrows showing up on playlist"
to recreate go to a playlist:

https://canvas.northwestern.edu/courses/47583/modules/items/921326

and note that there are two playlist arrows.

![screen shot 2018-02-06 at 11 56 37 am](https://user-images.githubusercontent.com/4803230/35875450-eac5268c-0b34-11e8-8912-8128e66070b7.png)

[2018-02-06 17:58] davidschober commented on #351
Moving to close.

[2018-02-06 17:58] #351 closed

[2018-02-06 17:59] mbklein commented on #353
Fix pushed to nulib/staging at 1dbec6

[2018-02-06 18:20] druparrish opened #354 "Pinwheel spins forever on clips"
Minor threat:
When playing a clipped video on a playlist, the clip will pinwheel you to death. It plays if you click the play button, but you might sit there for a while thinking it's not done loading.

Full videos uploaded to playlists do not suffer from this, nor does it seem to happen when you add a clip to a playlist as a canvas user.
![untitled](https://user-images.githubusercontent.com/25689

[2018-02-06 18:38] davidschober commented on #353
Done. Feel free to push @mbklein

[2018-02-06 18:39] adamjarling commented on #347
Yea, guessing so.  Can you post a live URL so I can play with it?

[2018-02-07 15:24] #333 closed

[2018-02-07 18:38] davidschober commented on #137
@mbklein or @carrickr can you dig into this and see if we can snag the data?

[2018-02-07 18:39] davidschober commented on #137
Three Ulysses items missing metadata

http://media.northwestern.edu/media_objects/ws859g10p – 79 sections
http://media.northwestern.edu/media_objects/jh343s452 – 73 sections
http://media.northwestern.edu/media_objects/j098zb29f – 78 sections

[2018-02-07 18:45] davidschober opened #355 "user can't add items to MO with 51 master files"
## Description

User can't add items to work with 51 master files.

Please add
- s3://avalon-masterfiles-cfx3wj9/dropbox/Course_Audio21454649780002441_caroli_02/ 21454649780002441_caroli_02_23
- s3://avalon-masterfiles-cfx3wj9/dropbox/Course_Audio21454649780002441_caroli_02/ 21454649780002441_caroli_02_24

TO

<http://media.northwestern.edu/media_objects/fn106z761>

## note from user

 I’m not abl

[2018-02-07 19:24] davidschober commented on #137
[tracks_jh343s452.txt](https://github.com/nulib/avalon/files/1704443/tracks_jh343s452.txt)
[tracks_ws859g10p.txt](https://github.com/nulib/avalon/files/1704444/tracks_ws859g10p.txt)

@mbklein I have a single line at the top of each of these with the URL.

[2018-02-07 19:37] davidschober commented on #137
[tracks_jh343s452.txt](https://github.com/nulib/avalon/files/1704482/tracks_jh343s452.txt)
[tracks_ws859g10p.txt](https://github.com/nulib/avalon/files/1704483/tracks_ws859g10p.txt)

Updated the text files @mbklein

[2018-02-07 20:21] laura-alagna opened #356 "Confirm certain files on farchive"
### Description
Carolyn asked me to confirm some course reserve video files are on farchive so that we can clear them from Isilon storage. Attaching .txt file containing all the filenames I'd like to confirm have made it to farchive

### done looks like
- [ ] confirm files on this list are on farchive
- [ ] let Laura know yes or no

[2018-02-07 20:22] laura-alagna commented on #356
[filenames_to_confirm_on_farchive.txt](https://github.com/nulib/avalon/files/1704617/filenames_to_confirm_on_farchive.txt)

[2018-02-07 20:22] laura-alagna commented on #356
@davidschober let me know if you have questions about this

[2018-02-07 20:49] #346 closed

[2018-02-07 20:50] #344 closed

[2018-02-07 21:04] davidschober commented on #355
@mbklein and I worked with Molly. There was something very wrong with the object. @mbklein was able to fix it, but we need to investigate more. Note, this happened to a couple of different objects.

cc: @carrickr

[2018-02-07 22:27] #137 closed

[2018-02-09 14:45] davidschober commented on #355
@mbklein we have an issue open on avalon core https://github.com/avalonmediasystem/avalon/issues/2811. Do you have any ideas to add about what's causing it? I think the team would any insight.

[2018-02-13 18:24] laura-alagna opened #357 "Need help getting ~16,000 audio files to S3"
## Description
I'm trying to ingest the School of Music Concert Recordings collection, which consists of about 16,000 audio files. Not trying to do it all at once, but Cyberduck won't upload into the S3 bucket because there are so many files in the directory.

The files are at dl17/Music_CD_Collection

## Done looks like

I need advice on another way to ingest (not Cyberduck), or for someone to co

[2018-02-13 21:44] davidschober commented on #357
@carrickr can you work with @laura-alagna to get these files up to s3?

[2018-02-14 15:20] #355 closed

[2018-02-14 15:43] Toputnal commented on #357
nulib/devops#222 is tracking this work.

[2018-02-16 17:08] adamjarling commented on #353
@davidschober Verify?

[2018-02-16 17:10] davidschober commented on #353
still seeing it.

[2018-02-16 17:10] davidschober commented on #353
I'm still seeing this

![screen shot 2018-02-16 at 11 09 25 am](https://user-images.githubusercontent.com/4803230/36319874-ed75e16e-1309-11e8-84a6-5e2ede914185.png)

[2018-02-16 18:07] adamjarling commented on #353
Can you shoot over the url?

[2018-02-16 18:16] davidschober commented on #353
Sure. It looks like it's happening on all playlists

https://media.northwestern.edu/playlists/18

to recreate:

1. sign in
2. create a playlist
3. see playlist has two arrows.

[2018-02-16 18:19] adamjarling commented on #353
Ok, I'll run this locally and see what's going on.

[2018-02-16 19:17] adamjarling commented on #353
@davidschober @mbklein From the git commit history, looks like the https://github.com/nulib/avalon/commit/1dbec62e7d6c48bf9bf5ed3788f820d1c897af18 never made it to `aws-deploy-prod`?

[2018-02-16 19:18] adamjarling commented on #353
There are some other UI items I'm cleaning up while in the code though...

[2018-02-16 20:22] Toputnal commented on #357
the server awslync.library is hooked to the isilon and has the awscli installed.  Repository shares are all mounted (via nfs automounts) at /repository  @carrickr @davidschober @mbklein

[2018-02-16 20:36] carrickr commented on #357
The sync operation is underway, 704 mpbs speeds, very nice.  I will check the process first thing on Monday

[2018-02-19 15:49] carrickr commented on #353
@davidschober Deployed to prod, not seeing two errors here:

https://media.northwestern.edu/playlists/95

[2018-02-19 16:31] carrickr opened #360 "Strip Brackets from Titles in Northwestern University School of Music Concert Recordings"
Strip out the [ and ] that are getting pulled in when the title is retrieved from Alma.

Do this after #357 is done so we can just do it one pass.

[2018-02-19 16:40] carrickr commented on #357
Missing `bienen0011_13.wav` on DL17

[2018-02-19 17:31] carrickr opened #361 "check for any unprocessed master files once 16k are uploaded"
to be done post #357

In console:

[code]
Docs should have a size of zero, if we don't it means transcoding failed for some reason, likely too many parts posting at the same time and messing up Elastic Transcode, run:

[code]

to reprocess those files

[2018-02-19 17:48] carrickr opened #362 "Deal With Non Transcodeable Media Object"
Media Object: https://media.northwestern.edu/media_objects/v979v309v
Reason: No file on S3
Creator: t-oconnell3@northwestern.edu

Looks deletable, but we should verify.

[2018-02-19 17:53] carrickr opened #363 "Improper Wav Format For Master File"
Media Object: https://media.northwestern.edu/media_objects/j9602133w

Part 17 is not in a format supported by Amazon.  For `.wav` the codec has to be `pcm`.  If the file is converted I can upload the new master file to S3 and just rerun that particular master file.  I'm also happy to convert it via quicktime on my machine if someone knows the desired output quality.

[2018-02-19 20:58] carrickr opened #364 "Fix GA Code"
## Description

It looks like the GA code dropped off avalon?

We're reading no-traffic from GA.

## Done looks like

- GA code is added back
- GA is tested and works

[code]

[2018-02-19 21:13] carrickr commented on #364
https://github.com/nulib/avalon/commit/da89e8e84fef316399c381fb6cf373badb1cd6f8

[2018-02-19 21:26] carrickr commented on #364
@davidschober Script is back, want to verify it is working?

[2018-02-20 16:39] davidschober commented on #353
done

[2018-02-20 16:39] #353 closed

[2018-02-20 19:24] davidschober commented on #348
@carrickr did this get done? I think you said you did...

[2018-02-20 19:26] davidschober commented on #364
verified that it's there and working as expected.

[2018-02-20 19:26] #364 closed

[2018-02-20 22:34] davidschober commented on #363
@laura-alagna can you grab this? I don't have the original.

[2018-02-20 22:35] davidschober commented on #362
Not sure I understand what the deal is with this one? Who uploaded it?

[2018-02-20 22:36] laura-alagna commented on #363
@davidschober yup I can take care of it

[2018-02-21 17:57] carrickr commented on #360
[code]

[2018-02-21 19:59] jenyoung commented on #360
FYI this is a cataloging practice and it means something. I'm totally OK with removing them, but I can see more AVR ingests having them in the future. I don't know if you want to add it as part of the process or just do it when we see it.

[2018-02-21 21:02] carrickr commented on #360
@jenyoung I was actually removing them because @laura-alagna thought the brackets would annoy.  If in the future you're fine with having them displayed to end users I can leave them be

[2018-02-21 21:03] carrickr commented on #360
Also this is now done

[2018-02-21 21:03] #360 closed

[2018-02-21 21:04] davidschober commented on #354
This is fixed

[2018-02-21 21:04] #354 closed

[2018-02-21 21:04] davidschober commented on #348
@carrickr should moving to in progress and "on hold" until after we move the 16k over.

[2018-02-21 21:10] davidschober commented on #239
I think this got fixed.

[2018-02-21 21:10] #239 closed

[2018-02-21 21:11] davidschober commented on #134
This seems fixed with 6.3

[2018-02-21 21:11] #134 closed

[2018-02-21 21:12] davidschober commented on #282
@mbklein is this still relevant? If not, we can close.

[2018-02-21 21:25] carrickr commented on #361
Done for the current batch, but we'll need to rerun this after the next import

[2018-02-21 21:33] carrickr commented on #363
@laura-alagna

At the end of this we had 41 total:

[code]

[2018-02-21 22:27] carrickr commented on #357
As a slackup for the ingest, 1787 media objects are ingested, ~160 pending

Of the pending, 82 are due to invalid files.  21 of them are use naming errors (the student who digitized it typed the name wrong) and the others appear to be the student skipped the file, so Laura will break out the CDs and get those missing files, she is currently in the process of renaming the other 21.  The names weren

[2018-02-21 22:29] davidschober commented on #357
@laura-alagna do you want to use #363 for the general cleanup? or create a separate rename issue?

[2018-02-21 23:06] laura-alagna commented on #357
@davidschober I'll break out another issue

[2018-02-21 23:06] #357 closed

[2018-02-22 14:56] laura-alagna opened #367 "Fixes for School of Music Recordings ingest errors"
Created after #357 closed.

## Background
1787 media objects are ingested, ~160 pending from a few different errors

## Done looks like
- [x] update incorrect naming on files on dl17 (24 files)
- [x] locate missing files on CDs in Music Library (about 50 files, likely these are ones that the student who did the project just made a mistake and missed)
- [x] convert codecs for the 41 files that did

[2018-02-26 18:14] laura-alagna commented on #363
@carrickr

we can ignore the following:
bienen0329_09.wav
bienen1229_05.wav
bienen1538_10.wav
bienen1812_05.wav
bienen2135_03.wav
bienen2450_06.wav

0329 = no track 9 exists
1229 = no track 5 exists
1538 = no track 10 exists
1812 = no track 5 exists
2135 = 4 second track; ignore (recording error or equipment test)
2450 = 4 second track

[2018-02-26 18:18] laura-alagna opened #368 "Investigate problems with catalog records for School of Music Recordings"
broke this one off of #367

## Details
During ingest some of the School of Music Recordings threw errors that seem to be a result of problems with the catalog records in Alma.
They are listed on this spreadsheet on the Alma tab:
https://docs.google.com/spreadsheets/d/1hZQMPp6yd6Qt9rQv59qYrhKwCJCKmM5MQeJu5ddlW3U/edit?usp=sharing

## Done looks like
- [x] @jenyoung looks into these errors to see wha

[2018-02-27 17:13] laura-alagna commented on #356
@carrickr do you have time to do this this week maybe?

[2018-02-27 23:22] jenyoung commented on #368
all fixed. there are two records highlighted on the sheet that seem to be ok. i didn't see the errors in the ALMA records and was able to import the on staging with no errors.

[2018-02-27 23:30] jenyoung commented on #362
it's a course video but tom shouldn't be uploading them

[2018-02-28 15:12] #348 closed

[2018-02-28 16:16] carrickr opened #369 "Batch Manifest Not Picked Up by S3"
`Batch_manifest_Weinbaum_football_audio` not picked up by Avalon

[2018-02-28 16:16] carrickr commented on #369
Fired manually, mbk is investigating

[2018-02-28 16:17] carrickr commented on #369
Issue is the space in the file name, we need to document no spaces in file names on S3 (Avalon doesn't mind but the process of getting it from S3 to Avalon does).  We should probably document this somewhere so other users of batch know this, @jenyoung do you know a good place to do this?

[2018-02-28 17:01] laura-alagna commented on #368
awesome! thanks @jenyoung. Closing this issue

[2018-02-28 17:01] #368 closed

[2018-03-01 00:21] jenyoung opened #370 "Replay of batch ingest not being picked up."
Batch ingested Cichowicz collection, 10 works made it in fine.

Errors I fixed. Uploaded correct files.
`
Row | Error
-- | --
3 | Date issued ( 1982-06-29) is in wrong format.
4 | Date issued ( 1982-06-30) is in wrong format.
14 | Content File not found:   s3://avalon-masterfiles-cfx3wj9/dropbox/Vincent_Cichowicz_Master_Class_Audio_Archives/inu-cichow_am_T250v1354A_a.wav   and Content File not fou

[2018-03-01 15:45] laura-alagna commented on #363
@carrickr I investigated the codec errors. Sadly some of them are corrupted files on CD (this collection is 15-25 year old CDs, so to be expected to some extent).

But I was able to get 9 of the 40 bad codec files! I added those on dl17, just needs a resync to get them in I believe.

they are:
bienen0622_02.wav
bienen0932_08.wav
bienen0932_09.wav
bienen1119_05.wav
bienen1199_03.wav
bienen1218_02.w

[2018-03-01 16:55] #363 closed

[2018-03-01 16:55] #367 closed

[2018-03-01 17:20] laura-alagna opened #371 "I have too many selected items"
Somehow in Avalon I have 585 items selected (I don't remember when this happened...) and when I click "manage selected items" to see them or unselect, the page won't load.

tried on Firefox and Chrome.
<img width="1281" alt="screen shot 2018-03-01 at 11 22 18 am" src="https://user-images.githubusercontent.com/25389954/36859039-d741d658-1d42-11e8-8b33-dc6dbca6d137.png">

[2018-03-02 16:20] carrickr commented on #371
[code]

Should be cleared now @laura-alagna

[2018-03-02 16:26] carrickr commented on #370
@jenyoung Can you upload the replay sheet you used please?

[2018-03-02 16:35] carrickr commented on #370
[code]

Looking at the created and updated times, it looks two attempts were made, so the sheet did pick up and run, but whatever is going on still has three where it thinks the sheet lacks needed info.

[code]

[2018-03-02 16:39] jenyoung commented on #370
yeah, now the error message tells me that my spreadsheet is empty. I open it up and all my data is there.
[faac5ccf-8765-4812-a62f-1cb88df2bbee_cichowicz_ingest_metadata.xlsx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57914aa192706c13005d758f/125516c66e82c728ace21e0d46ee959b20d780aa89a4e714f208bdc07117753e2852f12d3dd4e02ae71a7f075d0d1cf914370c1dafa1d66cffe5761fd3025cb8922

[2018-03-02 16:43] carrickr commented on #370
@jenyoung

Github is doing something weird with your file and having it download as `125516c66e82c728ace21e0d46ee959b20d780aa89a4e714f208bdc07117753e2852f12d3dd4e02ae71a7f075d0d1cf914370c1dafa1d66cffe5761fd3025cb892293029937940f8e9c64ead1da860c910dfe3efce5ecafa382de088dc4f371702108bfa553da8cb4bc959a54ee6485cb60f2421b728622.xlsx` vs `faac5ccf-8765-4812-a62f-1cb88df2bbee_cichowicz_ingest_metadata.xl

[2018-03-02 16:53] jenyoung commented on #370
oh that's weird.
[a.xlsx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57914aa192706c13005d758f/125516c66e82c728ace21e0d46e9d6d6619291a685ecbc57e607b2c171117470795dfa7c28d7b670e71a79515e5e1da9465d5656e0ebcb7af8e2632dd3165eafc3674d75cf3710a9ba821fbf08bc218d4981b5aec7.xlsx)

[2018-03-02 17:07] carrickr commented on #370
Thanks,  I think I see what happened

[2018-03-02 17:17] carrickr commented on #370
@jenyoung I think you're going to do have to do the last three by hand or totally recreate the sheet, the sheet itself is somehow messed up (not sure if encoding or what) and I'm not able to force it into a good form.  The bug is those three rows are loading incorrectly into Avalon and it all goes downhill from when Avalon tries to parse the sheet.

[2018-03-02 17:34] carrickr commented on #370
Also just as a note, in A1 you need the full name `Vincent Cichowicz Master Class Audio Archives` not just `Cichowicz`, that wasn't the root cause of the problem but that contributed to multiple error states occurring.

[2018-03-02 21:29] jenyoung commented on #370
thanks @carrickr for looking into this. I imported the last 3 works via the single-item inteface.

[2018-03-02 21:29] #370 closed

[2018-03-03 15:49] davidschober commented on #362
so @jenyoung is this deletable? It doesn't look real and there's no associated file.

[2018-03-03 15:50] davidschober commented on #361
@carrickr I thought I heard you say this got done. Should we close? Moving to review.

[2018-03-03 15:57] davidschober opened #372 "Add docs for massive ingestion"
## Description

After reading through the retro in #139 , I think we need some docs on how to handle massive batch jobs.

## Done looks like

- [ ] docs are written on general process @laura-alagna published in [repodev and planning](https://github.com/nulib/repodev_planning_and_docs/wiki)
- [ ] docs are read by dev team and thumbs up given from their side.

[2018-03-05 15:19] #371 closed

[2018-03-05 15:28] #369 closed

[2018-03-05 15:31] laura-alagna commented on #361
Greg needs to let us know how he wants the failed transcode ones to display, i.e. leave as is, put in a "dummy" file, etc. Either way need to have a note added to the metdata

[2018-03-12 16:36] Toputnal commented on #234
I have written up an initial draft here.  https://github.com/nulib/repodev_planning_and_docs/wiki/SOLR-Backup-to-EFS-on-aws

[2018-03-12 16:45] Toputnal commented on #234
Created
#279 Verify that Solr is being backed up in aws
#280 Document how Solr is backed up in AWS
#281 Test documentation in #280

[2018-03-12 18:29] Toputnal commented on #234
Update Documentation to include information on how the solr backups are generated.  There must be a script and a cron job or something of the sort.

[2018-03-19 20:28] adamjarling commented on #347
@davidschober This was fixed, yea?

[2018-03-20 18:44] MarekBabala commented on #233
The Group decided we need more info on the Docs page.

[2018-03-20 18:46] d-venckus commented on #233
The docs are not sufficient, I'd say, to properly diagnose a complex issue.  We need to walk through both the document and the configuration to identify what's missing.

[2018-03-21 15:15] davidschober commented on #347
yes. Closing

[2018-03-21 15:15] #347 closed

[2018-03-30 18:10] Toputnal commented on #234
@mbklein I am not sure how this solr backup script gets generated.  Is this something that gets untared into / or whatnot?

[2018-03-30 18:33] egspoony commented on #233
@d-venckus, @MarekBabala, @Toputnal will meet and discuss and will then generate a specific list of questions for @mbklein

[2018-04-02 18:18] MarekBabala commented on #233
Scheduled this for This Friday 2PM

[2018-04-06 19:49] MarekBabala commented on #233
Scheduled fro THURSDAY 2PM - 3:30AM

[2018-04-06 19:50] egspoony commented on #233
Meeting was had, new meeting will happen where screenshots will be added. This work will be reflected in issue nulib/devops#304

[2018-04-16 14:47] #361 closed

[2018-04-17 21:25] davidschober opened #373 "[Avalon] clean up files after ingestion"
## Description

We realized that as an artifact of our migration to AWS, we are not moving ingested master files to "permanent" AWS storage. We should be following a similar pattern to our previous Avalon install where master files were moved to a PID-based structure after ingestion.

## Done looks like:

- [x] files are moved from "dropbox" to permanent location and dropped into the preservation

[2018-04-23 15:03] carrickr opened #374 "Deal with Missing MasterFiles"
We are missing the following master files (473 missing out of 20750)

[code]

[2018-04-24 14:25] carrickr opened #375 "Clean Up Orphan Masterfiles"
[code]

We have master files that don't belong to any MediaObject that are creating issues with #374 in terms of iterating over all the master files, since `isPartOff` on a master file is never expected to be blank.  These master files are not visible to users and probably the legacy of poorly deleted MediaObjects.  Removing them.

[2018-04-24 14:32] #375 closed

[2018-04-25 14:27] davidschober commented on #373
@carrickr can you put a brief update when you feel confident about the status?

[2018-04-25 15:43] carrickr commented on #373
Console code

[code]

[2018-04-25 15:48] carrickr commented on #373
Many of the files in question are in Chicago Chamber Musicians and we are having an issue stemming from a fact there is `,` in the directory name.  I am currently writing a custom script to handle those.  I will update with a missing count after that.

[2018-04-25 15:53] carrickr opened #376 "Remediate Chambers List/ master file move"
Subtask of #373

`Chicago_Chamber_Musicians_Archive` has a `,` in the file name that ends up stored escaped in solr and messed up the `aws s3 cp` command.  Deal with this.

[2018-04-25 15:57] carrickr commented on #373
As of 10:45 Central on April 25th, all new content is moved with the following pattern:

`s3://preservation-cfx3wj9/avalon-masterfiles/1z/40/kv/20/1z40kv20z/bunny.mp4`

The `1z/40/kv/20/1z40kv20z/` is the default Avalon way for breaking the pid up.  I don't love it, but better to stick to the standard core practice.

[2018-04-25 15:59] carrickr opened #377 "Adjust S3 Sync Location"
New location for all materials is:

`s3://preservation-cfx3wj9/avalon-masterfiles/`

You'll want to recursively hit that directory as Avalon breaks up the pid, so files end up stored in the form:

`s3://preservation-cfx3wj9/avalon-masterfiles/1z/40/kv/20/1z40kv20z/bunny.mp4`

Also please note #374, we have some files deleted by the users that aren't on S3.  So we may end up needing to sync back up

[2018-04-25 17:11] carrickr commented on #376
This code copies the chambers list over and removes any `,` in the filename, turns out both the collection names and files have `,` in them:

[code]

copy currently running

[2018-04-26 14:09] carrickr commented on #373
Chambers list should hopefully represent most of the ~2,800 master files that didn't copy to S3 on the first pass.  Total size of Chambers is ~3,200 although not all of them have the `,` escaping issue.

[2018-04-26 18:32] carrickr commented on #376
These look to be done, checking for any pointing to the old location still (other unescaped characters, etc)

[2018-04-26 21:08] davidschober opened #378 "Thumbnail not updating"
## Description

I’m adding a video to the Repository and can’t get the thumbnail selection to work.  It’s this item https://media.northwestern.edu/media_objects/jd472x96h .  When I click on the camera to select the poster/thumbnail image, the image doesn’t pop up (as usual) with the “Update Poster Image” screen.  Although, I see that the time stamp for the image I chose is saved under “Thumbnail”

[2018-04-26 21:42] carrickr commented on #378
MasterFile is not on s3, I'd need the user to send it to me to examine.

[2018-04-26 21:47] carrickr opened #379 "Discuss Implications of the new MasterFile Move Strategy"
https://wiki.dlib.indiana.edu/display/VarVideo/Managing+Master+Files

As noted there is only a move and delete, no copy.  The move then breaks batch replay in the sense the source files are not there to replay.  We either need to add a `copy` strategy to Avalon 6 core and bring it into NU or else educate our users about this.

[2018-04-26 23:01] davidschober commented on #379
I think we can educate.

Sent from my iPhone

[2018-04-27 11:30] davidschober commented on #379
Second thought. Maybe we life cycle them

Sent from my iPhone

[2018-04-27 14:13] Toputnal commented on #377
I have updated the scripts to sync S3, however, we are out of space on farchive21.  On Wed, 4/25 I opened NUIT Ticket #685541 to increase the quota size on farchive21 from 8TB to 16TB.  Once this happens, I will be able sync down data from the new location.

[2018-04-27 17:37] Toputnal commented on #377
NUIT finished the ticket, and I have restarted the sync.  Additionally, this sync will continue to run as a cron job each day.

[2018-04-27 19:24] davidschober commented on #373
cool.

[2018-04-30 14:16] carrickr commented on #379
@davidschober life cycle isn't on the table without code changes, since Avalon has explicit code to delete the file in the move job

[2018-04-30 14:25] #373 closed

[2018-04-30 14:28] carrickr opened #380 "Quick Fix for Data Loss"
As per https://github.com/avalonmediasystem/avalon/issues/2946 and evidenced in prod in #378, we can lose master files entirely if the copy fails.  Pushing out code to only delete the user supplied master file if the copy works.  This is a quick and dirty fix and can still result in broken references (see the comments in 2946) but it does prevent loss of the file.

[2018-04-30 21:47] carrickr commented on #380
deployed to production and tested

[2018-04-30 21:47] #380 closed

[2018-05-01 16:26] davidschober commented on #234
@Toputnal is this done?

[2018-05-01 19:03] davidschober opened #382 "Investigate Avalon access rights via SES"
_From @davidschober on April 27, 2018 19:28_

## Description

Per discussion with Kurt, we would like Avalon to be able to authenticate a student and have access to his / her classes. This will allow professors to use simple links and students to be able to login to Avalon directly (not via canvas) to gain access to material. We need to see if we have access to the SES api and write up a statement

[2018-05-01 19:03] davidschober commented on #382
@mbklein @carrickr let's do the investigation next cycle.

[2018-05-01 19:07] #378 closed

[2018-05-01 19:37] davidschober commented on #379
OK. I'm good with the move and delete strategy. And I think it makes sense that if you need to/want to replay it will take a repush. Moving to close.

[2018-05-01 19:37] #379 closed

[2018-05-01 19:38] davidschober commented on #342
@carrickr did you move this to in progress or did it reappear here somehow?

[2018-05-02 16:20] davidschober commented on #362
@Nic4Images can you confirm this is deletable? it looks like an odd test that broke. cc: @carrickr

[2018-05-02 16:25] davidschober commented on #362
@carrickr we're good to delete.

[2018-05-02 16:26] davidschober commented on #362
Deleted and done.

[2018-05-02 16:26] #362 closed

[2018-05-03 14:16] #376 closed

[2018-05-03 15:13] carrickr commented on #342
[code]

[2018-05-03 16:10] carrickr opened #383 "We should delete all the low derivatives"
We no longer make a low quality for new objects, but many older objects have them

We could delete the derivatives and then clear their files off disk.

[2018-05-03 19:57] carrickr commented on #374
@Toputnal
First one is lunch room managers, the `r781wg00k` is the pid

[2018-05-04 14:10] #342 closed

[2018-05-10 21:55] davidschober opened #384 "Verify staging is following same move strategy"
## Description

We should verify that Avalon staging is using the same move strategy as production. I didn't see the bucket.

## Done looks like

- move strategy is verified as the same between production and staging.

[2018-05-13 14:30] davidschober commented on #356
@laura-alagna this one slipped through the cracks a bit. Let's talke about priority on this.

[2018-05-13 14:35] davidschober commented on #248
closing. I think this was sorted.

[2018-05-13 14:35] #248 closed

[2018-05-14 16:33] davidschober commented on #384
@carrickr can you verify we're using the same move strategy on Staging as in Production? I didn't see the bucket in staging. If I'm misunderstanding something, let me know.

[2018-05-14 17:09] davidschober commented on #318
@carrickr are you imagining that we have a  job-runner machine that's hooked up to an isilon share for side-loading? Like if I have 10k images I want to upload, I drop them off on "isilon/s3-sideload-bucket" which is mounted from some vm. The VM runs a cron job that syncs up to the s3 bucket asynchronously?

[2018-05-14 17:39] davidschober opened #385 "Write terraform for batch ingest lambda"
## Description

terraform is not creating the batch ingest lambda. Terraform should stand up all necessary infrastructure

## Done looks like

- [ ] write configuration
- [ ] configure s3 bucket to execute and install lambda with appropriate

[2018-05-14 17:41] #385 closed

[2018-05-21 18:08] #233 closed

[2018-05-23 16:26] davidschober commented on #384
@carrickr can you just give me the Yup, it's working the same way and point me to the bucket?

[2018-05-23 16:37] carrickr commented on #384
files on staging use the move strategy and end up in avr-masterfiles-staging-rd56wk8/preservation

[2018-05-23 16:38] davidschober commented on #384
Thanks !

[2018-05-23 16:38] #384 closed

[2018-05-29 15:31] egspoony commented on #374
Farchive21 create a folder here. Data might be in farchive21. File or directory names might have spaces and/or special characters. Some items might have been deleted within 24 hours and will be missing.

DONE looks like:
File list manifest of both found and missing.

[2018-06-15 15:41] jenyoung opened #386 "Full regression testing of Staging 6/19 am"
## Special Note
 change staging bucket name in Cyberduck from `avr-masterfiles-staging-rd56wk8` to `stack-s-avr-masterfiles`

## Testing
Using the spreadsheet below, please complete assigned sections and kick off bugs.
### [create copy of the testing template](https://docs.google.com/spreadsheets/d/1v-K4NWEPyERabHHCMPADI79P-d1FAu2_fqy_dgfngdI/copy)

And save it to [Repository and Digital Curation

[2018-06-18 22:09] jenyoung opened #387 "Testing for AVR Production Wed 6/20"
## Links to systems

#### [AVR staging](http://media.northwestern.edu)

#### [Canvas Staging](https://canvas.northwestern.edu/)

## Getting Ready to Test

#### Spreadsheet for [Full regression testing spreadsheet](https://docs.google.com/spreadsheets/d/1xOsh_Cg47UwHV3h95zcVPPpnB0T43arWnnZvhLMQFJc/edit#gid=188479199/copy)

**Pro tip**: Conduct all testing in incognito browser windows.

#### Bugs

F

[2018-06-19 21:50] laura-alagna opened #388 "Error message when creating new collections on AVR staging"
This bug encountered when testing on Avalon staging.

Logged in with NetID aua6615. As prompted by the test script, first step was to click "mange content" and then create a collection. I named the collection and hit "create" and encountered an error message:

![screen shot 2018-06-19 at 3 32 23 pm](https://user-images.githubusercontent.com/25389954/41626043-a00b2528-73e0-11e8-9fb4-5b0339f70ea2.pn

[2018-06-19 21:50] laura-alagna commented on #388
@mbklein david said to ping you on this one

[2018-06-19 22:12] davidschober opened #389 "avalon batch not responding in staging"
## Description

The new Avalon Staging environment is not responding to a batch manifest/asset package.

## To Recreate
- open cyberduck and navigate to a collection
- upload assets to cyberduck
- upload manifest to cyberduck
- see that no email is kicked off
- see that no items are added.

[2018-06-20 18:37] Toputnal commented on #234
Yep.

https://github.com/nulib/repodev_planning_and_docs/wiki/SOLR-Backup-to-EFS-on-aws

[2018-06-20 19:17] jenyoung commented on #389
I was able to successfully batch ingest items this morning.

[2018-06-20 19:17] jenyoung commented on #388
I also got this notification.

[2018-06-20 19:19] jenyoung opened #390 "Manage groups opens another tab"
When going to manage groups in AVR, clicking on the button for it opens another browser tab.

Windows 10 PC, Chrome Version 66.0.3359.170 (Official Build) (64-bit)

[2018-06-20 19:30] jenyoung commented on #386
bug tickets:
#388
#389
#390

[2018-06-20 20:58] mbklein commented on #388
I've been experiencing this as well. It seems to be a race condition between the new collection and the web app trying to access it.

@carrickr Any ideas?

[2018-06-21 15:38] jenyoung commented on #390
Also happening in production. testing in Firefox 60.0.1 (64-bit) on a Windows 10 PC.

[2018-06-21 15:46] jenyoung commented on #388
Also happening in production. testing in Firefox 60.0.1 (64-bit) on a Windows 10 PC.

[2018-06-21 16:00] #389 closed

[2018-06-21 16:31] jenyoung commented on #104
Still says submit query on Production but not staging.

[2018-06-21 17:02] jenyoung opened #391 "Emails not being sent"
Email not being sent for these normal things on production

- [x] collection creation
- [x] batch upload success
- [ ] batch ingestion errors
- [ ] batch complete

[2018-06-21 17:05] jenyoung opened #392 "LTI linkage"
LTI not working on production -- most likely culprit is that it is still pointing to media.northwestern.edu not http://avr.stack.rdc.library.northwestern.edu/

- verify once production is live

[2018-06-21 17:08] jenyoung opened #393 "Herskovits collection count off"
Carolyn and David both see a count of 684 of Herskovits materials. I see a count of 685

![2018-06-21_114948](https://user-images.githubusercontent.com/2250501/41734083-86630688-754b-11e8-9108-11749693219b.png)

- need to investigate

[2018-06-21 17:09] jenyoung commented on #387
#391
#392
#393

[2018-06-21 21:10] davidschober commented on #392
@mbklein this is because production canvas only respects the media. domain correct?

[2018-06-21 21:11] davidschober commented on #393
I tested and got the 684. This is a non-critical bug.
![screen shot 2018-06-21 at 11 49 25 am](https://user-images.githubusercontent.com/4803230/41745767-b4393bc8-756d-11e8-9773-bef0bcd42425.png)

cc: @mbklein

[2018-06-21 21:14] #234 closed

[2018-06-21 21:18] davidschober commented on #386
Done except for LTI as we can't test that in staging currently.

[2018-06-21 21:18] #386 closed

[2018-06-22 17:47] d-venckus opened #394 "SSL cert for httpstream.media.library"
Create a new ssl cert for the cantaloupe streaming server at httpstream.media.library.northwestern.edu, sha256, 2 years lifespan.

[2018-06-22 17:58] d-venckus opened #395 "[Avalon] Rebuild Cloudwatch Alerts for Avalon and Prod Stack"

[2018-06-25 14:24] #394 closed

[2018-06-25 16:04] davidschober commented on #388
This will stay in ready as a known bug.

[2018-06-25 16:06] davidschober commented on #390
Low priority as this was an existing bug. cc: @mbklein @carrickr

[2018-06-25 17:48] d-venckus commented on #395
I have put together terraform code to create Cloudwatch Alarms for base stack components in thew new Stack-P environment, but I got stuck and couldn't easily find a way to assign them via code to the correct target instance ids.  This can normally be done at the time of component/instance creation, wherein the instance ids can be assigned to a variable in the terraform stanza.

MBK says he knows o

[2018-06-25 21:48] davidschober opened #396 "AVR: Firefox won't stream some videos through canvas"
## Description

avr is having an intermittent problem streaming certain videos in canvas.

## To Recreate

- Go to canvas.northwestern.edu
- login with creds that have access to a course
- go to a Avalon Testing course (or other)
- to to "Library Media"
- stream a video
- go back to "library media"
- try to stream a video
- see that the start and end times are 0:00 -->0:00

[2018-06-26 15:41] mbklein commented on #396
I believe there are two culprits here: Caching and CORS. When the page is loaded from the server, MediaElement and Firefox send the correct `Origin` header to the streaming server, and the streaming server responds with the correct `Access-Control-Allow-Origin` header. But when the page is reloaded from cache, The `Origin` header doesn't get sent, meaning there is no `Access-Control-Allow-Origin`

[2018-06-26 16:07] davidschober opened #397 "[AVR] Change text on AVR about page"
## Description
The text on the AVR about page needs to be up dated. It currently says.

## Done looks like

change the text on https://media.northwestern.edu/aboutnu

FROM:

house over xxxx hours

TO:

houses thousands of hours

[2018-06-27 09:15] mbklein commented on #390
This is by design in core Avalon; changing it is an enhancement, not a bug.

[2018-06-28 12:34] Toputnal commented on #395
David and I setup monitoring for all production environments by hand.  devops/#319 has been created to track the work of writing the alerts in terraform code.

[2018-06-28 21:46] #392 closed

[2018-06-29 14:24] d-venckus commented on #395
These are all in place.

[2018-06-29 14:24] #395 closed

[2018-06-29 21:15] davidschober opened #398 "Tear Down Old PROD"
## Description

Old Production Avalon and related buckets should be torn down

[2018-07-05 19:47] davidschober commented on #262
We have documented how to read log files. https://github.com/nulib/next-generation-repository/wiki/accessing-rails-logs-via-cloudwatch-(ALL-ENVS)

[2018-07-05 19:47] #262 closed

[2018-07-05 19:48] #231 closed

[2018-07-05 19:53] davidschober commented on #393
tested again and got 685.I think SOLR was being flaky. Closing.

[2018-07-05 19:53] #393 closed

[2018-07-06 15:46] #398 closed

[2018-08-07 16:07] davidschober opened #401 "High-quality bladerunner broken"
A version of Bladerunner was broken.

MBK moved the derivatives around.

[2018-08-10 14:29] #401 closed

[2018-08-15 21:38] davidschober commented on #391
Received an email when the batch was kicked off, but I am not receiving any response when/ if a batch is complete. I am also not getting an email on collection creation.

cc: @carrickr

[2018-08-16 19:56] davidschober commented on #397
closing @carrickr completed this two sprints ago

[2018-08-16 19:56] #397 closed

[2018-08-16 19:58] davidschober commented on #390
Closing. We'll leave this as is for now.

[2018-08-16 19:58] #390 closed

[2018-08-31 21:52] jenyoung opened #402 "Cleanup older records that still have extra punctuation in Terms of Use"
### Description

Some records in AVR still have `Terms of Use` fields with extra punctuation. Ideally these should be cleaned up at some point.

**Example:**
https://media.northwestern.edu/media_objects/br86b424n

`["These recordings are from material in the collections of the University Archives of Northwestern University Libraries, are provided for use by its students, faculty and staff, and by

[2018-09-04 20:24] jenyoung opened #403 "During batch ingest, Terms of Use adds extraneous characters"
### Description

Importing via batch ingest adds extra brackets and quotation marks to the `Terms of Use` field.
Collection imported today (9/4/2018) - `Arnold Jacobs Master Class Audio Archives`

**Example:**
https://media.northwestern.edu/media_objects/3r074w361

["The audio recordings on this web site are from material in the collections of the Music Library of Northwestern University Libraries

[2018-09-04 20:30] jenyoung opened #404 "Metadata should not validate during batch ingest if Note Type is not lowercase"
### Description

Typing in the `Note Type` with a capital letter instead of lowercase fails the batch ingest. However, an email is sent that the metadata was valid. It is not actually ingested.

### Done looks like:
Either allow uppercase value or reject and require lowercase.

[2018-09-04 21:07] jenyoung opened #405 "Incorrect date should not validate"
### Description

During a recent batch ingest, invalid dates did not trigger an invalid date message and an email stating that the metadata was valid was sent.

### Done looks like:
- [ ] Don't validate incorrect dates and send an email saying so.

[2018-09-04 21:39] davidschober opened #406 "Avalon outage 09/04/2018"
### What happened

09/04/18. Avalon frontend and workers went down hard. After a reboot there was a momentary recovery, then the system went down hard again. Core infrastructure remained operational (SOLR, FcRepo.

###  Why do we think it happened?

Redis was showing OOM errors. We could not find cloudwatch stats on that so we had to search the logs.

###  Did something make it worse?

We could us

[2018-09-05 21:27] davidschober commented on #406
@Toputnal thanks! That's awesome.

[2018-09-06 16:17] mbklein commented on #406
I have looked at AVR's commit history and found that the commit to avoid this situation was never deployed to production. We need a deployment window to roll out the change.

[2018-09-06 16:52] Toputnal commented on #406
If we need to wait more than a day, can you please do a quick write-up in the wiki @mbklein so that if this happens again before the deployment window no one needs to call you?  :-)

[2018-09-07 13:47] davidschober commented on #406
@mbklein Molly OK'd deployment Friday, Monday or Tuesday 8-10 am. Let me do so me final testing on the canvas integration.

[2018-09-07 13:57] davidschober commented on #406
Kicking off new issue to track deployment.

[2018-09-12 21:37] davidschober opened #411 "link to LTI - protected content requires reload"
## Description

When linking to a an LTI- protected item in production, the user is passed through authentication, but the item page does not seem to be able to load the content. The start and end times are shown as 0:00--> 0:00. A page refresh loads the video properly

## To recreate

- go to an avalon test course video (without authenticating as a user <http://media.northwestern.edu/media_object

[2018-09-13 16:31] mbklein commented on #411
I've been unable to reproduce this – the video loads and plays just fine for me after the login redirect in Safari, Chrome, and Firefox.

[2018-09-13 19:20] davidschober opened #412 "Ares connector app failing after upgrad"
After the upgrade push, the ares connector application is failing with a

“Response status code does not indicate success: 500 (Internal Server Error).”

Michael is looking into it

[2018-09-17 14:38] #412 closed

[2018-09-18 14:16] #382 closed

[2018-09-18 14:17] davidschober commented on #212
done per API work. Any old link will work!

[2018-09-18 14:17] #212 closed

[2018-09-18 14:19] #161 closed

[2018-09-18 14:20] davidschober commented on #255
closing as very stale.

[2018-09-18 14:20] #255 closed

[2018-09-19 14:38] Toputnal commented on #374
I wrote the following script which identified that all missing files exist on the Isilon under farchive21

#!/bin/bash
ret_val=$?
cd /repository/farchive21/dropbox
cat ~/missing-files.txt | while read X; do
  find . -samefile $X > /dev/null 2>&1
  if [ $ret_val -eq 0 ]; then
    echo "Found $X on the Isilon"
  else
    echo "$X NOT found"
  fi
done

I have 'pinged' carrick to get the S3 path to wh

[2018-09-19 16:06] Toputnal commented on #374
[root@awslync ~]# cat fixfiles.sh
#!/bin/bash
ret_val=$?
cd /repository/farchive21/dropbox
cat ~/missing-files.txt | while read X; do
  find . -samefile $X > /dev/null 2>&1
  if [ $ret_val -eq 0 ]; then
    echo "Found $X on the Isilon.  Copying to S3"
    aws s3 cp $X  s3://avalon-masterfiles-cfx3wj9/dropbox/$X
  else
    echo "$X NOT found"
  fi
done

[root@awslync ~]# ./fixfiles.sh

Script is c

[2018-09-20 14:36] carrickr commented on #374
Items have been found and uploading, I am beginning the process to load them into Avalon

[2018-09-20 20:11] Toputnal commented on #374
I've found and uploaded every missing file back to its original location in S3.  We ran into a snag with special characters like commas and spaces, but once that was worked out everything pushed up to S3 without issue.

[2018-09-24 15:20] davidschober commented on #388
@carrickr do you have any ideas?

[2018-09-27 15:54] carrickr commented on #374
Up and present!

[2018-09-27 15:54] #374 closed

[2018-09-27 18:10] carrickr commented on #391
Also I answered David on slack, but just for clarity, it's not working due to a bunch of reasons that basically boil down to cron tasks need to be done differently on dockerized AWS infrastructure than they do on vanilla Avalon.

[2018-10-31 15:49] laura-alagna opened #415 "Smoke test production, 11/1/2018"
Testing checklist for "Smoke" Testing, 11/1/2018

1. Search
2. Buttons function
3. Playback / Quality
4. Captions functioning
5. Create Playlist
6. Add Item to playlist / Add Clip to playlist
7. Ensure content migrated and is available

If you encounter any bugs, create an issue in https://github.com/nulib/avalon and add the "bug" label

[2018-11-01 13:50] druparrish commented on #415
Smoke testing is done. Everything on the list is working, save for the 'captions function', which I cannot locate. 👎

[2018-11-01 14:23] egilchrist commented on #415
Same results as Dru. Smoke testing is complete. I had the same issue with "captions function."

[2018-11-01 15:08] #415 closed

[2018-11-07 18:12] davidschober opened #416 "Fix GA tracking code"
The tracking code in Avalon got bonked during our transition to terraform. We will use this as an opportunity to migrate tracking to our generic "repositories" tracking.

## Done looks like

- add this tracking code to avr UA-797260-32
- verify tracking code is pinging
- update view in google analytics (DS)

[2018-11-08 16:08] davidschober commented on #416
Done and confirmed. Site is pinging.

[2018-11-08 16:08] #416 closed

[2018-11-12 15:00] davidschober commented on #391
@mbklein this got sorted, correct? I think this is really, really old. cc: @jenyoung

[2018-11-12 15:21] #396 closed

[2018-11-12 15:21] davidschober commented on #396
closing. too hard to replicated. THis was a very specific ff version

[2018-11-12 15:22] davidschober commented on #388
closingt as a known bug. There's a race condition.

[2018-11-12 15:22] #388 closed

[2018-11-27 17:08] egspoony commented on #285
Abandoned!

[2018-11-27 17:08] #285 closed

[2018-11-27 21:10] davidschober opened #417 "SOLR Read only (AVR couldn't write)"
## Description

Molly reported that AVR couldn't handle edits. This did not seem to affect other systems.

## Cause

The solr logs filled up causing the Docker containers to flip to read only.

## Logs/ Symptom
[code]

## Resolution

1) ssh to bastion, then from there to each of the three solr nodes.

2) On each solr node, truncate `/var/lib/docker/containers/*/*-json.log` (I might have json and l

[2018-11-27 21:11] davidschober commented on #417
cc: @d-venckus @mbklein @Toputnal

[2018-11-29 22:05] #411 closed

[2018-11-29 22:14] #356 closed

[2018-11-29 22:14] #383 closed

[2018-11-29 22:15] #372 closed

[2018-11-29 22:15] davidschober commented on #372
stale

[2018-11-29 22:20] davidschober commented on #82
@jenyoung can we close this?

[2018-11-29 22:21] #237 closed

[2018-11-30 17:30] jenyoung commented on #82
@davidschober I'm not sure. It looks like the `vpc` part is gone. I don't see the identifier in the mods record

[2018-12-10 19:34] #279 closed

[2018-12-21 16:32] #417 closed

[2019-01-17 16:58] davidschober opened #418 "Avalon: can't create thumbnails"
## Description

Molly reported not being able to create thumbnails in Avalon.

## Honeybadger

Error detected in: AVR (production)

Full report at https://app.honeybadger.io/projects/57444/faults/44521261

RuntimeError: Frame extraction failed. See log for details.

Summary

URL: http://localhost/

Hostname: 6d0e973d917a

Trace

app/models/master_file.rb:592:in `extract_frame`
app/models/master_fi

[2019-01-22 15:37] #418 closed

[2019-02-04 22:16] davidschober opened #421 "elastic transcoder erroring on batch"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary
Erin tried to ingest ~15 videos using batch. She after starting the ingestion she received the following error:
![basketball](https://user-images.githubusercontent.com/4803230/52240986-2278e880-2898-11e9-96b5-e9e0970c7d90.PNG)

After initial in

[2019-02-08 21:54] davidschober commented on #421
@mbklein can you remind me where this is? We didn't push it to prod yet right?

[2019-02-12 20:02] jenyoung opened #422 "Can't ingest 4 films into Spec collection"
Erin and I have been trying and failing to ingest 2 works (total 4 MP4 files) into the `McCormick Library of Special Collections Audiovisual Collection` on and off for days now.

On Staging:
- Batch accepted no errors email sent
- Only [one work](http://avr.stack.rdc-staging.library.northwestern.edu/media_objects/6969z115b) was ingested, no indication why the other one was not.

On Production:
- U

[2019-02-13 15:21] davidschober commented on #422
related to #421

@mbklein

[2019-02-13 19:19] davidschober commented on #422
I was able to reproduce this with Jen. I went through normal troubleshooting with the spreadsheet.

[2019-02-26 19:00] #421 closed

[2019-02-26 19:22] mbklein commented on #422
I'm looking into the reason for the ingest failure on Staging, but the production issue is easy: There's no collection linked to the `McCormick_Library_of_Special_Collections_Audiovisual_Collection` dropbox directory.

[2019-02-26 19:24] mbklein commented on #422
The collection must have been renamed at some point, because its dropbox directory name is simply `Special_Collections`

[2019-03-01 20:24] davidschober commented on #422
@mbklein I tried to help out here, but I don't have rights to change it.

[2019-03-04 15:38] #422 closed

[2019-03-07 15:48] davidschober commented on #226
@mbklein what do you tihnk about swapping out Google Tag manager for our current analytics drop. I could get at all the information by scraping from the page. I think it would be a small shift.

[2019-03-11 16:50] davidschober opened #424 "Verify "move strategy" is in place in AVR"
## Description

We believe the "move strategy" is in place in AVR. We need to verify that the strategy is still in place after our most recent architecture changes.

## done looks like
- [x] verify master files are moved to preservation bucket

[2019-03-11 16:53] davidschober commented on #424
We might be able to pick up this low hanging at the same time: https://github.com/nulib/next-generation-repository/issues/900

[2019-03-13 15:08] davidschober commented on #104
We will track AV core on this.

[2019-03-13 15:08] #104 closed

[2019-03-13 15:19] davidschober commented on #277
@jenyoung this doesn't seem visible from the front end anymore. I think it got sorted in a subsequent upgrade.

[2019-03-13 15:19] #277 closed

[2019-03-13 15:27] davidschober opened #425 "Email not being sent for failure"
## Description

When a batch fails, no emails are being sent. Emails are being sent on success.

## to recreate
- create a bad batch
- ingest
- see no failure is sent
- create a good batch
- send it through
- see an email is sent,.

relates to #391

cc: @mbklein

[2019-03-13 16:09] davidschober commented on #332
closing as stale.

[2019-03-13 16:09] #332 closed

[2019-03-18 14:37] laura-alagna commented on #424
@davidschober check for most recent file

[2019-03-18 15:02] davidschober opened #426 "fix move strategy"
Turn on move strategy on Avalon. Run script to move existing master files.

## Done looks like
- Master files are verified to be moved into preservation buckets.

[2019-03-18 17:23] davidschober commented on #426
@mbklein I looked at the pres bucket. I don't believe recent material has been being moved. Can we run a script to move them. I believe carrick wrote one.

[2019-03-18 19:49] laura-alagna opened #427 "Help! my batch disappeared"
### Severity

Is the production site running?
- [X] yes
- [ ] no

Are staff blocked from performing their work?
- [X] yes
- [ ] no

### Descriptive summary
I initiated an ingest on March 13 and received an email that the metadata was validated, no errors were found, and the batch was queued for ingest. However, the ingest has not gone through and I have not received an email about any errors (mayb

[2019-03-18 19:50] laura-alagna commented on #427
[batch_manifest.xlsx](https://github.com/nulib/avalon/files/2979994/batch_manifest.xlsx)

[2019-03-18 21:02] davidschober commented on #427
cc @mbklein Making sure you saw this come across

[2019-03-19 17:05] davidschober opened #428 "Run script to move masterfiles to pres"
## Description

Some masterfiles haven't been moving to production. We need to write a script to do after ingest processing on masterfiles and move them to the preservation bucket.

## done looks like
- script is written that moves masterfiles to preservation. This script should also output a log of "not found" masterfiles/pids to verify it's OK.
- script is run

[2019-03-19 20:04] chrisdaaz opened #429 "Video embed missing "https://" in src"
The video embed code is missing `https:` in the `src` attribute of the `<iframe>` element.

When users copy and paste the embed code into an HTML document, the iframe fails to load the content into the page.

Embedding works when `https:` is added at the begining of the `src`.

![image](https://user-images.githubusercontent.com/24395592/54638103-3b101d00-4a58-11e9-84a9-fa41962d2e48.png)

[2019-03-20 14:10] laura-alagna commented on #427
this is fixed, thanks @mbklein !

[2019-03-20 14:10] #427 closed

[2019-03-20 15:57] davidschober commented on #226
closing. If we get GTM I believe I can grab this info.

[2019-03-22 14:41] #426 closed

[2019-03-22 20:10] davidschober commented on #428
@mbklein ran this script. The move strategy should be working.

[2019-03-22 20:12] davidschober commented on #318
closing as stale.

[2019-03-22 20:12] #318 closed

[2019-03-22 21:00] davidschober opened #430 "normalize Avalon preservation bucket to use pairtrees"
## Description

Avalon's preservation bucket currently stores files in a mix of pairtree and straight directory. We will normalize to pairtree

## Done looks like

- preservation bucket stores all files in pairtree directories
- documentation written explaining storage scheme and "how to find a file"

[2019-03-22 21:02] davidschober opened #431 "generate list of Avalon presevation assets"
## Description

Generate list of Avalon preservation files to verify any "missing" pres files are course reserves/ not necessary for preservation

## Done looks like

- csv dumped that looks something like :

`collection, mediaobjectpid, masterfilepid, preservation location`

[2019-03-22 21:03] davidschober commented on #430
cc: @mbklein

[2019-03-22 21:03] davidschober commented on #431
cc: @mbklein

[2019-03-22 21:06] davidschober commented on #428
Verified a couple. @mbklein to look into normalizing pairtree and generating a list to triple verification

[2019-03-22 21:24] davidschober commented on #431
[mf_locations_buckets.xlsx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57113db3779ed80e00620458/125516c66e82c728ace21e0d46e592a52f8d80a89be0b04db762f2812a4d22673a46ef696097ec22ba416f43554d4ba4465b0c44f5f08e23a4b33478820e0becd03e5a73c33403b0aac04ee155e57dd205d0f4ae805ec1ef3724e28e8c4d36170d1d80f8583cb2d4.xlsx)

cc: @laura-alagna Let's go over this when I get back.

[2019-03-22 21:31] davidschober commented on #431
list generated in box https://northwestern.app.box.com/file/426432993014

cc: @laura-alagna let's go over this.

[2019-03-29 14:33] #431 closed

[2019-03-29 14:34] #428 closed

[2019-03-29 14:35] #424 closed

[2019-04-02 21:07] laura-alagna opened #432 "Can't select anything"
### Description
In avalon I will select items (that I am the manager of) then click "manage selected items"...and I get a "no items selected" message! So I can't actually make edits to more than one item at a time :/

<img width="1175" alt="Screen Shot 2019-04-01 at 1 17 23 PM" src="https://user-images.githubusercontent.com/25389954/55436258-d1206900-5569-11e9-9487-78619795b142.png">

### To recre

[2019-04-02 21:15] davidschober commented on #432
I was able to recreate this as well.

[2019-04-03 17:12] mbklein commented on #432
After some struggling with my dev environment, I've reproduced the issue locally as well.

[2019-04-03 18:10] mbklein commented on #432
I pushed a fix to staging; please verify and we can deploy it to prod.

[2019-04-03 19:29] davidschober commented on #432
worked for me. @laura-alagna do you want to check with your account as well?

[2019-04-03 19:31] laura-alagna commented on #432
agreed, the fix on staging looks good @mbklein !

[2019-04-03 19:52] davidschober commented on #432
Let's set this fix free! Be free bug fix, be free!

[2019-04-03 19:56] davidschober commented on #429
from @mbklein

mbklein [2:45 PM]
That’s actually by design, because there’s no way of knowing whether the page you’re embedding into is http or https. Most browsers will use a scheme-relative URL correctly.

@chrisdaaz what browser were you using? It should have updated that...

[2019-04-08 14:35] #432 closed

[2019-04-08 15:03] davidschober opened #433 "April 8 sprint"
## April 8 / 19

- [ ] Develop Datamodel
  + Meet about the model
  + Spawn tickets out of meeting
  + Basic metadata model written/
- [ ] Deployment models (spike)
  + Indy investigation about deployment strategies
- [ ] What are the inputs / Can we pull in a spreadsheet
  + initial list of inputs
  + gather test data
- [ ] Start thinking about running event log of events (pres)
  + Discuss with

[2019-04-15 14:50] #433 closed

[2019-04-15 14:54] #429 closed

[2019-04-27 14:57] davidschober commented on #78
@jenyoung This obviously fell off the docket. Can we discuss how critical this is? I'm trying to figure out if we should dedicate resources to it or if, given it's a small set of data, we can take it as a known issue.

[2019-04-27 14:58] davidschober commented on #185
@mbklein this never got done right? I'm starting to think we might need a chore sprint this summer.

[2019-04-27 15:25] davidschober commented on #66
Closing this as stale. cc: @ccaizzi

[2019-04-27 15:25] #66 closed

[2019-04-27 15:28] davidschober commented on #89
@druparrish, @egilchrist , @jenyoung is this still active? Are you comfortable with the docs we have? If so, let's close this as stale.

[2019-04-27 15:33] davidschober commented on #175
@adamjarling I'm closing this one as stale

[2019-04-27 15:33] #175 closed

[2019-05-07 20:30] davidschober commented on #425
identical to #391

[2019-05-07 20:30] #425 closed

[2019-05-22 14:45] davidschober commented on #215
Michael, I'm going to abandon this in favor of the dc sitemap

[2019-05-22 14:46] #215 closed

[2019-07-08 16:32] dependabot-preview[bot] opened #434 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-09 12:33] #434 closed

[2019-09-03 15:01] davidschober commented on #176
closing as stale

[2019-09-03 15:01] #176 closed

[2019-09-03 15:01] davidschober commented on #181
closing as stale

[2019-09-03 15:01] #181 closed

[2019-09-03 15:01] #195 closed

[2019-09-03 15:01] #196 closed

[2019-09-03 15:01] #295 closed

[2019-09-05 18:25] mbklein opened #447 "Deal with all handle/ark/link issues"
- [ ] Display `https` URLs in all share/embed sheets
- [ ] ~Make sure new works are generating arks~
- [ ] ~Generate arks for all existing works~
- [ ] ~Redirect existing handles to arks (batch SQL update via @d-venckus)~
- [ ] Verify all works have `media.` style permalinks (straight to AVR)
- [ ] Update links in existing course reserves w/Kurt

[2019-09-05 20:18] davidschober commented on #447
I removed it from the chores epic as that's for this release. Per MBK/DS slack pointed at around 8ish.

[2019-09-17 20:16] jenyoung opened #450 "Can't delete files in AVR"
### Severity

Is the production site running?
- [X] yes
- [ ] no

Are staff blocked from performing their work?
- [X] yes
- [ ] no

### Descriptive summary

I'm trying to delete some corrupted files from the Bienen collection that were ingested a while ago. I can't seem to be able to delete them.

Example: https://media.northwestern.edu/media_objects/kw52j9098/section/cz30pt753

### Expected behav

[2019-09-17 21:31] davidschober commented on #450
@jenyoung will unpublish all works in the collection that are bonked and add the query here. We will dig into this issue during a bi-fort-night.

[2019-09-18 16:56] davidschober commented on #391
@jenyoung reported again that emails are not being sent. I don't think is sorted out. We need to fix this so that end users have some feedback about batch going through.

CC: @mbklein

[2019-09-18 20:55] jenyoung commented on #391
@davidschober @mbklein we do get this email even if there are errors.

![2019-09-18_155335](https://user-images.githubusercontent.com/2250501/65185188-a4371400-da2c-11e9-97bd-24d1f9f6a0c1.png)

[2019-09-18 21:20] davidschober commented on #391
That’s interesting so some emails are getting kicked off and not others. Now I’m thoroughly confused

[2019-09-18 22:14] davidschober commented on #391
@jenyoung I get emails for collection creation. So it looks like it's just the batch errors/batch complete that aren't kicking off.

[2019-09-23 19:57] davidschober commented on #226
abandoning. As we move into AV 7, we will have a dataLayer and GTM support.

[2019-09-23 19:57] #226 closed

[2019-09-23 21:28] mbklein opened #451 "Long Canvas course IDs getting truncated"
When Course Reserves attempts to add a course with a long course ID (e.g., `2019FA_SPANISH_397-0_SEC2_AND_PORT_396-0_SEC20_AND_COMP_LIT_305-0_SEC21`) to a media object, the ID gets truncated to 50 characters. As a result, the item does not display for logged in members of that course. This isn't a backend storage issue, because adding the course from the Rails console works just fine. The issue is

[2019-09-23 21:33] mbklein commented on #451
The autocomplete call:
[code]

[2019-09-24 13:58] mbklein commented on #451
Upon further investigation, it seems this is not an Avalon problem. Ares is only sending the first 50 characters of the course ID during the LTI call that initializes the course. Manually changing it to the full ID in AVR's `courses` table makes the issue go away.

[2019-09-27 20:01] mbklein commented on #451
Kurt has worked with the Atlas folks to pinpoint exactly where the Ares LTI configuration is pulling from, and it's a field that's limited to 50 characters. Once it's updated to use the full ExternalCourseID, this issue should be resolved.

[2019-09-27 20:01] #451 closed

[2019-10-14 16:48] davidschober commented on #450
@jenyoung now it looks like that item has been deleted. I can't remember what we ended up doing here.

[2019-11-20 15:37] jenyoung commented on #450
the 14 unpublished works in the `Northwestern University School of Music Concert Recordings` collection have files attached I need to delete and/or replace. @davidschober @mbklein

[2019-11-20 19:50] davidschober commented on #450
https://media.northwestern.edu/?f%5Bcollection_ssim%5D%5B%5D=Northwestern+University+School+of+Music+Concert+Recordings&f%5Bworkflow_published_sim%5D%5B%5D=Unpublished

Just to be clear, we should delete all of the works here?

[2019-11-20 20:03] jenyoung commented on #450
No, I can't delete any `files` in a work. Don't delete any of them.

[2019-11-20 21:10] davidschober commented on #450
cc: @mbklein I tried to remediate this as well. The files that got stuck can't be removed from the media object.

[2019-11-25 16:32] #391 closed

[2020-01-02 16:08] davidschober commented on #405
@jenyoung do you know if this is still occurring? I think this got cleared up in a release.

[2020-01-23 17:14] mbklein commented on #450
I've located the cause of this issue, but I don't understand why it's happening. Brendan and I are continuing to look into it.

[2020-01-23 21:38] davidschober commented on #450
Thanks! I tested this. On staging I'm getting a 504 on a delete operation. Eventually it seems to delete. Can we also up the idle timeout?

[2020-02-03 15:03] davidschober commented on #89
@jenyoung @laura-alagna I'm culling some very stale issues. I think this one got done via our "big book" work and has just kind of been hanging around. I'm going to close it for now. Feel free to reopen if I'm misunderstanding something.

I marked the old box notes as "DEPRECATED". If you're OK with it, maybe we should just delete?

[2020-02-03 15:03] #89 closed

[2020-02-05 17:35] davidschober commented on #450
Fixed in staging, ready for Prod. Additionally we increased idle timeout which should help with some of the odd timeouts.

[2020-02-17 15:54] #450 closed

[2020-06-03 18:54] ccaizzi opened #474 "Create Berkeley Collection on Homepage"
Create a BFMF collection on AVR homepage once there is more than 1 item in it.  Remove Football Films and replace it with Berkeley.  Use the same thumbnail that is the representative image in Digital Collx.
https://media.northwestern.edu/?f%5Bcollection_ssim%5D%5B%5D=Berkeley+Folk+Music+Festival

[2020-06-03 18:59] davidschober commented on #474
Moving to RDC Planning

[2020-06-05 15:01] #92 closed

[2020-06-09 15:35] davidschober commented on #403
@jenyoung can you test this on staging?

[2020-06-15 14:37] davidschober commented on #403
@mbklein did you push this to prod? Can't remember. If so, can you move the issue?

[2020-06-23 15:40] #403 closed

[2020-06-23 15:40] #402 closed

[2020-07-27 15:22] davidschober commented on #173
@adamjarling this looks very stale. Closing.

[2020-07-27 15:22] #173 closed

[2021-03-23 11:43] davidschober commented on #447
@mbklein let's handle this during the spin down. I'd like to get this off our plate.

[2021-03-23 11:48] davidschober commented on #329
superseded by #447

[2021-03-23 11:48] davidschober commented on #185
This is a dupe. We've done some of this work and will fix the rest in #447.

[2021-03-23 11:48] #185 closed

[2021-03-23 11:49] #329 closed

[2021-03-23 11:50] davidschober commented on #430
We will handle the move of all preservation assets to Meadow in the next year. This is moot. Closing.

[2021-03-23 11:50] #430 closed

[2021-03-23 11:51] davidschober commented on #83
@mbklein this looks very stale. Can you verify that this is still valid?

[2021-03-23 11:51] davidschober commented on #83
Did this get cleaned up with the other alma work we did?

[2021-03-23 21:47] davidschober commented on #82
@jenyoung I think this issue is super stale. Closing.

[2021-03-23 21:47] #82 closed

[2021-03-24 04:16] mbklein commented on #447
@davidschober I did some investigating on this today because I wanted to refresh my memory. I thought it was going to be pretty easy, but unfortunately, not so much.

* We haven't been generating ARKs for new works in AVR since the Terraform cutover in June 2018. I don't remember why.
* Media Objects in Avalon have a single Permalink, not one per Section, so I don't know how we would support deep-

[2021-03-24 10:28] davidschober commented on #447
If it only supports one per section why would we deep link using arks. I’m confused by that last part.

Sent from my iPhone

On Mar 23, 2021, at 11:17 PM, Michael B. Klein ***@***.***> wrote:

﻿

@davidschober<https://urldefense.com/v3/__https://github.com/davidschober__;!!Dq0X2DkFhyF93HkjWTBQKhk!CL9sqGZt-G4T6w55YMexpAL0UAlyWvhvVbOZB7yLlfe-vpBNxNzWvyWIGTbQju7B6pj4n2X7Ng$> I did some investigating

[2021-03-24 10:31] davidschober commented on #447
Actually now I’m really confused. Each section in Avalon has a different handle. Let’s talk through this.

Sent from my iPhone

On Mar 24, 2021, at 5:28 AM, David Schober ***@***.***> wrote:

﻿ If it only supports one per section why would we deep link using arks. I’m confused by that last part.

Sent from my iPhone

On Mar 23, 2021, at 11:17 PM, Michael B. Klein ***@***.***> wrote:

﻿

@davidscho

[2021-03-24 11:47] davidschober commented on #447
Oops. I missed your edit in the wee hours. I was responding to the email notification which didn't have the edit. Disregard the above.

[2021-03-26 15:03] davidschober commented on #405
stale.

[2021-03-26 15:03] #405 closed

[2021-03-26 15:04] davidschober commented on #404
stale

[2021-03-26 15:04] #404 closed

[2021-03-26 15:07] davidschober commented on #78
stale. We will handle with a future migration.

[2021-03-26 15:07] #78 closed

[2021-03-30 21:50] davidschober commented on #447
@mbklein updated with the decision to _not_ use arks or handles in AVR

[2021-04-09 18:28] davidschober commented on #447
@mbklein I'm still seeing hdl. links on media.northwestern.

[2021-04-09 18:33] davidschober commented on #447
Examples from course video:

https://media.northwestern.edu/media_objects/j098zb22h

[2021-04-13 14:33] kdid commented on #447
@mbklein - there are two places these are exposed. One is fixed, one is not.  (share link is wrong, LTI link is right). Moving back to in progress.

[2021-05-18 15:40] kdid commented on #447
@davidschober - the script to update these is running. Please verify in a couple hours. (Brendan and I do not have access to see the link provided above)

[2021-05-20 19:43] davidschober commented on #447
Sorry I'm still seeing hdl links in a couple of places.

<img width="1058" alt="Screen Shot 2021-05-20 at 2 43 03 PM" src="https://user-images.githubusercontent.com/4803230/119039321-be4f9500-b979-11eb-83ac-3fac80d968aa.png">

[2021-05-20 19:44] davidschober commented on #447
In particular "section" and "embed". Embed of course isn't critical, but I would assume it's pulling from the same places, so I'm a bit confused.

[2021-06-07 16:14] kdid commented on #447
@mbklein and @davidschober - what is the status of this on production?

[2021-06-07 19:09] davidschober commented on #447
I checked before leaving and it was in the same state.

[2021-06-09 19:57] davidschober commented on #447
verified.

[2021-06-09 19:57] #447 closed